<!--
  Generated template for the PosmperformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->  
<ion-header style="z-index: 102;">  
  <ion-navbar> 
    <ion-buttons left> 
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
     </ion-buttons>
    <ion-title text-center >{{ selectAuditData.posm_audit_type }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">

  <ion-row> 
    <ion-col col-12 class="col-12" text-center>
    <p class="P-titlepic">Take a picture of the {{ selectAuditData.posm_audit_type }} and get</p>
    <!-- <p class="P-titlescan" *ngIf="selectAuditData.posm_type==1">Take a scan of the {{ selectAuditData.posm_audit_type }} and get</p> -->
    <div style="width: 100%; ">
    <div style="width: 40%;float: left;text-align: end;padding-top: 2px;">
    <img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;"></div> 
    <div style="width: 60%;float: right;text-align: initial;">
    <p class="P-titlePoints">{{selectAuditData.points}} COINS</p></div></div>
    </ion-col>
    <!-- <ion-col col-12 class="col-12" no-padding text-left style="font-family: regular;" *ngIf="selectAuditData.posm_type==1">Take a scan of the {{ selectAuditData.posm_audit_type }} and get</ion-col>  -->
  </ion-row>

  <ion-row no-padding>
    <ion-col col-12 no-padding> 
      <ion-card class="crads">
        <div class="item item-avatar">
          <img [src]="imageMain">
       </div>
      </ion-card>
    </ion-col>
    </ion-row>

    <ion-row padding style="margin-top: -11px;">
      <ion-col col-12 no-padding text-center style="color: #FFFFFF; font-size: 18px !important;font-family: semibold;">Instructions</ion-col>
    </ion-row>

    <!-- <ion-row padding style="color: #FFF;margin-top: -20px;
    font-size: 10px;
    padding-left: 50px;
    padding-right: 50px;">
      <ion-col col-3 no-padding text-center>
        <img src="assets/imgs/qr_code.png" *ngIf="selectAuditData.posm_type==1">
        <img src="assets/imgs/selfie.png" *ngIf="selectAuditData.posm_type==2" class="imgSelfie">
        <br>
        <span *ngIf="selectAuditData.posm_type==2">Take picture</span>
        <span *ngIf="selectAuditData.posm_type==1">QR Code Scan</span>
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon"></ion-icon>
      <ion-col col-3 no-padding text-center>
        <img [src]="imageMain" class="imageFooter"> 
        <br>
        {{ selectAuditData.posm_audit_type }}
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon" *ngIf="selectAuditData.posm_type==2"></ion-icon>
      <ion-col col-3 no-padding text-center *ngIf="selectAuditData.posm_type==2">
        <img src="assets/imgs/img_matching.png" *ngIf="selectAuditData.posm_type==2">
        <br>
          <span *ngIf="selectAuditData.posm_type==2">Image Macthing</span>
          <span *ngIf="selectAuditData.posm_type==1">QR code</span>
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon"></ion-icon>
      <ion-col col-3 no-padding text-center>
        <img src="assets/imgs/reward_points.png" >
        <br>
      </ion-col>
    </ion-row> -->
  
    <ion-row style="margin-top: -11px;">

    <ion-col col-12 class="col-12"> 
      <div style="width: 100%;">
        <div style="width: 8%; float: left;">
          <p class="InstructionsCl1Count">1.</p>
        </div>
        <div style="width: 92%; float: right;">
          <p class="InstructionsCl1">Click on ‘Click Picture’</p>
        </div>
      </div>
    </ion-col>

    <ion-col col-12 class="col-12" style="margin-top: -9px;"> 
      <div style="width: 100%;">
        <div style="width: 8%; float: left;">
          <p class="InstructionsCl1Count">2.</p>
        </div>
        <div style="width: 92%; float: right;">
          <p class="InstructionsCl1">Take a clear picture of the {{ selectAuditData.posm_audit_type }}</p>
        </div>
      </div>
    </ion-col>

    <ion-col col-12 class="col-12" style="margin-top: -9px;"> 
      <div style="width: 100%;">
        <div style="width: 8%; float: left;">
          <p class="InstructionsCl1Count">3.</p>
        </div>
        <div style="width: 92%; float: right;">
          <p class="InstructionsCl1">Earn Reward Points if the picture is as per Correct Execution Guidelines</p>
        </div>
      </div>
    </ion-col>

        <!-- <p *ngIf="selectAuditData.posm_type==2">Click on ‘Click Picture’ > Take a clear
          picture of the {{ selectAuditData.posm_audit_type }} > Earn
          Reward Points if the picture is as
          per Correct Execution Guidelines</p> -->
          <!-- <p *ngIf="selectAuditData.posm_type==1">Click on ‘Click Scan’ > Take a clear
            scan of the {{ selectAuditData.posm_audit_type }} > Earn
            Reward Points if the scan is as
            per Correct Execution Guidelines</p> -->
    </ion-row>

</ion-content>
<ion-footer style="z-index: 102;">
  <ion-toolbar>
    <ion-row >
      <ion-col no-padding style="text-align: -webkit-center;">
          <button margin padding-top  padding-bottom ion-button round text-capitalize full small  style="width: 60%;height:50px ;font-size: 15px;background-color:#b71717;text-transform: inherit !important;" (click)="ActionSheetFile()" *ngIf="selectAuditData.posm_type==2">Click Picture</button> 
          <button margin padding-top  padding-bottom ion-button round text-capitalize full small  style="width: 60%;height:50px ;font-size: 15px;background-color:#b71717;text-transform: inherit !important;" (click)="QRCodeScan()" *ngIf="selectAuditData.posm_type==1">Click Scan</button>
      </ion-col>
  </ion-row>
  </ion-toolbar>  
</ion-footer>