page-contactus {
    ion-title {
        text-align: center;
        
    }
    .toolbar-title{
        color: #F4F8FB;
    }
    .toolbar-background {
        background-color:   #000006;
      }

      .p-txt{
        font-size: 11pt !important;
        color: #949494;
        font-family: medium;
        text-align: justify;
        margin: 10px 0px;
      }

.pheadd{
    font-size: 10pt !important;
    color: #F4F8FB;
    font-family: medium;
    text-align: justify;
    margin: 10px 0px;
}
        .phead {
            font-size: 10pt !important;
            color: #949494;
            font-family: medium;
            text-align: justify;
            margin: 10px 0px;
        }

        ion-title {
            text-align: center;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }
        
        .tabbar {
            display: none;
        }
    .show-tabbar{
        display: none;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#000000;
        color: white;
        text-align: center;
        padding: 16px;
     }
    
    
    
     .quiz_button{
        background-color: #D51010;
        padding: 9px 51px;
        border-radius: 17px;
        color: #FFFFFF;
     }
     
     .background {
        background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
         rgb(20,0,9) 100%); 
         
            }
            ion-icon {
                display: inline-block;
                font-size: 3.2em;
                color: aliceblue;
            }
}
