<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Get in Touch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="background" fullscreen padding="10px" >
  <div class="row" style=" margin: 10px 0px;"   >
  
    <div class="col-12 mx-auto">
      <p class="pheadd" style="    text-align: center;" >How Can We Help ?</p>
      <p class="phead">Find answers to all your queries in the FAQ section.</p>
      <br>
      <p class="pheadd" style="font-style: italic;" >Still looking for help? Get in touch with an ABInBev Representative today! </p>
    </div>

   

    </div>
   
    <div class="row" no-padding no-margin>
      <ion-col col-2 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="text" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-10 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Support@bigcity.in</p>
      </ion-col>
  
    </div>
<br>
    <div class="row" no-padding no-margin>
      <ion-col col-2 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="ios-call-outline" class="iconleft"></ion-icon> 
      </ion-col>
      <ion-col col-10 class="col-10 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">+1-8659-669796</p>
      </ion-col>
    </div>

</ion-content>
