<!--
  Generated template for the PointsSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left >
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons>
    <ion-title>COINS SUMMARY</ion-title>
</ion-navbar>

</ion-header>
  <ion-content class="background" fullscreen padding="" >
    <div class="row" style="background-color: #B71717  ;   padding: 18px 0px"   >
      <div class="col-8 ">
        <p class="pheadd" style="    text-align: left;">REDEEMABLE COINS AVAILABLE</p>
      </div>
      <div class="col-4">
       <p class="pheadd" style="    text-align: right;"><span> <img src="assets/imgs/coin_2.png"></span> {{total_points}}</p>
      </div>
  </div>
    <div  style="background-color: #B71717;    margin-top: 5px;    margin-bottom: 5px; "  *ngFor="let list of datas ;">
      <div class="row"  style="background-color:#5c0f0f; "  (click)="od(list.points_mehtod)">
        <div class="col-8 ">
          <p class="phead" style="    text-align: lefy;">{{list.description}}</p>
          <p class="phead" style="text-align: lefy;">{{list.cretaed_on}}</p>
        </div>
        <div class="col-4">    <p class="phead" style="    text-align: right;"> <span *ngIf="list.points_mehtod=='redeem_minus'"  > 
           <ion-icon style="color: #ff0000;font-size: 1.4em;" ios="ios-remove" md="md-remove"></ion-icon></span> <span *ngIf="list.points_mehtod=='earned_plus'" ><ion-icon style="color: #0cff0c;font-size: 1.4em;" ios="ios-add" md="md-add"></ion-icon></span><span> <img src="assets/imgs/rewardcoin.png"></span>{{list.points}}</p></div>      
      </div>
     
  </div>
</ion-content>
<ion-footer no-padding no-margin *ngIf="TabIndex==2">
  <ion-row>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(1)">
        <ion-icon name="home" ng-reflect-name="home" ng-reflect-is-active="true" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Home</span>
      </a>  
    </ion-col>
    <ion-col col-3>
        <a class="ASelect" (click)="TabIcon(2)">  
          <ion-icon name="reorder" ng-reflect-name="reorder" ng-reflect-is-active="true" class="IconTabSelect"></ion-icon>
          <span class="SpanTextSelect">Coins</span>
        </a>  
    </ion-col>
    <ion-col col-3>
      <a (click)="TabIcon(3)" class="AUnSelect">
        <ion-icon name="reorder" ng-reflect-name="reorder" ng-reflect-is-active="true" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Reward Store</span>
      </a> 
    </ion-col>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(4)">
        <ion-icon name="person" ng-reflect-name="person" ng-reflect-is-active="true" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Profile</span>
      </a> 
    </ion-col>
  </ion-row>
</ion-footer>