page-points-summary {
    ion-title {
        text-align: center;
        
    }
    .toolbar-title{
        color: #F4F8FB;
    }
    .toolbar-background {
        background-color:   #000006;
      }

      .toolbar-background-md {
        background: #190909;
    }
         .toolbar-background-ios {
        background: #190909;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #F4F8FB;
        margin-left: 10px;
        font-family: medium;
    }
        .toolbar-title-ios {
padding: 0px;
        font-size: 1.4rem;
        font-weight: 500;
        color: #F4F8FB;
        margin-left: 10px;
        font-family: medium;
    }
    

.background {
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%); 
     
        }
        .phead {
            font-size: 10pt !important;
            color: #F4F8FB;
            font-family: medium;
            text-align: justify;
            margin: 10px 0px;
        }
        .points{
            font-size: 13pt !important;
            color: #F4F8FB;
            font-family: medium;
            text-align: justify;
            margin: 10px 0px;
        }
        .pheadd{
            font-size: 8pt !important;
            color: #949494;
            font-family: medium;
            text-align: justify;
            margin: 10px 0px;
        }
        ion-title {
            text-align: center;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }
        
        .tabbar {
            display: none;
        }
    .show-tabbar{
        display: none;
    }

     .rowprofile {

        margin-bottom: 2px;
        border-radius: 5px;
    }
    
     .quiz_button{
        background-color: #D51010;
        padding: 9px 51px;
        border-radius: 17px;
        color: #FFFFFF;
     }
}
page-points-summary .pheadd {
    font-size: 14pt !important;
    color: white;
    font-family: medium;
    text-align: justify;
    margin: 32px 0px;
}
