page-revenue {
    .panel-text p {
        font-size: 1.6rem !important;
        line-height: normal;
    }
    .panel-button .button-ios {
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.4rem;
        color: #fff;
        background-color: #1364f4;
        margin: 0.4rem 0.2rem;
        padding: 0 1.2em;
    }
    .panel-button .button-md {
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.4rem;
        color: #fff;
        background-color: #1364f4;
        margin: 0.4rem 0.2rem;
        padding: 0 1.2em;
    }
    .panel-header p {
        font-size: 13px;
        font-weight: 400;
    }
    .card-header-ios {
        font-size: 1.6rem;
        font-weight: 500;
        color: #333;
        padding: 5px 7px;
    }
    .card-header-md {
        font-size: 1.6rem;
        font-weight: 500;
        color: #333;
        padding: 5px 7px;
    }
    span.text-color{
        color: #f26908;
    }
   
   .panel-body {
        padding: 5px 0;
        margin-top: 5px;
    }
    .panel-inner1 p {
        float: right;
    }
    .panel-body p {
        font-size: 13px;
        color: #000;
    }
    .card:nth-child(1) span.text-color {
        color: #f26908;
    }
    .card:nth-child(2) span.text-color {
        color: green;
    }
    .card:nth-child(3) span.text-color {
        color: red;
    }
    .card:nth-child(5) span.text-color {
        color: green;
    }
    .card-ios {
        margin-top: 0;
    }
    .card-md {
        margin-top: 0;
    }
}
