<!--
  Generated template for the RevenuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2><ion-icon name="arrow-back" style="font-size: 27px;" margin-left (click)="BackBtn()"></ion-icon></ion-col>   
      <ion-col col-10><ion-title no-padding no-margin >Revenue Realisation</ion-title></ion-col>
    </ion-row> 
  </ion-navbar>
</ion-header>  

<ion-content padding>
<div class="container">
  <ion-row>
    <ion-col col-7>
    <div class="panel-text">
        <p>Do your sales/revenue
            realization from here</p>
    </div>
    </ion-col>
    <ion-col col-5>
     <div class="panel-button">
        <button (click)="logsales()" ion-button class="float-right">Log your sales</button>
     </div>
    </ion-col>
  </ion-row>
</div>
  <ion-row>
    <ion-col col-12>
      <ion-card *ngFor="let card of cards">
        <ion-card-header>
          <div class="panel-header">
            <p class="panel-title text-dark">{{card.date}} &nbsp;{{card.time}}<span class="text-color float-right">{{card.process}}</span></p> 
          </div>
          </ion-card-header>
        
          <ion-card-content class="panel-body">
          <div class="container">
            <ion-row>
              <ion-col col-9>
                <div class="panel-inner ml-2">
                 <p>{{card.type}}</p>
                 <p>{{card.reward}}</p>
                 <p>{{card.revenue}}</p>
                </div>
              </ion-col>
              <ion-col col-3>
               <div class="panel-inner1 mr-2">
                  <p>{{card.qrcode}}</p>
                  <p>{{card.points}}</p>
                  <p>{{card.number}}</p>
               </div>
              </ion-col>
            </ion-row>
          </div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
