page-login {
    .carousel-inner img {
        width: 100%;
        height: 200px;
    }
    .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
    .submit_btn{
      background-color: #d51010;
      color:#FFF;
      width: 70%;
      margin: 0px auto;
      border-radius: 5px;
      text-transform: capitalize;
    }
   .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .scroll-content,
    fixed-content {
        .middle-page{
          padding: 5px 30px;
          padding-top:5%;
          ion-item{
            background: none;
            padding-left: 0 !important;
            color: #fff !important;
               // background-color: rgb(231, 230, 230) !important;
               margin-bottom: 10px;
               // border-radius: 10px;
          }
          button{
               margin-top:2rem;
               height: 3.7rem;
               border-radius: 1;
          }
        }//end middle page
        .bottom-page{
          height: 7%;
        }//End bottom page
    }

    .carousel-inner img {
        width: 100%;
        height: 264px;
    }

    .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
    .submit_btn{
      font-family: semibold;
      background-color: #d51010;
      color:#FFF;
      width: 70%;
      margin: 0px auto;
      border-radius: 10px;
      text-transform: inherit;
      height: 4.5rem !important; 
    }
    .scroll-content,
    fixed-content {
        .middle-page{
          padding: 5px 30px;
          padding-top:5%;
          ion-item{
            background: none;
            padding-left: 0 !important;
            color: #fff !important;
               // background-color: rgb(231, 230, 230) !important;
               margin-bottom: 10px;
               // border-radius: 10px;
          }
          button{
               margin-top:2rem;
               height: 3.7rem;
               border-radius: 1;
          }
        }//end middle page
        .bottom-page{
          height: 7%;
        }//End bottom page
        .text-input-md {
          margin: 13px 8px;
          padding: 0;
          width: calc(100% - 8px - 8px);
          text-align: center;
          font-size: 17px;
          font-weight: 600;
          border-radius: 10px;
      }

         .text-input-ios {
          margin: 13px 8px;
          padding: 0;
          width: calc(100% - 8px - 8px);
          text-align: center;
          font-size: 17px;
          font-weight: 600;
          border-radius: 10px;
      }
    }
    .text-white {
      color:#F4F8FB;
      font-family: medium;
    }
    .item-md { 
        font-family: medium;
      background-color:#ffffff !important; 
      border: 1px solid #FFF;
      border-radius: 10px;
      margin-top: 10px;
    }
 .item-ios { 
      font-family: medium;
      background-color:#ffffff !important; 
      border: 1px solid #FFF;
      border-radius: 10px;
      margin-top: 10px;
    }
  .list-md {
      margin: -1px 0 33px;
  }

  .list-ios {
      margin: -1px 0 33px;
  }

  .item-input ion-input, .item-input ion-textarea {
    position: static;
    text-align: center;
    color: black;
    border: 0px;
  } 

  .errormsg {
    color: #ff0000;
    padding-left: 5px;
    font-size: 16px !important;
    margin-bottom: 0px !important;
  }

}
