<!--
  Generated template for the LoginPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding class="background">
  <div class="">
    <ion-slides autoplay="2000" loop="true" speed="100s" pager="true" no-padding>
      <ion-slide> 
        <img src="assets/imgs/Bud banners_login 1.jpg" >
      </ion-slide>
      <ion-slide> 
        <img  src="assets/imgs/Bud banners_login 2.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/Bud banners_login 3.jpg" />
      </ion-slide>
    </ion-slides>
  </div>  
  <!-- <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imgs/rewards_login.png" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item"> 
        <img src="assets/imgs/rewards_login.png" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">  
        <img src="assets/imgs/rewards_login.png" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <ul class="carousel-indicators" style="margin-top: 10px;position: relative;">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  </div> -->
<ion-list>
<div class="middle-page">
<ion-row style="margin-top: 20px;"> 
  <h3 style="text-align:center;font-size:15px;line-height:25px; margin: 0px auto" class="text-white">Earn Points, Complete Daily</h3> 
  <h3 style="text-align:center;font-size:15px;line-height:25px;margin: 0px auto" class="text-white">Activities and Win Exciting Prizes!</h3> 
</ion-row>
<ion-row style="margin-top: 66px;">
  <h3 style="text-align:center;font-size: 17px;margin: 0px auto" class="text-white">Enter Mobile Number to get started</h3>
</ion-row>

<form [formGroup]="slideOneForm" (ngSubmit)="loginbtn()" novalidate>
<ion-row> 
<ion-item class="username"> 
  <!-- (keypress)="MobCheck($event)"  -->   
  <ion-input type="number" placeholder="Enter Mobile Number" [(ngModel)]="username" formControlName="firstName" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty)" autocomplete="off">
  </ion-input> 
</ion-item>
  <!-- <p *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty)" class="errormsg">
    Please enter a valid name.
  </p>  -->
  <p class="errormsg" *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty) && errorControl.firstName.errors?.required"> 
    Mobile number is required. 
  </p>
  <!-- <p class="errormsg" *ngIf="errorControl.firstName.errors?.minlength">  
    Oops! Please enter a valid mobile number.
  </p>
  <p class="errormsg" *ngIf="errorControl.firstName.errors?.maxlength">
    Oops! Please enter a valid mobile number.
  </p> -->
<!-- <input type="number" class="username" [(ngModel)]="username" (keypress)="MobCheck($event)" (keyup)="onKeyUp($event)" [ngModelOptions]="{standalone: true}"> 
    <ion-input type="number" (ionInput)="onKeypress($event)" (keyup)="onKeyUp($event)" placeholder="Enter Mobile Number" [(ngModel)]="username" style="text-align: center;color: black;border:0px" autocomplete="off">
  </ion-input> 
-->
</ion-row> 
<ion-row style="text-align: center;margin-top: 50px;text-transform: uppercase !important;">  
  <button ion-button full type="submit" class="submit_btn">Submit</button>  
  <!-- <button ion-button full type="submit" class="submit_btn" [disabled]="buttonDisable" *ngIf="BtnShow">Submit</button>  -->
</ion-row>
</form>
</div>
</ion-list> 
</ion-content>