<!--
  Generated template for the VoucherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="content-area">
    <ion-row> 
      <ion-col col-10 offset-1>
        <div class="panel" *ngIf="Landing==1">
          <div class="cross-btn">
              <button ion-button icon-only  class="Btn-close" (click)="closemodal()">
                  <ion-icon name="close"></ion-icon>
                </button>
          </div>
          <div class="panel-header">    
            <h6 class="p-4"><ion-icon (click)="closemodal()" name="md-arrow-round-back" style="font-size: 19px; margin-right: 10px;color: #007bff;"></ion-icon>Realize via voucher code</h6>
          </div>
          <div class="panel-body my-4 p-4"> 
              <form>
                <div class="form-group">
                    <label for="usr">Enter voucher code</label>
                    <input type="text" class="form-control" id="usr" name="username">
                  </div>
              </form>
            </div>
            <footer>
              <div class="footer-btn">
                <button ion-button>Submit</button>
              </div>
            </footer>
        </div>
    
        <div class="panel" *ngIf="Landing==2">
          <div class="cross-btn">
              <button ion-button icon-only  class="Btn-close" (click)="closemodal()">
                  <ion-icon name="close"></ion-icon>
                </button>
          </div>
          <div class="panel-header">    
            <h6 class="p-4"><ion-icon (click)="closemodal()" name="md-arrow-round-back" style="font-size: 19px; margin-right: 10px;color: #007bff;"></ion-icon>Realize via QR code</h6>
          </div>
          <div class="panel-body my-4 p-4"> 
              <form>
                <div class="form-group">
                    <label for="usr">Enter voucher code</label>
                    <div class="form-control" >{{ Usercode }}</div> 
                  </div>
              </form>
            </div>
            <footer>
              <div class="footer-btn">
                <button ion-button>Submit</button>
              </div>
            </footer>
        </div>

        
        <div class="panel" *ngIf="Landing==3">
          <div class="cross-btn">
              <button ion-button icon-only class="Btn-close" (click)="closemodal()">    
                  <ion-icon name="close"></ion-icon>
              </button>
          </div>
          <div class="panel-header">    
            <h6 class="p-4">
              <ion-icon (click)="closemodal()" name="md-arrow-round-back" style="font-size: 19px; margin-right: 10px;color: #007bff;"></ion-icon>Realize via Upload a bill</h6>
          </div>
          <div class="panel-body my-4 p-4"> 
              <form>
                <div class="form-group">
                    <label for="usr">Upload a bill</label> 
                    <img [src]="Usercode" style="width:100%">  
                    <!-- <div class="form-control" >{{ Usercode }}</div>  -->
                  </div>
              </form>
            </div>
            <footer>
              <div class="footer-btn">
                <button ion-button>Submit</button>
              </div>
            </footer>
        </div>

      </ion-col>
    </ion-row>
    </ion-content>