<!--
  Generated template for the ImagetaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CLICK A PICTURE</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background" fullscreen padding="10px" *ngIf="image== false && no_image==true " >
  <div>
<img src="assets/imgs/standie.png"> 
  </div>
  <p class="pheadd">instructions</p>
  <p class="pbodyy">Take a selfie with the budwiser standee at your store with 2 customers</p>

</ion-content>

<div class="footer"  *ngIf="image== false && no_image==true " >
  <button class=" quiz_button" (click)="cameratest()">START TASK</button>
</div>




<ion-content class="background" fullscreen padding="10px" *ngIf="image== true && no_image==false " >
  <div>
<br>

<img style="text-align: center;margin: 0 auto; display: block;" [src]="imageData"> 
  </div>
  <p class="pheadd"  (click)="cameratest()">take a new picture </p>

</ion-content>

<div class="footer"  *ngIf="image== true && no_image==false ">
  <button class=" quiz_button" (click)="NextBtn1()" [class.disabled]="disabled==true">SUBMIT IMAGE</button>
</div>