page-imagetask {
    .toolbar-background {
        background-color:   #000006;
      }
      .disabled {
        cursor: not-allowed;
        pointer-events:none;
        opacity: 0.4;
      }

.background {
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%); 
     
        }

        ion-title {
            text-align: center;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }
        .pheadd {
            font-size: 10pt !important;
            color: #F4F8FB;
            font-family: medium;
            text-align: center;
            margin: 17px 0px;
        }
        .pbodyy {
            font-family: regular;
            font-size: 9pt !important;
            color: #949494 !important;
            text-align: center;
            padding: 0px 30px;
        }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#000000;
    color: white;
    text-align: center;
    padding: 16px;
 }



 .quiz_button{
    background-color: #D51010;
    padding: 9px 51px;
    border-radius: 17px;
    color: #FFFFFF;
 }
