<ion-header>
  <ion-navbar> 
    <ion-row no-padding no-margin>
      <ion-col col-2 class="col-2" no-padding no-margin>
        <button ion-button icon-start clear small (click)="closeBtn()"> 
          <ion-icon name="ios-close-outline" mode="ios" style="font-size: 5rem; color: #F4F8FB;"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-10 class="col-10" no-padding no-margin> 
          <ion-title text-left>Filter By</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgcolor">
  <ion-grid>
      <ion-row>
          <ion-col class="col-12" [ngClass]="{'col-5': FilterSubCat }">
            <ion-list>
              <ion-item class="catname" id="catname_{{i}}" (click)="SubCategoryBtn(i)" *ngFor="let item of productlistbycat;let i=index;" >{{ item.category_name }}</ion-item>  
              <!-- <ion-item class="catnameSelect">Brand</ion-item>
              <ion-item class="catname">Discount</ion-item>
              <ion-item class="catname">Price</ion-item> 
              <ion-item class="catname">Offers</ion-item> -->
            </ion-list>
          </ion-col>
        <ion-col class="col-7" *ngIf="FilterSubCat">
          <ion-list>
            <ion-item class="subcatsrc">
              <ion-searchbar no-margin no-padding placeholder="Search Category By Name"></ion-searchbar>
            </ion-item>
              <ion-row>
              <ion-item class="subcatname">  
                Fashion & lifestyling
                <ion-note item-end>3</ion-note>
              </ion-item>
              </ion-row>  
           </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
      <ion-row>
        <ion-col col-6 class="col-6" text-center>
            <button ion-button (click)="ClearAll()" class="clearallBtn">Clear all</button>
        </ion-col>
        <ion-col col-6 class="col-6" text-center>
          <button ion-button (click)="redeemBtn()" class="NextBtn">Apply</button>
        </ion-col>
      </ion-row>
</ion-footer>