page-rewardfilter {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {
        color: #fff;
    }
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: #fff;
        pointer-events: auto;
        margin-top: -6px;
    }
    .catgory {
        border: 1px solid red($color: #000000);
    }
    .grid {
        padding:0px !important;
    }
    .col {
        padding: 0px 2px; 
    }
    .item-ios {
        padding-left: 2px !important;
        background-color: transparent !important;
    }
    .label-ios {
        margin:0px;
    }
    .button-inner {
        border-radius: 5px;    
    }
    .content {
        padding: 14px;
    }
    .item-md {
        padding: 2px;
    }
    .clearallBtn {
    border-radius: 11px;
    height: 4.0rem;
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: capitalize;
    color: #F4F8FB;
    width: 88%;
    border: 1px solid #EAEAEA;
    background-color: transparent;
    font-family: regular;
    }
    .NextBtn {
    background-color: #D51010 !important;
    height: 4.6rem;
    border: 1px solid #949494;
    width: 88%;
    border-radius: 11px;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: regular;
    }
    .subcatname { 
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.05);
    padding-left: 10px;
    color: #F4F8FB;
    font-size: 1.3rem;
    }
    .subcatsrc {
    background-color: transparent;  
    }
    .catname {  
        margin-bottom: 1px !important;
        padding-left: 16px !important;
        color: #F4F8FB;
        background-color: rgba(255, 255, 255, 0.05);
        font-size: 16px !important;
    }
    .catnameSelect {  
        margin-bottom: 1px;
        padding-left: 16px;
        background-color: #F4F8FB;
        color: #535353;
        font-size: 16px !important;
    }
    .item-md.item-block .item-inner {
    border-bottom: none !important;
    }
    .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
        display: none !important;
    }
    .searchbar-md .searchbar-input {
        padding: 0px !important;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3rem;
        color: #949494;
        background-color: transparent;
         box-shadow:none !important;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: transparent;
    }
    
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
         border-bottom:none !important; 
    }
    .list-ios > .item-block:first-child {
        border-top:none !important; 
    }
   
}