<!--
  Generated template for the FinishedLeaderboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the LeadersboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons>
     <ion-title>LEADERBOARD</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content class="background" fullscreen padding="10px" >
  <div class="row" style="background-color: #B71717; margin: 10px 0px;" (click)="leader()" >

      <div class="col-2" > <p class="phead" style="    text-align: center;">1</p></div>
      <div class="col-8 mx-auto"><p class="phead" style="    text-align: center;">Outlet user 1 Name</p></div>
      <div class="col-2">    <p class="phead" style="    text-align: center;">700</p></div>
  
   
  
    
  </div>

  <div class="row" style="background-color: #B71717; margin: 10px 0px;" >

    <div class="col-2" > <p class="phead" style="    text-align: center;">2</p></div>
    <div class="col-8 mx-auto">  <p class="phead" style="    text-align: center;">Outlet user 1 Name</p></div>
    <div class="col-2">  <p class="phead" style="    text-align: center;">700</p></div>

 

  
</div>



<div class="row" style="background-color: #B71717; margin: 10px 0px;" >

  <div class="col-2" > <p class="phead" style="    text-align: center;">3</p></div>
  <div class="col-8 mx-auto"><p class="phead" style="    text-align: center;">Outlet user 1 Name</p></div>
  <div class="col-2">    <p class="phead" style="    text-align: center;">700</p></div>




</div>

<div class="row" style="background-color: #B71717; margin: 10px 0px;" >

  <div class="col-2" > <p class="phead" style="    text-align: center;">4</p></div>
  <div class="col-8 mx-auto"><p class="phead" style="    text-align: center;">Outlet user 1 Name</p></div>
  <div class="col-2">    <p class="phead" style="    text-align: center;">700</p></div>




</div>
  <!-- <p class="phead">Serving Well to ensure Customer Satisfication</p> -->
  <!-- <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>
 

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>
  -->


</ion-content>


