<!--
  Generated template for the Mysteryshopper1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="dark">
    <div left class="maindivtitle" (click)="ProfileBtn()">
      <div class="maindivtitle1">
        <p>{{ FirstCharStr(MysteryShopName) }}</p> 
      </div>
    </div> 
  <ion-title text-left style="width: 100%; float: left; padding-top: 3px;" (click)="ProfileBtn()">{{ MysteryShopName }}</ion-title>
  <button ion-button end icon-only (click)="Notification()" style="background-color: #1a0505; color: #F4F8FB; height: 2.6rem;float: right;">  
    <ion-icon right name="ios-notifications-outline" mode="ios"></ion-icon>
  </button> 
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

   <!-- <h1 text-center>Assignments</h1>
   <ion-row no-padding class="firstdiv" style="margin-top:2px;"  *ngFor="let outlet_data of outlet_datas;let i=index;">
    <ion-card class="carddesign">
      <ion-row>
        <ion-col col-8 class="col-8">
          <p>{{outlet_data.outlet_name}} ({{outlet_data.outlet_code}})</p>
          <h3>{{outlet_data.channel_desc}}</h3>
          <p>Church Street 6th Cross ,Bangayappa Garden Karnataka 560001</p>
          <h2>{{outlet_data.last_date_audit}}</h2>
        </ion-col>
        <ion-col col-4 class="col-4"> 
          <button (click)="NextBtn()" ion-button color="secondary" round small>Pending</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row> -->
   
  <ion-row no-padding class="firstdiv" *ngFor="let item of outlet_datas;let i=index;" [ngStyle]="{ 'margin-top': i != 0 ? '3px':'' }"> 
    <ion-card class="carddesign" *ngIf="item.status=='Pending'" (click)="NextBtn(i)">
      <ion-row> 
        <ion-col col-9 class="col-9 txtcol-9">
          <p class="txtname">{{ item.outlet_name+" ("+item.outlet_code+") " }}</p>
          <h3 class="txttype" [ngStyle]="{'margin-top': item.address==null ? '12px':''}">{{ item.channel_desc }}</h3>
          <p class="txtcontent" *ngIf="item.address!=null">{{ item.address }}</p>
          <h2 class="txtdate" [ngStyle]="{'margin-top': item.address==null ? '21px':''}">Last Date to Audit {{ item.last_date_audit }}</h2>
        </ion-col>
        <ion-col col-3 class="col-3 imgcol-3">
        <img src="assets/imgs/location.png" class="locationimg">
        <button ion-button class="Pendingbtn"><span style="color: #FFD505;">{{ item.status }}</span></button>
        </ion-col>
      </ion-row>

      <!-- <ion-row no-padding no-margin class="rowbottom">
        <ion-col col-12 no-margin no-padding class="cardcol-12">
          <button ion-button class="Pendingbtn"><span style="color: #FFD505;">{{ item.status }}</span></button>
        </ion-col>
      </ion-row> -->

    </ion-card>
    <ion-card class="carddesign" *ngIf="item.status=='Completed'">
      <ion-row> 
        <ion-col col-9 class="col-9 txtcol-9">
          <p class="txtname">{{ item.outlet_name+" ("+item.outlet_code+") " }}</p>
          <h3 class="txttype" [ngStyle]="{'margin-top': item.address==null ? '12px':''}">{{ item.channel_desc }}</h3>
          <p class="txtcontent" *ngIf="item.address!=null">{{ item.address }}</p>
          <h2 class="txtdate"  [ngStyle]="{'margin-top': item.address==null ? '21px':''}">Last Date to Audit {{ item.last_date_audit }}</h2>
        </ion-col>
        <ion-col col-3 class="col-3 imgcol-3">
          <img src="assets/imgs/correct.png" class="correctimg">
        </ion-col>
      </ion-row>
        <!-- <ion-row no-padding no-margin class="rowbottom">
          <ion-col col-12 no-margin no-padding class="cardcol-12">
            <button ion-button class="Pendingbtn"><span style="color: #FFD505;">Pending</span></button>
          </ion-col>
        </ion-row>  -->
    </ion-card>
  </ion-row>


  <!-- <ion-row no-padding class="firstdiv" style="margin-top:2px;" >
 
  </ion-row> -->

  <!-- <ion-row no-padding class="firstdiv" style="margin-top:2px;" (click)="NextBtn()">
    <ion-card class="carddesign">
      <ion-row> 
        <ion-col col-9 class="col-9 txtcol-9">
          <p class="txtname">Outlet 4 Name (745905)</p>
          <h3 class="txttype">Pub</h3>
          <p class="txtcontent">Church Street 6th Cross ,Bangayappa Garden Karnataka 560001</p>
          <h2 class="txtdate">Last Date to Audit Jan 3 , 2019</h2>
        </ion-col>
        <ion-col col-3 class="col-3 imgcol-3">
        <img src="assets/imgs/correct.png" class="correctimg">
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>

  <ion-row no-padding class="firstdiv" style="margin-top: 2px;" (click)="NextBtn()">
    <ion-card class="carddesign">
      <ion-row> 
        <ion-col col-9 class="col-9 txtcol-9">
          <p class="txtname">Outlet 4 Name (745905)</p>
          <h3 class="txttype">Pub</h3>
          <p class="txtcontent">Church Street 6th Cross ,Bangayappa Garden Karnataka 560001</p>
          <h2 class="txtdate">Last Date to Audit Jan 3 , 2019</h2>
        </ion-col>
        <ion-col col-3 class="col-3 imgcol-3">
        <img src="assets/imgs/correct.png" class="correctimg">
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-row> -->

</ion-content>