page-mysteryshopper1 {
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 15px !important;
    }
    .toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
        color: #F4F8FB;
        font-size: 15px !important;
    }
    .firstdiv {
        background-color: #B71717;  
        padding: 0px;
        margin-top: -12px;
        height: 101pt;
    }
    .carddesign{
        background-color: #B71717;
        padding: 0px;
        box-shadow: 0px 0px;
        border: 0px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
    .carddesign p{
        color: #FFF;
        margin: 0px auto;
        font-size: 12px !important;
        font-weight: 400;
    }
    .carddesign h2{
        color: #000;
        margin: 0px auto;
        font-size: 12px !important;
        font-weight: 400;
        margin-top: 10px;
    }
    .carddesign h3{
        color: #F1950B;
        margin: 0px auto;
        font-size: 15px !important;
        font-weight: 400;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: regular;
    }
    h1{
        color:#FFF;
        margin: 0px auto;
        font-size: 18px !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    ion-card img {
        display: block;
        width: 60%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .button-md-secondary {
        color: #FFD505;
        background-color: #F1950B;
        font-size: 11px;
        text-transform: capitalize;
    }
        .button-ios-secondary {
        color: #FFD505;
        background-color: #F1950B;
        font-size: 11px;
        text-transform: capitalize;
    }
    .button-round-md {
    padding: 0 2rem;
    margin-top: 33px;
    }
      .button-round-ios {
    padding: 0 2rem;
    margin-top: 33px;
    }
    .outlet{
        color: green !important;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB !important;
    }
       .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #F4F8FB !important;
    }
    .toolbar-background-md {
        background: #190909 !important;
        border-color: #190909 !important;
    }
       .toolbar-background-ios {
        background: #190909 !important;
        border-color: #190909 !important;
    }
    .toolbar-title-md {
        font-family: medium !important;
        margin-top: 3px !important;
    }
      .toolbar-title-ios {
        font-family: medium !important;
        margin-top: 3px !important;
    }
    .txtname {
        font-family: medium !important;
    }
    .txttype {
        font-family: medium !important;
        padding-top: 6px !important;
    }
    .txtcontent {
        font-family: regular !important;
        padding-top: 6px !important;
    }
    .txtdate {
        font-family: regular !important;
        padding-top: 6px !important;
    }
    .correctimg {
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width:56px;
    }
    .imgcol-3 {
        padding-left: 0px !important;
    }
    .txtcol-9 {
    margin-right: 0px !important;
    padding-right: 0px !important;
    }
    .locationimg {
        position: relative;
        top: 19%;
        transform: translateY(-50%);
        width: 62px;
        padding-bottom: 10px;
    }
    .Pendingbtn {
        margin-bottom: 1px !important;
        border-radius: 22px;
        overflow: hidden;
        height: 2.3rem;
        font-size: 1.0rem;
        font-weight: 500;
        text-transform: inherit;
        color: #FFD505;
        background-color: #d46310;
        padding-left: 16px;
        padding-right: 16px;
        width: 83%;
        margin-left: 12px;
        margin-top: -29px;
    }
    .cardcol-12 {
        text-align: end;
        padding-right: 15%;
    }
    .rowbottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    }
    .maindivtitle { 
    width: 11%;
    float: left;
    margin-left: 8px;
    }
    .maindivtitle1 {
    width: 36px;
    height: 36px;
    background-color: #FFD505;
    border-radius: 50%;
    } 
    .maindivtitle1 p{
    font-size: 24px !important;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    }

    .back-button.show-back-button {
        display: none !important;
    } 

}