page-mysteryshopper6 {
   /*
    .bgimg {
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
        .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
        .toolbar-title-ios {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
    .RedeemBtn {
        color:#FFFFFF;
        background-color: #B71717 !important;
        height: 5.3rem;
        border: 1px solid #535353;
        width: 70%;
        border-radius: 11px;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-family: regular;
        box-shadow: 0 2px 2px #741918;
     }
     .Hygene {
        color: #F4F8FB;
        font-size: 18px !important;
     }
     .quest {
        color: #F4F8FB;
        font-size: 16px !important;
     }
     .questans { 
        color: #F4F8FB;
        font-size: 14px !important;
        padding-left: 10px;
     }
     .arrowforward {
        padding-left: 20px;
        padding-right: 10px;
        font-size: 16px;
        color: #F4F8FB;
     }
     .selfpt-5 {
        padding-top: 5px;
     }
     .selfmt-22 {
         margin-top:22px;
     }
     .iconstar {
        font-size: 18px;
        color: #FFD505;
        padding-left: 8px;
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #F4F8FB !important;
    }
     .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
      color: #F4F8FB !important;
    }
    */

    
    .background {  
      background: url("../assets/imgs/mobbg.png"); 
  }
  .toolbar-md-dark .toolbar-background-md {
      background: #1a0505;
      border-color: #1a0505;
  }
    .toolbar-ios-dark .toolbar-background-ios {
      background: #1a0505;
      border-color: #1a0505;
  }
  .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
      color: #F4F8FB;
      font-size: 15px !important;
  }
    .toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
      color: #F4F8FB;
      font-size: 15px !important;
  }
  .toolbar-title-md {
   padding: 0 12px;
   font-size: 2rem;
   font-weight: 100;
   color: #F4F8FB !important;
   font-family: medium !important;
  }
    .toolbar-title-ios {
   padding: 0 12px;
   font-size: 2rem;
   font-weight: 100;
   color: #F4F8FB !important;
   font-family: medium !important;
  }
  .firstdiv p{
      color: #F4F8FB;
      width: 100%;
      font-size: 15px !important;
      font-family: medium;
   }

  .startaudit{
      bottom: 0;
      position: absolute;
      margin-bottom: 25px;
      text-align: center;
      width: 100%;
  }
  .startaudit  button{
      background-color: #B71717;
      margin: 0px auto;
      width: 65%;
      height: 60px;
      border-radius: 20px;
      text-transform: capitalize;
      border: 1px solid #535353;
      font-size: 16px;
      font-family: regular;
      box-shadow: 0 2px 2px 0 rgba(116, 25, 25, 1), 0 3px 1px -2px rgba(116, 25, 25, 1), 0 1px 5px 0 rgba(116, 25, 25, 1);
  }
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 25px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 20px;
     
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #F4F8FB !important;
      }
        .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
      color: #F4F8FB !important;
      }
      .iconstar {
        font-size: 23px;
        color: #FFD505;
        padding-left: 11px;
     }


     .txtcontent {
      color: #F4F8FB;
      font-size: 13px !important;
      font-family: medium;
    }

    .txttitle {
      color: #F4F8FB;
      font-size: 16px !important;
      font-family: medium;
    }
    
     .fulldiv {
      width:100%;
      display: flex;
    }
    .leftdiv {
      width: 16%;
    }
    .rightdiv {
      margin-top: 12px;
      float: left;
    }
    .nospan {
      border: 1px solid #FFFFFF;
      width: 27px;
      height: 27px;
      border-radius: 150%;
      margin-left: 14px;
      margin-top: 11px;
    }  
    .txtspan {
      color: #F4F8FB;
      font-size: 18px;
      font-family: medium;
      margin-right: 14px;
    }

    .leftquest {
      width: 6%;
      float: left;
    }
    .rightquest {
      width: 94%;
      float: right;
    }
    .selfmt-22 {
      margin-top: 22px !important;
    }


    .panel {
      position: relative;
      background: transparent;
      margin-top: 9px !important;
  }
  .panel-header {
      background: #eff3f6;
      box-shadow: 0 2px 4px #0000004d;
  }
  .panel-body {
  margin-left: 16px !important;
  padding-left: 16px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: transparent;
  border: 1px solid #94949468;
  width: 94.50%;
  margin: 0px !important;
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

  }
  .panel-body  img {
    height: 133px;
    width: 100%;
  }
  .cross-btn {
      position: absolute;
      right: -20px;
      top: -17px;
  }
  .cross-btn .button-md {
  border-radius: 50%;
  height: 2.4em;
  font-size: 1.3rem;
  color: #FFF;
  background-color: transparent;
  margin: 0.2rem;
  padding: 0em;
  box-shadow: none !important;
  }
    .cross-btn .button-ios {
  border-radius: 50%;
  height: 2.4em;
  font-size: 1.3rem;
  color: #FFF;
  background-color: transparent;
  margin: 0.2rem;
  padding: 0em;
  box-shadow: none !important;
  }
  .back-button.show-back-button {
    display: none !important;
  }
.imgright {
  width: 30px;
  height: 30px;
  margin-top: 12px;
}
 
}