<!--
  Generated template for the Mysteryshopper6Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center>Your Mystery Audit Report</ion-title> 
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
<ion-grid no-padding no-margin class="selfmb-55">
<ion-grid no-padding no-margin *ngFor="let item of MysteryAuditData;let i=index;" style="margin-top:3%;" [ngStyle]="{'margin-top':i==1 || i==2?'3%':''}">
  <ion-row style="margin-bottom: 7px;"> 
    <ion-col col-12 class="col-12" text-center> 
        <p no-padding no-margin class="txttitle">{{ item.group_name }}</p> 
    </ion-col> 
  </ion-row>
<ion-grid no-padding no-margin *ngFor="let sub_item of item.mystery_questions;let sub_i=index;">
  <ion-row [ngStyle]="{ 'margin-top': sub_i !=0 ? '5%':'' }"> 
    <ion-col col-12 class="col-12" > 
      <div class="fulldiv">
        <div class="leftquest" margin-left><p no-padding no-margin class="txtcontent"></p></div>
        <div class="rightquest"><p no-padding no-margin class="txtcontent">{{ sub_item.question }}</p> </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px;" *ngIf="sub_item.question_type==1">  
    <ion-col col-12 class="col-12" text-center *ngFor="let sub_sub_item of sub_item.mystery_question_options;let sub_sub_i=index;">
      <div class="fulldiv" style="margin-left: 35%;">
        <div class="leftdiv"><img src="assets/imgs/correct.png" class="imgright"></div>
        <div class="rightdiv"><span class="txtspan">{{ sub_sub_item.option_text}}</span></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px;" *ngIf="sub_item.question_type==2">  
    <ion-col col-12 class="col-12" text-center *ngFor="let sub_sub_item of sub_item.mystery_question_options;let sub_sub_i=index;">
      <div class="fulldiv" style="margin-left: 35%;">
        <div class="leftdiv"><img src="assets/imgs/correct.png" class="imgright"></div>
        <div class="rightdiv"><span class="txtspan">{{ sub_sub_item.option_text}}</span></div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 4px;" *ngIf="sub_item.question_type==3">  
    <ion-col col-12 class="col-12" text-center>
      <p class="txtspan">{{ sub_item.MysteryQuestType3[0].selected_answer }}</p>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 7px;" *ngIf="sub_item.question_type==4">  
    <ion-col col-12 class="col-12" text-center>
      <ion-icon name="{{ sub_sub_item.name }}" mode="ios" class="iconstar" *ngFor="let sub_sub_item of sub_item.MysteryQuestRate;let sub_sub_i=index;"></ion-icon>
    </ion-col>
  </ion-row> 
</ion-grid>
</ion-grid>
</ion-grid>
</ion-content>
<ion-footer style="background-color: transparent;">
  <ion-row class="startaudit">
    <button ion-button color="secondary" round (click)="NextBtn()">Next</button>
  </ion-row>
</ion-footer>