<ion-tabs >
   <!-- <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" tabsHideOnSubPages="true"></ion-tab>  -->
   <!-- <ion-tab [root]="tab2Root" tabTitle="Points" tabIcon="md-reorder" tabsHideOnSubPages="true"></ion-tab> 
   <ion-tab [root]="tab3Root" tabTitle="Reward Store" tabIcon="md-reorder" tabsHideOnSubPages="true"></ion-tab> 
   <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person" tabsHideOnSubPages="true"></ion-tab>       -->
</ion-tabs>