<!--
  Generated template for the LogsalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="content-area">
<ion-row>
  <ion-col col-10 offset-1>
    <div class="panel">
      <div class="cross-btn">
          <button ion-button icon-only (click)="closemodal()" class="Btn-close">
              <ion-icon name="close"></ion-icon>
            </button>  
      </div>
      <div class="panel-header"> 
        <h6 class="p-4">Log your sales</h6>
      </div>
      <div class="panel-body p-4"> 
          <form>
            <div class="form-group">
                <label for="usr">Enter revenue(INR)</label>
                <input type="text" class="form-control" id="usr" name="username">
              </div>
          </form>
          <div class="box pb-4 text-center">
            <p class="py-3">Realize via</p>    
            <div class="mb-4" (click)="VoucherCodeBtn()" [ngClass]="VoucherCode ? 'box-1': 'box-2'">
              <ion-icon name="card" style="font-size: 30px;"></ion-icon>
              <p class="box-text">Enter voucher code</p>   
            </div>
            <div class="mb-4" (click)="qrscanner()" [ngClass]="QRCode ? 'box-1': 'box-2'">
                <ion-icon name="card" style="font-size: 30px;"></ion-icon>
                <p class="box-text">Scan a QR code</p>
              </div>
              <div class="mb-4" (click)="BillCodeBtn()" [ngClass]="BillCode ? 'box-1': 'box-2'">
                <ion-icon name="card" style="font-size: 30px;"></ion-icon>
                <p class="box-text">Upload a bill</p>
              </div>
          </div>
        </div>
        <footer>  
          <div class="footer-btn">
            <button ion-button>Proceed</button>
          </div>
        </footer>
    </div>

  </ion-col>
</ion-row>
</ion-content>
