page-logsales {
    .content-area{
        background-color: rgba(0,0,0,.5);
    }
    .input-box
    {
        background-color:red;
        height:10px;
        width:10px;
    }
    .back-white{
        background:#fff;
    }
    .panel{
        margin-top: 15%;
        position: relative;
        background: #fff;
    }
    .panel-header {
        background: #eff3f6;
        box-shadow: 0 2px 4px #0000004d;
    }
    .cross-btn {
        position: absolute;
        right: -5px;
        top: -17px;
    }
    
    .cross-btn .button-ios {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #00000080;
}

.cross-btn .button-md {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #00000080;
}

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .45rem .75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: 0 1px 2px -2px black;
    }
    p.box-text {
        font-size: 12px;
    }
    .box-1 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        background: #007bff;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    .box-2 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    .box-3 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    footer{
        background: #eff3f6;
        text-align: center;
        // box-shadow: 0 2px 4px #0000004d;
    }
    .footer-btn .button-ios {
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.35rem;
        color: #fff;
        background-color: #007bff;
        margin: 1.3rem;
        padding: 0 2.2em;
        box-shadow:  0 1px 2px 0px #00000080;
    }

    .footer-btn .button-md { 
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.35rem;
        color: #fff;
        background-color: #007bff;
        margin: 1.3rem;
        padding: 0 2.2em;
        box-shadow:  0 1px 2px 0px #00000080;
    }

    .Btn-close {
        border-radius: 50% !important;
        height: 31px !important;
        font-size: 1.2rem !important; 
    }


}
