page-mysteryshopper7 {
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .grid {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .card-md {
        margin:10px;
        border-radius: 10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #B71717;
        box-shadow: 0px 0px;
    }
       .card-ios {
        margin:10px;
        border-radius: 10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #B71717;
        box-shadow: 0px 0px;
    }
    img {
        width: 100%;
    }
    .dialog {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .noBtn {
        font-family: regular;
        color:#333333;
        box-shadow: 0px 0px;
        border:1px solid #949494;
        background-color: #FCFCFC !important;
        width: 60%;
        margin: 0px auto;
        height: 4.5rem;
        border-radius: 12px;
        text-transform: capitalize;
        font-size: 18px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .yesBtn {
        font-family: regular;
        color: #FDFDFD;
        box-shadow: 0px 0px;
        border: 1px solid #D51010;
        background-color: #D51010 !important;
        width: 60%;
        margin: 0px auto;
        height: 4.5rem;
        border-radius: 12px;
        text-transform: capitalize;
        font-size: 18px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .Txtmsg {
        font-family: regular;
        color:#F4F8FB;
        font-size: 16px !important;
    }
}
