<!--
  Generated template for the Mysteryshopper7Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="content-area">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <div class="dialog">
        <p no-padding no-margin class="Txtmsg" text-center>Are you sure you want to submit</p>
        <!-- <p no-padding no-margin class="Txtmsg" text-center>Points will be Added to your</p> -->
        <p no-padding no-margin class="Txtmsg" text-center>your mystery audit report?</p>
        <!-- <p no-padding no-margin class="Txtmsg" text-center>Points Balance within 24-48 hrs</p> -->
        <ion-row margin-top> 
          <ion-col col-md-6 text-right> 
            <button ion-button class="yesBtn" (click)="NextBtn()">
              <span style="color:#FDFDFD">YES</span> 
            </button>  
          </ion-col>  
          <ion-col col-md-6 text-left> 
            <button ion-button class="noBtn" (click)="noBtn()"> 
              <span style="color:#535353;">NO</span>
            </button>  
          </ion-col>
          <!-- <ion-col col-md-12 text-left> 
            <button ion-button class="noBtn" style="width: 28%;" (click)="NextBtn()"> 
              <span style="color:#535353;">OK</span>
            </button>  
          </ion-col> -->
        </ion-row>
        </div>
      </ion-card>
    </ion-row>
    </ion-grid>
</ion-content>