page-mobileno {
    .toolbar-ios ion-title {
        padding: 0;
    }
    .mobile-content {
        text-align: center;
        padding: 51px 0 30px;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: 1px solid #979797;
        border-radius: 5px;
    }
    ion-icon.icon.icon-ios.icon-ios-blue.ion-ios-book-outline.item-icon {
        color: #2170f4;
    }
    ion-footer{
        background:#2170f4;
    }

    .no-match {
        background: #d75a4a;
        width: 100%;
        border-radius: 50px;
    }
    .no-match  p{
        color: #d75a4a;
        padding: 5px 0;
        font-size: 14px !important;
    }

}
