<!--
  Generated template for the MobilenoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row no-padding no-margin> 
      <ion-col col-11  no-padding no-margin text-left> 
        <ion-title no-padding no-margin>Enter mobile number of {{ parent_role_name }}</ion-title>
      </ion-col>
    </ion-row>  
  </ion-navbar>
</ion-header>
<ion-content padding>
<div class="container">
<ion-row>
  <ion-col col-12>
  <div class="mobile-no">
     <div class="mobile-content">
      <img src="assets/imgs/manager-1.png" class="img-fluid" style="width:20%">
      <p class="mt-5"  *ngIf="parent_role_name=='MD'">Enter mobile number of MD/PSR or the sales representative to begin.</p>
      <p class="mt-5" *ngIf="parent_role_name=='SE'">Enter mobile number of Sales Executive (SE) or Associate Sales Manager (ASM) to begin.</p>
     </div>
  </div>
  <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Mobile number of {{ parent_role_name }}" [(ngModel)]="mobMD"></ion-input>
        <ion-icon item-left><img src="assets/imgs/salesman.png" class="img-fluid" style="width: 70%;padding-bottom: 4px;"></ion-icon>
        <ion-icon name="ios-book-outline"  color="blue" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
</div>
</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white" (click)="SaveBtn()"> 
        <p no-padding no-margin>NEXT</p>
    </div>
</ion-footer>