<!--
  Generated template for the RewarddetailPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
    <iframe width="100%" height="100%" [src]="ETapUrl" scrolling="auto" style="overflow-y:hidden; overflow-x:scroll;">
    </iframe>
</ion-content>