<!--
  Generated template for the Mysteryshopper3twoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>  
      <button ion-button icon-only (click)="BackBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons>
    <ion-title text-center>Image Preview</ion-title> 
  </ion-navbar>
</ion-header>
<ion-content no-padding no-margin class="content-area">
  <ion-row>
    <ion-col col-10 offset-1 no-margin no-padding style="margin-right: 15px;margin-left: 15px;">
      <div class="panel">
        <!-- <div class="cross-btn">
            <button ion-button icon-only (click)="BackBtn()" class="Btn-close">
              <ion-icon name="close" style="color: #000;"></ion-icon>
            </button>  
        </div> -->
        <!-- <div class="panel-header">  
        </div> -->
        <div class="panel-body p-4"> 
              <img src="{{imageData}}" style="height: 300px;width: 100%;">
            <!-- <div class="box pb-4 text-center" margin-top> 
            </div> -->
          </div>
          <footer>  
            <div class="footer-btn">      
              <button ion-button class="goback" (click)="GobackToCamera()"> 
                <ion-icon name="ios-arrow-round-back-outline" mode="ios" class="GobackIcon"></ion-icon>
                <span style="color: #F7F7F7;">Go Back To Camera</span>
              </button>    
            </div>   
            <div class="footer-btn"> 
              <button ion-button style="font-size: 17px; box-shadow: 0 2px 2px 0 rgba(116, 25, 25, 1), 0 3px 1px -2px rgba(116, 25, 25, 1), 0 1px 5px 0 rgba(116, 25, 25, 1) !important;" (click)="NextBtn()">
                <span style="color:#fff">Submit</span>
              </button>   
            </div>
          </footer>
      </div>
    </ion-col>
  </ion-row>
  </ion-content>