page-mysteryshopper3two {
    .toolbar-md-dark .toolbar-background-md {
        background: #1a0505;
        border-color: #1a0505;
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 15px !important;
    }
    .content-area {
        background: url("../assets/imgs/mobbg.png");
    }
    .input-box {
        background-color:red;
        height:10px;
        width:10px;
    }
    .back-white {
        background:#fff;
    }
    .panel {
        position: relative;
        background: transparent;
        margin-top: 9px !important;
    }
    .panel-header {
        background: #eff3f6;
        box-shadow: 0 2px 4px #0000004d;
    }
    .panel-body {
    border: 1px solid #D51010;
    margin-left: 16px !important;
    margin-right: 16px !important;
    padding-left: 30px !important;
    padding-right: 25px !important;
    padding-top: 55px !important;
    padding-bottom: 50px !important;
    background-color: #000;
    box-shadow: 0 2px 2px 0 rgba(183, 23, 23, 1), 0 3px 1px -2px rgba(183, 23, 23, 1), 0 1px 5px 0 rgba(183, 23, 23, 1) !important;
    }
    .cross-btn {
        position: absolute;
        right: -5px;
        top: -17px;
    }
    .cross-btn .button-ios {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #00000080;
    }
.cross-btn .button-md {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #00000080;
}
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .45rem .75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: 0 1px 2px -2px black;
    }
    p.box-text {
        font-size: 12px;
    }
    .box-1 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        background: #007bff;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    .box-2 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    .box-3 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #00000080;
    }
    footer{
        background: transparent;
        text-align: center;
        padding-bottom: 54px;
    }
    .footer-btn .button-ios {
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.35rem;
        color: #fff;
        background-color: #007bff;
        margin: 1.3rem;
        padding: 0 2.2em;
        box-shadow:  0 1px 2px 0px #00000080;
    }
    .footer-btn .button-md { 
        font-size: 24px;
        border-radius: 19px;
        height: 3.3em;
        font-size: 1.35rem;
        color: #fff; 
        background-color: #d51010;
        text-transform: uppercase !important;
        width: 66%;
        margin: 1.3rem;
        padding: 0 2.2em;
        -webkit-box-shadow: 0 1px 2px 0px #00000080;
        box-shadow: 0 1px 2px 0px #00000080;
        text-transform: capitalize;
        font-family: regular;
    }
    .Btn-close {
        border-radius: 50% !important;
        height: 31px !important;
        font-size: 1.2rem !important; 
    }
    .iconpic {
        font-size: 22px;
    margin-right: 6px;
    }
    .ptxt {
        font-size: 15px !important;
    color: #2170f4;
    margin-bottom: 0px !important;
    }
    .p-color1 {
        color: #4a4a4a;
    }
    .p-color2 {
        color: #929699;
    }
    .selffont-s-15 {
        font-size: 15px !important;
    }
    .selffont-s-16{
        font-size: 16px !important;
    }
    .txtimage{
        color: #929699;
        font-size: 13px !important;
        border-radius: 7px !important;
    } 
    .goback {
        box-shadow: none !important;
        color: #685e5e !important;
        background-color: transparent !important; 
        font-family: medium !important;
    }
    .GobackIcon {
    font-size: 36px !important;
    padding-right: 5px !important;
    }
    .SuccessClose {
        color: #7d7d7d !important;
        background-color: #fdfdfd !important;
        height: 3.0em !important;
        font-size: 17px !important;
    }
    .ColorWhite {
        color: #fff !important;
    }
    .mt-33p {
        margin-top: 33% !important;
    }
    .mt-mb-10 {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .pb-33p {
        padding-bottom: 33% !important;
    }
}