<!--
  Generated template for the StartQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>User Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" fullscreen>
  <form [formGroup]="todo" (ngSubmit)="logForm()">

    <div class="row">

      <div class="col-6" style="padding:0px 0px">
        <ion-item>
          <ion-label>Name</ion-label> 
          <ion-input type="text" formControlName="Name" ></ion-input>
        </ion-item>
      </div>

      <div class="col-6" style="padding:0px 0px">
      </div>

    </div>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea type="text" formControlName="Address"></ion-textarea>
    </ion-item>
   
      <div class="row">

        <div class="col-6" style="padding:0px 0px">
          <ion-item>
            <ion-label>State</ion-label>
            <ion-input type="text" formControlName="State"></ion-input>
          </ion-item>
        </div>

        <div class="col-6" style="padding:0px 0px">
          <ion-item>
            <ion-label>City</ion-label>
            <ion-input type="text" formControlName="City"></ion-input>
          </ion-item>
        </div>

      </div>
    
      <div class="row">

        <div class="col-6" style="padding:0px 0px">
          <ion-item>
            <ion-label>Postal Code</ion-label>
            <ion-input type="number" formControlName="PostalCode"></ion-input>
          </ion-item>
        </div>

        <div class="col-6" style="padding:0px 0px">
          <ion-item>
            <ion-label>Mobile Number</ion-label>
            <ion-input type="number" formControlName="MobileNumber"></ion-input>
          </ion-item>
        </div>
      </div>
 
    <ion-item>
      <ion-label>Email ID</ion-label>
      <ion-input type="email" formControlName="EmailID"></ion-input>
    </ion-item> 

    <div class="row">

      <div class="col-6" style="padding:0px 0px">
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select formControlName="Gender" class="SelectOption">
            <ion-option value="M">Male</ion-option>
            <ion-option value="F">Female</ion-option>
            <ion-option value="O">Other</ion-option>
          </ion-select>
          <!-- <ion-input type="text" formControlName="Gender"></ion-input> -->
        </ion-item>
      </div>

      <div class="col-6" style="padding:0px 0px">
        <ion-item>
          <ion-label>Date of Birth</ion-label>
            <!-- <ion-datetime displayFormat="MMM DD YYYY" formControlName="DateofBirth"></ion-datetime> -->
          <ion-input type="date" formControlName="DateofBirth"></ion-input>
        </ion-item>
      </div>
    </div>
<!--  
    <ion-item>
      <ion-label>Enter KYC Document Number</ion-label>
      <ion-input type="text" formControlName="KYCDocNum"></ion-input>
    </ion-item>  -->

</form>

<ion-row no-padding no-margin margin-top>
  <!-- <ion-col col-12 class="col-12" no-padding no-margin text-center>
    <p no-padding no-margin class="DocImg" (click)="gallery()">Upload KYC Document Here</p>

  </ion-col> -->
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="langTxt">
      <ion-option   [selected]="true" value="English">English</ion-option>
      <ion-option value="Hindi">Hindi</ion-option>
      <ion-option value="Kannada">Kannada</ion-option>
      <ion-option value="Tamil">Tamil</ion-option>  
      <ion-option value="Marathi">Marathi</ion-option>
    </ion-select>
  </ion-item>
</ion-row>

<!-- <ion-row no-padding no-margin margin-top>
  <ion-col col-12 class="col-12" no-padding no-margin text-center>
    <p no-padding no-margin class="orImgclick">or</p>
  </ion-col>
</ion-row> -->

<!-- <ion-row no-padding no-margin margin-top>
  <ion-col col-12 class="col-12" no-padding no-margin text-center>
    <button ion-button class="text-center text-white" class="TakePic" (click)="camerashow()">
      Take a Picture
    </button>
  </ion-col>
</ion-row> -->

<!-- <ion-row no-padding no-margin margin-top>
  <ion-col col-12 class="col-12" no-padding no-margin text-center>
    <button ion-button class="text-center text-white" class="TakePic" (click)="ActionSheetFile()">
      Choose a Picture
    </button>
  </ion-col>
</ion-row> -->

<!-- 
<ion-row no-padding no-margin margin-top>
  <ion-col col-12 class="col-12" no-padding no-margin text-center>
    <img [src]="document_file" class="showimage" *ngIf="document_file !=''"> 
  </ion-col>
</ion-row> -->
 

<ion-row no-padding no-margin class="selfmb-22 selfmt-33" >     
  <ion-col col-12 class="col-12" no-padding no-margin>
    <button [disabled]="!todo.valid" ion-button class="text-center text-white" class="submitBtn" (click)="logForm()">
      Submit
    </button>
  </ion-col>
</ion-row> 

</ion-content>