page-edit-profile {
    .select-md {
        padding: 0px;
        color: white;
        border: 1px solid grey;
        background-color: #8080801f;
    }
.background {
    background: url("../assets/imgs/mobbg.png"); 
}
.toolbar-background-md {
    border-color: #1c0806;
    background: #1c0806;
}
ion-title {
    width: 80%;
    float: left;
    padding-top: 7px !important;
    text-align: center;
}
.toolbar-title{
    color: #F4F8FB;
    font-size: 15px;
}
.tabbar {
    display: none;
}  
.show-tabbar{
    display: none;
}
.input-wrapper {
    display: block;
}
.label-md {
    margin: 10px 8px 7px 0;
}
.item-md {
    font-size: 13px;
    background-color: transparent;
}
.item-input ion-input, .item-input ion-textarea {
    border: 1px solid #94949468;
    color: #94949468;
    background-color: #FFFFFF0C;
    height: 3.3rem;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px !important;
    box-shadow: inset 0 0px 0 0 #f53d3d !important;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:transparent;
    -webkit-box-shadow: inset 0 0px 0 0 #f53d3d;
    box-shadow: inset 0 0px 0 0 #f53d3d;
}
.item-block {
    min-height: 6.4rem;
}
.text-input-md {
    margin: 6px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.submitBtn {
    width: 92%;
    background-color: #B71717;
    box-shadow: none;
    padding: 24px;
    border-radius: 18px;
    display: block;
    margin: 0px auto;
    box-shadow: 0 2px 2px 0 rgba(183, 23, 23, 1), 0 3px 1px -2px rgba(183, 23, 23, 1), 0 1px 5px 0 rgba(183, 23, 23, 1);
}
.DocImg {
    width: 93.4%;
    color: #949494;
    border: 1px solid rgba(148, 148, 148, 0.41);
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 9px;
    padding-bottom: 6px;
    font-size: 13px !important;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #F4F8FB !important;
}
.orImgclick {
    color:#F4F8FB;
}
.TakePic {
    border-radius: 7px;
    overflow: hidden;
    height: 3.9rem;
    width: 50%;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: inherit;
    color: #fff;
    background-color: #B71717;
    box-shadow: 0 2px 2px 0 rgba(183, 23, 23, 1), 0 3px 1px -2px rgba(183, 23, 23, 1), 0 1px 5px 0 rgba(183, 23, 23, 1);
}
.item-input ion-input, .item-input ion-textarea {
    border: 1px solid rgba(148, 148, 148, 0.41);
    color: #949494;
    background-color: rgba(255, 255, 255, 0.05);
    height: 3.3rem;
    font-size: 15px !important;
}
.showimage {
    width:100px;
    height:100px;
}

.select-text {
    padding-left: 11px;
    padding-top: 6px;
}

.SelectOption {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgba(148, 148, 148, 0.41);
    color: #949494;
    background-color: rgba(255, 255, 255, 0.05);
    height: 3.3rem;
    font-size: 15px !important;
}
.select-md .select-icon {
    position: relative;
    width: 12px;
    height: 19px;
    padding-right: 21px;
    padding-top: 32px;
}


}