<!--
  Generated template for the ActivationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header no-border-bottom>
      <ion-navbar>
        <ion-row no-padding no-margin>
          <ion-col col-1 no-padding no-margin>
              <ion-buttons start>
                  <button ion-button icon-only>
                    <ion-icon name="arrow-back"></ion-icon>
                  </button>
                </ion-buttons>
          </ion-col>
          <ion-col col-10 no-padding no-margin>
              <ion-title >Activations</ion-title>
            </ion-col>
          <ion-col col-1 no-padding no-margin>
              <ion-buttons end>
                  <button ion-button icon-only>
                    <ion-icon name="search"></ion-icon>
                  </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
      </ion-navbar>
              <ion-segment [(ngModel)]="configureTile" (ionChange)="onSegmentChange($event)" no-padding no-margin>
                <ion-segment-button value="ActivateOutlet">
                    Activate Outlet
                </ion-segment-button>
                <ion-segment-button value="EnrollOutlet">
                    Enroll Outlet
                </ion-segment-button>
                </ion-segment>
    </ion-header> 

<ion-content padding>
  <div *ngIf="configureTile=='ActivateOutlet'">
  

        <ion-row>
            <ion-col col-6>
              <div class="enr-week text-center custom-bck py-3">
                <p no-padding no-margin style="font-size: 14px !important;">Activations today</p>
                <h3 no-padding no-margin>12 <span class="custom-txt">/15</span></h3>
              </div>
            </ion-col>
            <ion-col col-6>
              <div class="total-enr text-center custom-bck py-3">
                <p no-padding no-margin style="font-size: 14px !important;">Activations this week</p>
                <h3 no-padding no-margin>21 <span class="custom-txt">/100</span></h3>
              </div>
            </ion-col>
          </ion-row>
    
        <ion-row (click)="nextBtn()" style="border: 1px dotted #2170f4;background-color: #fff;margin-right: 0px;margin-left: 0px;margin-top: 7px;">
            <ion-col col-2 padding>
                <img src="assets/imgs/online_store.png">
            </ion-col>
            <ion-col col-10>
                <p no-padding no-margin style="font-size: 14px !important;
                padding-top: 12px;
                color: #2170f4;">Select an outlet from below to Activate</p>
            </ion-col>
        </ion-row>
  
        <div class="container" *ngFor="let item of items">
        <ion-row>
          <ion-col col-12>
            <p  class="date" no-margin>{{item.rday}} {{item.date}}</p>
          </ion-col>
        </ion-row>
          <ion-row class="panel">
            <ion-col col-2>
              <div class="panel-img py-3">
                <img src="assets/imgs/profile.png">
              </div>
            </ion-col>
            <ion-col col-10>
              <div class="panel-inner">
                <p no-margin no-padding>{{item.address}}</p>
                <p no-margin no-padding><em><span class="font-small">{{item.duration}}{{item.day}}, {{item.time}}</span></em>
                  <span class="edit float-right" style="width:30%;"> 
                      <p style="
                      font-size: 10px !important;
                      background: #fff3cd;
                      color: #f5a623;
                      border-radius: 10px;
                      padding-left: 16px;
                      padding-top: 2px;
                      padding-bottom: 2px;
                  ">Unverifed</p>
                    <!-- <img src="assets/imgs/edit.png"> -->
                  </span>
                </p>
        
              </div>
            </ion-col>
          </ion-row>
        </div>
  </div>

  <div *ngIf="configureTile=='EnrollOutlet'">
     
      <ion-row>
          <ion-col col-6>
            <div class="enr-week text-center custom-bck py-3">
              <p no-padding no-margin style="font-size: 14px !important;">Enrollments this week</p>
              <h3 no-padding no-margin>12 <span class="custom-txt">/15</span></h3>
            </div>
          </ion-col>
          <ion-col col-6>
            <div class="total-enr text-center custom-bck py-3">
              <p no-padding no-margin style="font-size: 14px !important;">Total enrollments</p>
              <h3 no-padding no-margin>21 <span class="custom-txt">/100</span></h3>
            </div>
          </ion-col>
      </ion-row>
  
        <div class="container" *ngFor="let item of items">
        <ion-row>
          <ion-col col-12>
            <p  class="date" no-margin>{{item.rday}} {{item.date}}</p>
          </ion-col>
        </ion-row>
          <ion-row class="panel">
            <ion-col col-2>
              <div class="panel-img py-3">
                <img src="assets/imgs/profile.png">
              </div>
            </ion-col>
            <ion-col col-10>
              <div class="panel-inner">
                <p no-margin no-padding>{{item.address}}</p>
                <p no-margin no-padding><em><span class="font-small">{{item.duration}}{{item.day}}, {{item.time}}</span></em>
                
                </p>
        
              </div>
            </ion-col>
          </ion-row>
        </div>
  </div>
    
</ion-content>
