page-activations {
    ion-navbar ion-icon.icon.icon-ios.ion-ios-search {
        color: #000;
        font-size: 20px;
        font-weight: 900;
    }
    ion-navbar ion-icon.icon.icon-ios.ion-ios-arrow-back {
        color: #000;
    }
    ion-content.content.content-ios{
        background: #f3f6f8;
    }
    
    span.custom-txt {
        font-weight: 400;
    }
    .custom-bck{
        border: 1px solid #d0d6da;
        background:#fff;
    }
    
  p.panel-col {
    background: #fff;
    padding: 13px;
    border-style: dotted;
    border: 1px dashed #2170f4;
    color: #2170f4;
    }
    .panel {
        padding: 5px;
        border: 1px solid #d0d6da;
        background: #fff;
    }
    .panel-img img {
        width: 50px;
        border-radius: 50%;
    }
    span.font-small {
        font-size: 13px;
        font-weight: 300;
    }
    .container:nth-child(3) p.date:nth-child(1) {
      
        padding-bottom: 2px;
        padding-top: 7px;
    }
    .container:nth-child(2) p.date:nth-child(1) {
      
        padding-top: 8px;
        padding-bottom: 2px;
    }
    .container:nth-child(2) span.font-small {
        color: #2ecc71;
        font-style: normal;
        font-weight: 500;
    }
    .activate {
        border-radius: 4px;
        height: 2em;
        font-size: 1.4rem;
        color: #fff!important;
        background-color: #2170f4!important;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .button-ios {
        border-radius: 4px;
        height: 2em;
        font-size: 1.4rem;
        color: #000;
        background-color: #fff;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .toolbar-ios .segment-button {
        max-width: 45%;
        height: 2.6rem;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .segment-ios .segment-button {
       
        height: 3.2rem;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #000;
        background-color: #fff;
    }
    .segment-ios .segment-button.segment-activated {
        background-color: #2170f4;
    
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #488aff;
        opacity: 1;
        background-color: #488aff;
        color: #fff;
    }

    .segment-md .segment-button {
        color: #4a4a4a;
        background-color: #fff;
    }

    .content-md {
        color: #25283b !important;
        background-color: #f3f6f8 !important;
    }

    .scroll-content {
        padding-top: 7px !important;
    }

}
