page-dashboard {
.background {  
    background: url("../assets/imgs/mobbg.png"); 
}
.toolbar-background-md {
    background: #190909;
}
.toolbar-background-ios {
    background: #190909;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
    margin-left: 10px;
}
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
    margin-left: 10px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
    text-align: right !important;
}
.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
    color: #ffffff;
    background-color: transparent;
    text-align: right !important;
}
.carousel-inner img {
    width: 100%;
    height: auto;
}
.crads{
    padding: 10px;
    background-color: #6e0b09;
    color: #FFF;
    text-transform: capitalize;
    box-shadow:0px 0px !important;
}
.crads-list{
    padding: 10px;
    background-color: #6e0b09;
    color: #FFF;
    text-transform: capitalize;
    height: 130px; 
    box-shadow:0px 0px !important;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.16);
    transition: width .6s ease;
    width:100%;
    height:15px; 
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 1px -2px rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.16) !important;
}
.label-md {
    margin: 13px 8px 13px 0;
    text-align: right;
}
.label-ios {
    margin: 13px 8px 13px 0;
    text-align: right;
}
.coltext {
    margin-top: -7px !important;
}
.imgModuleIcon {
    margin: 0 auto;
    width: auto;
}

.moduleimg_0 {
    padding-top: 10px;
}
.moduleimg_1 {
    padding-top: 17px; 
    padding-bottom: 5px;
}
.modulename_1 {
    padding-top: 18px !important;
}
.moduleimg_2 {
    padding-top: 17px;
}
.moduleimg_3 {
    padding-top: 24px;
}
.modulename_3 {
    padding-top: 22px !important;
}
.moduleimg_4 {
    padding-top: 14px;
}
.modulename_4 {
    padding-top: 19px !important;
}
.moduleimg_5 {
    padding-top: 15px;
}
.moduleimg_6 {
    padding-top: 10px;
}
.moduleimg_7 {
    padding-top: 15px;
}
.modulename_7 {
    padding-top: 10px !important;
}

.toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
    color: #F4F8FB;
    font-size: 15px !important;
}
.toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
    color: #F4F8FB;
    font-size: 15px !important;
}
.toolbar-md-dark .toolbar-background-md {
    background: #1a0505;
    border-color: #1a0505;
} 
.toolbar-ios-dark .toolbar-background-ios {
    background: #1a0505;
    border-color: #1a0505;
} 
.toolbar-md {
    padding: 4px;
    min-height: 37px;
    height: 58px;
}
.toolbar-ios {
    padding: 4px;
    min-height: 37px;
    height: 58px;
}
.scroll-content {
    margin-top: 58px !important;
}





.alert-title {
    font-size: 22px;
    text-align: center;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff !important;
    background-clip: padding-box;
    border: none !important;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 4px !important;
}

.card-style {
    height: 90pt !important;
    margin-bottom: 0px !important;
}

.crads {
    background-color: rgba(0, 0, 0, 0.16) !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    width: 100% !important;
}


.cardtarget {
    background-color: #000000 !important;
    border: 1px solid #FFFFFF !important;
}

.targettxt {
    font-size: 13px !important;
    font-family: medium;
    color:#F4F8FB;
    margin-top: -5px !important;
    margin-bottom: 6px !important;
}
.targetsubtxt {
    font-size: 12px !important;
    font-family: medium;
    color:#F4F8FB; 
    padding-bottom: 3px;
}

.selfcolfive {
    flex: 0 0 45.666667%;
    max-width: 45.666667%;
    margin-left: 3%;
    margin-top: 10px;
}

.pregresstxt {
    background-color: #F1950B;
    color: #000000;
    height: 13px;
    border-radius: 5px;
    font-size: 11px !important;
}


.moduleimg_8 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.moduleimg_9 {  
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.modulename_8 {
    padding-top: 23px !important;
}
.modulename_9 {
    padding-top: 23px !important;
}

.modulename_6 {
    font-size: 13px !important;
}

.imgModuleIcon {
    margin: 0 auto;
    width: 66px;
    height: 66px;
}

}