<!--
  Generated template for the ClickPicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-icon name="arrow-back" style="font-size: 27px;"></ion-icon>
    <ion-title>Click a picture</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-padding no-margin>
   <ion-row>
     <ion-col col-12>
       <ion-card>

          <div class="camera-pic text-center pt-4">
              <img class="img-fluid img-back" src="assets/imgs/photo_camera.png">
           </div>
           
           <ion-card-content>
              <ion-card-title class="panel-heading">
                  Take a selfie with the Coca cola standie at your store with 2 customers
                </ion-card-title>
            <p class="text-center"><em>Complete this task to get 1 ticket to unlock and play the daily wheel of fortune.</em></p>
            <p class="text-center"><img src="assets/imgs/coin_2.png" class="img-fluid coin"><span class="number ml-2"><strong>1</strong></span></p>
            <hr> 
            <ion-card-title class="panel-heading-1">
                Description:              
              </ion-card-title>
              <p>
                  Our market representative must have given you a standie to be displayed at your store. What you need to do is go and stand near the standie and click a picture of yourself with the standie. The picture has to be clicked from within the app and no gallery upload is allowed for this task.</p>

              <p class="bottom-txt"><em>Click on start task when you are ready!</em></p>
          </ion-card-content>

        </ion-card>
      </ion-col>
   </ion-row>

</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white" (click)="clickBtn()">
        <p no-padding no-margin>START TASK</p>
    </div>
</ion-footer>


