page-click-picture {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    ion-card img {
        display: inline;
        width: auto;
        text-align: center;
    }
    .img-back {
        max-width: 100%;
        height: auto;
        background: #f9f9f9;
        padding: 26px 31px 32px;
        border-radius: 100%;
    }
    .panel-heading {
        display: block;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
        font-weight: 500;
        text-align: center;
    }
    .panel-heading-1{
        font-size: 1.7rem;
        color: #222;
        padding: 0;
        font-weight: 500;
    }
    span.number {
        font-size: 18px;
    }
    .content-ios hr {
        height: 1px;
        background-color: #979797;
        margin: 20px 0;
    }
    p.bottom-txt {
        padding: 53px 0 22px;
        text-align: center;
    }  
    .scroll-content {
        margin-top: 30px;
        margin-bottom: 0;
    } 
    ion-footer{
        background:#2170f4;
    }

}
