<!--
  Generated template for the Mysteryshopper3onePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="content-area">
  <ion-grid>

    <ion-row justify-content-center align-items-center *ngIf="PopStatus=='FirstPop'">
      <ion-card>
        <div class="dialog">  
        <p no-padding no-margin class="Txtmsg" text-center>Please Take the Image of the Bottle</p>
        <ion-row style="margin-top: 25px;"> 
          <ion-col col-md-12 text-center>  
            <button ion-button class="yesBtn" (click)="NextBtn()"><span style="color:#FDFDFD;">ok</span></button>  
          </ion-col>
        </ion-row>
        </div>
      </ion-card>
    </ion-row>

    <ion-row justify-content-center align-items-center *ngIf="PopStatus=='SecPop'">
      <ion-card>
        <div class="dialog">  
        <p no-padding no-margin class="Txtmsg" text-center>Do you Like to Take Another Image</p>
        <ion-row style="margin-top: 25px;"> 
          <ion-col col-md-6 text-right>    
            <button ion-button class="yesBtn" style="width: 60%;" (click)="NextAnotherBtn()"><span style="color:#FDFDFD;">Yes</span></button>  
          </ion-col>  
          <ion-col col-md-6 text-left> 
            <button ion-button class="noBtn" (click)="NoAnotherBtn()"> 
              <span style="color:#000000;">No</span>
            </button>  
          </ion-col>
        </ion-row>
        </div>
      </ion-card>
    </ion-row>

    <ion-row justify-content-center align-items-center *ngIf="PopStatus=='DelPop'">
      <ion-card>
        <div class="dialog">  
        <p no-padding no-margin class="Txtmsg" text-center>Are You Sure You Want to Delete</p>
        <ion-row style="margin-top: 25px;"> 
          <ion-col col-md-6 text-right>    
            <button ion-button class="yesBtn" style="width: 60%;" (click)="NextDelBtn()"><span style="color:#FDFDFD;">Yes</span></button>  
          </ion-col>  
          <ion-col col-md-6 text-left> 
            <button ion-button class="noBtn" (click)="NoDelBtn()"> 
              <span style="color:#000000;">No</span>
            </button>  
          </ion-col>
        </ion-row>
        </div>
      </ion-card>
    </ion-row>

    </ion-grid>
</ion-content>
