page-mysteryshopper3one {
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .grid {
        margin-top: 55%;
    }
    .card-md {
        margin:10px;
        border-radius: 10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #B71717;
        box-shadow: 0px 0px;
    }
    img {
        width: 100%;
    }
    .dialog {
        margin-top: 33px;
        margin-bottom: 33px;
    }
    .noBtn {
        font-family: regular;
        color:#333333;
        box-shadow: 0 2px 2px 0 rgba(116, 25, 25, 1), 0 3px 1px -2px rgba(116, 25, 25, 1), 0 1px 5px 0 rgba(116, 25, 25, 1);
        border:1px solid #949494;
        background-color: #FCFCFC !important;
        width: 60%;
        margin: 0px auto;
        height: 4.5rem;
        border-radius: 12px;
        text-transform: capitalize;
        font-size: 18px;
    }
    .yesBtn {
        font-family: regular;
        color: #FDFDFD;
        box-shadow: 0 2px 2px 0 rgba(116, 25, 25, 1), 0 3px 1px -2px rgba(116, 25, 25, 1), 0 1px 5px 0 rgba(116, 25, 25, 1);
        border: 1px solid #D51010;
        background-color: #D51010 !important;
        width: 33%;
        text-transform: inherit !important;
        margin: 0px auto;
        height: 4.5rem;
        border-radius: 12px;
        text-transform: capitalize;
        font-size: 18px;
    }
    .Txtmsg {
        font-family: regular;
        color:#F4F8FB;
        font-size: 14px !important;
    }
}
