<!--
  Generated template for the VisitDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-icon name="arrow-back" style="font-size: 27px;"></ion-icon>
    <ion-title>Visit details</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-row no-padding no-margin>
  <ion-col col-12 no-padding no-margin>
    <ion-card>
        <ion-card-content>
          <div class="panel">
            <div class="panel-profile" (click)="PicBtn()">  
              <img src="assets/imgs/profile.png">
            </div>
          </div>
          <div class="custom-list mt-5">
            <label>Select store name</label>
            <ion-list no-lines>
                <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
                  {{ item }}
                </button>
              </ion-list>
          </div>
        </ion-card-content>
      </ion-card>
  </ion-col>
</ion-row>
</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white" (click)="NextBtn()">   
        <p no-padding no-margin>LOG THIS VISIT</p>
    </div>
</ion-footer>
