page-visit-details {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    .panel-profile {
        text-align: center;
    }
    ion-card img {
        display: inline-block;
        width: 100px;
    }
    button.item.item-block.item-ios {
        border: 1px solid #b8bfc4;
        font-size: 13px;
        color: #666666;
        border-radius: 5px;
        margin-top: 5px;
    }
    .item-block {
     
        min-height: 2.4rem;
    }
    .custom-list label {
        color: #666666;
    }
    .card-ios {
        height: -webkit-fill-available;
    }
    ion-footer{
        background:#2170f4;
    }
  
}
