<!--
  Generated template for the Mysteryshopper5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title text-center>Enquiry</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgimg">

<ion-row style="margin-top: 40%;"> 
  <ion-col col-12 class="col-12" text-left>
    <p no-padding no-margin class="txtcontent">Offered Multiple Options in the</p>
    <p no-padding no-margin class="txtcontent">Category You asked</p>
  </ion-col>
</ion-row>

<ion-row margin-top> 
  <ion-col col-6 class="col-6" text-center> 
      <div class="fulldiv" style="margin-left: 22px;">
        <div class="leftdiv"><img src="assets/imgs/correct.png" class="imgright" ></div>
        <div class="rightdiv"><span class="txtspan">Yes</span></div>
      </div>
  </ion-col>
  <ion-col col-6 class="col-6" text-center>  
    <div class="fulldiv">
      <div class="leftdiv"><div class="nospan"></div></div>
      <div class="rightdiv"><span class="txtspan">No</span></div>
    </div>
</ion-col>
</ion-row>

  <ion-row no-padding no-margin class="rowBtn">
    <ion-col col-md-12 text-center no-padding no-margin>      
      <button ion-button (click)="NextBtn()" class="RedeemBtn">Next</button>
    </ion-col>
  </ion-row> 

</ion-content>