page-mysteryshopper5 {
    .bgimg {
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #E4E4E4;
        font-size: 1.8rem;
        padding-top: 5px;
        font-family: medium;
    }
    .RedeemBtn {
        color:#FFFFFF;
        background-color: #B71717 !important;
        height: 5.3rem;
        border: 1px solid #535353;
        width: 83%;
        border-radius: 11px;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-family: regular;
        box-shadow: 0 2px 2px #741918;
     }
    .rowBtn { 
        margin-top: 40px;
        margin-bottom: 16px;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 91%;
      }
      .txtcontent {
        color: #F4F8FB;
        font-size: 20px !important;
        font-family: Segoe_UI_Regular;
      }
      
      .fulldiv {
        width:100%;
        display: flex;
      }
      .leftdiv {
        width: 33%;
      }
      .rightdiv {
        margin-top: 12px;
        width: 24%;
        float: left;
      }
      .nospan {
        border: 1px solid #FFFFFF;
        width: 30px;
        height: 30px;
        border-radius: 150%;
        margin-left: 9px;
        margin-top: 11px;
      }  
      .txtspan {
        color: #F4F8FB;
        font-size: 18px;
        font-family: medium;
      }
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB !important;
      }
}
