<!--
  Generated template for the PosmperformpopPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="z-index: 102;">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>
      </button>
     </ion-buttons>
     <ion-title text-center>Visibility</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content class="background" fullscreen style="z-index: 101;">
  <div class="text-aligncenter">
    <div class="center" (click)="ClickDiv('posm')" style="margin-top: 33px;">
      <div class="content">
        <img src="assets/imgs/goal.png">
        <p class="text">Posm</p>
      </div>  
  </div>
  <div class="center" (click)="ClickDiv('cooler')" style="margin-top: 55px;">
    <div class="content">
      <img src="assets/imgs/goal.png">
      <p class="text">Cooler</p>
    </div>
  </div>
  </div>
</ion-content>