page-posmperformpop {
    /*
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .input-box {
        background-color:red;
        height:10px;
        width:10px;
    }
    .back-white {
        background:#fff;
    }
    .panel {
        margin-top: 15%;
        position: relative;
        background: #fff;
    }
    .panel-header {
        background: #eff3f6;
        box-shadow: 0 2px 4px #c1c1cc;
    }
    .cross-btn {
        position: absolute;
        right: -5px;
        top: -17px;
    }
    .cross-btn .button-ios {
 border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #000080;
}
.cross-btn .button-md {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #488aff;
    background-color: #fff;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: 0 0 4px 0px #000080;
}
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .45rem .75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: 0 1px 2px -2px black;
    }
    p.box-text {
        font-size: 12px;
    }
    .box-1 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        background: #007bff;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #000080;
    }
    .box-2 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #000080;
    }
    .box-3 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 0 1px;
        // background: #007bff;
        // color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0px #000080;
    }
    footer{
        background: #eff3f6;
        text-align: center;
        // box-shadow: 0 2px 4px #0000004d;
    }
    .footer-btn .button-ios {
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.35rem;
        color: #fff;
        background-color: #007bff;
        margin: 1.3rem;
        padding: 0 2.2em;
        box-shadow:  0 1px 2px 0px #000080;
        text-transform: capitalize;
    }
    .footer-btn .button-md { 
        border-radius: 4px;
        height: 2.3em;
        font-size: 1.35rem;
        color: #fff;
        background-color: #007bff;
        margin: 1.3rem;
        padding: 0 2.2em;
        box-shadow:  0 1px 2px 0px #000080;
        text-transform: capitalize;
    }
    .Btn-close {
        border-radius: 50% !important;
        height: 31px !important;
        font-size: 1.2rem !important; 
    }
    .iconpic {
        font-size: 22px;
        margin-right: 6px;
    }
    .ptxt {
        font-size: 15px !important;
        color: #2170f4;
        margin-bottom: 0px !important;
    }
    .p-color1 {
        color: #4a4a4a;
    }
    .p-color2 {
        color: #929699;
    }
    .selffont-s-15 {
        font-size: 15px !important;
    }
    .selffont-s-16 {
        font-size: 16px !important;
    }
    .txtimage {
        color: #929699;
        font-size: 13px !important;
        border-radius: 7px !important;
    }
    .goback {
    background-color: #eff3f6 !important;
    box-shadow: none !important;
    color: #2170f4 !important;  
    }
    */

        .background {
            background: url("../assets/imgs/mobbg.png"); 
        }
        .toolbar-background-md {
            background: #190909;
        }
             .toolbar-background-ios {
            background: #190909;
        }
        .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 500;
            color: #F4F8FB;
            margin-left: 10px;
            font-family: medium;
        }
            .toolbar-title-ios {
    padding: 0 12px;
            font-size: 2rem;
            font-weight: 500;
            color: #F4F8FB;
            margin-left: 10px;
            font-family: medium;
        }
        .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
            color: #F4F8FB;
            background-color: transparent;
            text-align: right !important;
        }
          .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
       color: #F4F8FB;
            background-color: transparent;
            text-align: right !important;
        }
            .center { 
                height: 174pt;
                width: 70%;
                position: relative;
                background-color: #B71717;
                border-radius: 18px;
                margin: 27px auto;
                border: 1px solid rgba(0, 0, 0, 0.16);
              }
              .center .content {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }
              .text {
                font-size: 20px !important;
                color: #F4F8FB;
                margin-top: -8px !important;
                padding-top: 0px !important;
                font-family: medium;
              }

              
.back-button.show-back-button {
    display: none !important;
}

.scroll-content {
    padding-top: 0px !important;
}

.text-aligncenter { 
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #F4F8FB;
    margin-left: 10px;
    font-family: medium;
    text-align: center;
    width: 100%;
    margin-right: 37px;
}
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #F4F8FB;
    margin-left: 10px;
    font-family: medium;
    text-align: center;
    width: 100%;
    margin-right: 37px;
}
}