page-started {
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #000;
    }
    figcaption {
        color: #2170f4;
        padding: 10px 42px;
    }
    .list-ios > .item-block:first-child {
        border: 1px solid #000;
        border-radius: 5px;
    }
    .list-ios .item-block .item-inner {
        // border-bottom: 0.55px solid #c8c7cc;
        border: 0;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: 1px solid #000;
        border-radius: 5px;
   }
   ion-item.item.item-block.item-ios.item-input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 32px 0px;
  }
  ion-footer{
    background:#2170f4;
}
}
