<!--
  Generated template for the StartedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="black">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
     <ion-title>Let’s get you started</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="container">
<ion-row>
  <ion-col col-12>
    <div class="profile text-center">
      <figure>
        <img src="assets/imgs/profile.png">
        <figcaption>Change my store picture 
            (optional)</figcaption>
      </figure>
    </div>
    <div class="inputs">
      <ion-list>
        <ion-item><ion-input type="text" placeholder="Name"></ion-input>
          <ion-icon item-left> <img src="assets/imgs/avatar.png" class="img-fluid" style="width: 70%;padding-bottom: 4px;"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ion-col>
</ion-row>
</div>
</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white" (click)="SaveBtn()">
        <p no-padding no-margin>NEXT</p>
    </div>
</ion-footer>