<!--
  Generated template for the LoyaltyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
     <ion-title>Loyalty</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" fullscreen >
  <div class="center" (click)="target()">
      <div class="content">
        <img src="assets/imgs/target & achieve.png" style="width: 72%;">
        <p class="text">Targets & Achievements</p>
      </div>
  </div>
  <div class="center"  (click)="schemes()">
    <div class="content">
      <img src="assets/imgs/schemes.png"  style="width: 72%;">
      <p class="text">Schemes & offers</p>
    </div>
</div>
<div class="center"  (click)="reedem()">
  <div class="content">
    <img src="assets/imgs/rewards.png"  style="width: 72%;">
    <p class="text">Redeem your Rewards</p>
  </div>
</div>
</ion-content>