page-loyalty {


    .toolbar-background {
        background-color:   #000006;
      }

      .background {
        background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
         rgb(20,0,9) 100%); 
         
            }
    
            ion-title {
                text-align: center;
                
            }
            .toolbar-title{
                color: #F4F8FB;
            }
   
            .center { 
                height: 167px;
                width: 85%;
                position: relative;
                /* border: 3px solid green; */
                background-color: #B71717;
                border-radius: 18px;
                margin: 27px auto;
              }
              
              .center .content {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;

              }
              .text{
                font-size: 14px !important;
                color: #F4F8FB;
              }

}
