page-moduledetails {
    .heading{
        font-size: 13px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #fff;
    }
    .sub-heading{
        font-size: 10px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #fff;
    }
    .cards-list-demo{
        padding: 2px;
        background-color: #f4f8fb;
    }
    .background {  
        background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
         rgb(20,0,9) 100%); 
    }
    .crads{
        padding: 10px;
        text-transform: capitalize;
    }
    .toolbar-background-md {
        background: #190909; 
    }
        .toolbar-background-ios {
        background: #190909; 
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff; 
        margin-left: -10px;
    }
       .toolbar-title-ios {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff; 
        margin-left: -10px;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
        background-color: transparent;
    }
       .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
        background-color: transparent;
    }
    .button-md {
        height: 5rem;
        font-size: 16px !important; 
        background-color: #d51010 !important;
        color: #fff !important;
        width: 66%;
        border-radius: 18px;
    }
    .button-ios {
       height: 5rem;
        font-size: 16px !important; 
        background-color: #d51010 !important;
        color: #fff !important;
        width: 66%;
        border-radius: 18px;
    }
    .toolbar-title-md {
        font-size: 1.5rem;
         margin-right: 9% !important;
    }
    .toolbar-title-ios {
        font-size: 1.5rem;
        margin-right: 9% !important;
    }
    .back-button.show-back-button {
        display: none !important;
    }
}
