
<!--
  Generated template for the ModuledetailsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

 <ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="backBtn()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
      </button>  
  </ion-buttons>
  <ion-title text-center >Draught Beer Good Practice</ion-title>
  </ion-navbar>
</ion-header> 

<ion-content padding class="background">
  <div padding-bottom>
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>
  <div padding-bottom>
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>
  <div padding-bottom> 
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>
 <div padding-bottom> 
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-12 class="col-12" no-padding text-center>
        <button no-margin ion-button text-capitalize (click)="StartQuizBtn()">Start Quiz</button>
      </ion-col> 
  </ion-row>
  </ion-toolbar>
</ion-footer>