<!--
  Generated template for the QuizDescPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QUIZ TASK</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  class="background" no-padding no-margin >
  <div>
    <div style="    text-align: center;  padding: 35px;  background-color: black;  margin: 10px;border: 1px soild red !important;">
      <img src="assets/imgs/quiz.png"> 
        </div>
  </div>

  <p class="pheadd">Instructions</p>
  <p class="pbodyy">Complete this task to get 100 points and get chance to unlock wheel of fortune</p>
  <div>
    <div style="    text-align: center;  padding: 5px;  margin: 10px;border: 1px soild red !important;">
      <img src="assets/imgs/qz_task.png"> 
        </div>
  </div>

</ion-content>

<div class="footer"  >
  <button class=" quiz_button" (click)="next()">START TASK</button>
</div>





