page-rewarddesc {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
        .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    ion-title {
        width: 70%;
        float: left;
        padding-top: 7px !important;
    }
    .toolbar-title-md {
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
    }
        .toolbar-title-ios {
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
    }
    .btnicon {
        color: #fff;
        background-color: #1b0705;
        width: 15%;
        float: right;
        font-size: 1.2rem;
        padding-top: 3px !important;
    }
    .btniconback{
        border-color: #1b0705;
        background: #1b0705;
        color: #fff;    
        width: 15%; 
        float: left;
        font-size: 1.5rem;
        padding-left: 10px !important;
    }
    .numicon {
        color: #fff !important;
        background-color: #7c0c0b;
        position: absolute;
        top: 0px;
        left: 12px;
        padding: 3px;
        border-radius: 50%;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
        .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    .subheader {  
        text-align: center;
        background-color: #2d1412;
        border-bottom: 1px solid #94949468;
        border-top: 1px solid #94949468;
    } 
    .colsubheader {
        border-right: 1px solid #94949468;
    }
    .inner-img {
        padding:0px  20px;
    }
    .carditem {
        background-color: transparent;
        border: 1px solid #94949468;
        box-shadow: none !important;
        width: 94.50%;
        height: 222px; 
        margin: 0px !important;
        margin-bottom: 10px !important;
        margin-left: 5px !important;
        margin-right: 5px !important; 
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .card-p-head {
        font-size: 10px !important;
        color: #949494;
        font-family: regular;
        white-space: nowrap;
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-p-cat {
        font-size: 10px !important;
        color: #F4F8FB;
        font-family: regular;  
    }
    .card-points {
        color: #F4F8FB;
        font-family: medium;
    }
    .divleft {
    width: 39%;
    float: left;
    text-align: right;
    }
    .divright {
    width: 50%;
    float: left;
    text-align: left;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB;
        background-color: transparent;
    }
     .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #F4F8FB;
        background-color: transparent;
    }
    .toolbar-title-md {
        margin-right: 9% !important;
    }
      .toolbar-title-ios {
        margin-right: 9% !important;
    }
    ion-card img {
        display: block;
        width: 100%;
        height: 100px;
        border-radius: 6px;
    }
    .card-content-ios {
        padding: 13px 16px 14px !important;
    }
}