<!--
  Generated template for the RewarddescPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> 
    <ion-title text-center>{{ category_name }}</ion-title>
    <button ion-item icon-only item-end no-padding no-margin class="btnicon" (click)="cartBtn()">
      <ion-icon name="ios-cart-outline" mode="ios" no-padding no-margin></ion-icon>
      <!-- <a class="numicon">10</a>  -->
    </button>
  </ion-navbar>
</ion-header>
<ion-content no-padding no-margin class="bgcolor">
  <ion-grid no-padding no-margin padding-bottom margin-bottom>
    <ion-row class="subheader">
      <ion-col class="colsubheader">
        <button ion-button icon-start clear small style="text-align: center;" (click)="filterBtn()">  
          <ion-icon name="ios-funnel-outline" style="color:#F4F8FB;"></ion-icon>
          <div class="selfwhite">Filter</div> 
        </button>
      </ion-col>
      <ion-col class="colsubheader"> 
        <button ion-button icon-start clear small (click)="SortBtn()">
          <ion-icon name="ios-funnel-outline" style="color:#F4F8FB;"></ion-icon>
          <div class="selfwhite">Sort</div>
        </button>
      </ion-col> 
      <!-- <ion-col align-self-center text-center>
        <div class="selffullwidth">
          
            <div class="divleft"><img src="assets/imgs/rewardcoin.png"></div>
            <div class="selfwhite divright">4,300</div>
         
          <div class="selfwhite selffullwidth" text-center></div>
        </div>
      </ion-col> -->
    </ion-row>
    <ion-row padding style="margin-top: 10px !important;"> 
      <ion-col class="col-6" *ngFor="let item of itemlist; let i=index;" (click)="productdetail(item.id)">
        <ion-card row-center class="carditem">   
        <ion-card-content >
            <p class="card-p-head">{{item.prod_name}}</p>
            <p class="card-p-head" *ngIf="item.mrp!=null">{{ 'Rs.'+item.mrp+'/-' }}</p> 
            <p class="card-p-cat">{{ category_name }}</p>
        </ion-card-content>
        <div class="inner-img" >
            <img src="assets/imgs/noimage.png" alt="{{item.prod_name}}" *ngIf="item.small_image=='' || item.small_image==null"> 
            <img [src]="item.small_image" alt="{{item.prod_name}}" *ngIf="item.small_image!=''" onError="this.src='assets/imgs/noimage.png'"> 
        </div> 
        <!-- <div class="inner-img" *ngIf="ImageStatus">
          <img src="assets/imgs/alen-soly.png">
      </div>  -->
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
               <div class="card-points" *ngIf="item.points!=null">
                  <div style="width: 100%;">
                    <div style="width: 40%;float: left;"><img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;margin-top: 4px;"></div>
                    <div style="width: 60%;float: left;"><p style="color: #FFF; font-size: 18px !important; font-weight: 500; margin: 0px !important; padding: 0px !important; text-align: end; padding-top: -23px;">{{item.points}}</p></div>
                  </div>
                </div>
            </button>
          </ion-col>
          <!-- <ion-col align-self-center text-center>
               <ion-icon name="ios-heart-outline"></ion-icon>
          </ion-col> -->
        </ion-row>       
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>