page-moredetails {
    /*
    ion-list {
        width: 100%;
    }
    ion-item {
        border: 1px solid #000!important;
        border-radius: 5px!important;
    }
    .list-ios .item-block .item-inner { 
        border: 0px!important;
    }
    .list-md .item-block .item-inner { 
        border: 0px!important;
    }
    ion-footer{
        background:#2170f4;
    }

    .no-match {
        background: #d75a4a;
        width: 100%;
        border-radius: 50px;
    }
    .no-match  p{
        color: #d75a4a;
        padding: 5px 0;
        font-size: 14px !important;
    }

    .moredetails-text {
        width:100%;
    }
    .txtp{
        color: #03a9f4;
        font-size: 14px; 
    }
    */
        .carousel-inner img {
            width: 100%;
            height: 200px;
        }
    
        .carousel-indicators li {
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }
        .submit_btn{
    
          background-color: #d51010;
          color:#FFF;
          width: 70%;
          margin: 0px auto;
          border-radius: 5px;
          text-transform: capitalize;
        }
       .background {  
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%); 
     
        }
        .scroll-content,
        fixed-content {
             
            
          
    
            .middle-page{
              
              padding: 5px 30px;
              padding-top:5%;
              ion-item{
                background: none;
                padding-left: 0 !important;
                color: #fff !important;
                   // background-color: rgb(231, 230, 230) !important;
                   margin-bottom: 10px;
                   // border-radius: 10px;
              }
              button{
                   margin-top:2rem;
                   height: 3.7rem;
                   border-radius: 1;
              }
            }//end middle page
    
            .bottom-page{
              height: 7%;
            }//End bottom page
        }



    .carousel-inner img {
        width: 100%;
        height: 200px;
    }

    .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
    .submit_btn{
      background-color: #d51010;
      color: #FFF;
      width: 55%;
      margin: 0px auto;
      border-radius: 5px; 
      text-transform: capitalize;
      font-size: 17px !important;
      height: 4.5rem !important;
    }
   .background {  
background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
 rgb(20,0,9) 100%); 
 
    }
    .heading h3{
        text-align:center;
        font-size: 18px; 

        margin-bottom:10px;
        margin: 0px auto;
        font-weight: 200;

      }
      .text-input-md {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        border-radius: 10px;
    }
          .text-input-ios {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        border-radius: 10px;
    }
    .scroll-content,
    fixed-content {
         

        
      

        .middle-page{
          
          padding: 5px 30px;
          padding-top:5%;
          ion-item{
            background: none;
            padding-left: 0 !important;
            color: #fff !important;
               // background-color: rgb(231, 230, 230) !important;
               margin-bottom: 10px;
               // border-radius: 10px;
          }
          button{
               margin-top:2rem;
               height: 3.7rem;
               border-radius: 1;
          }
        }//end middle page

        .bottom-page{
          height: 7%;
        }//End bottom page
    }
    

    .rowpheader {
      color: #fff !important;
      font-size: 13px !important;
    }
    .rowcolp {
      color: #fff !important;
    font-size: 13px !important;
    }


    
}
