<!--
  Generated template for the MoredetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-padding class="background">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">  
        <img src="assets/imgs/Bud banners_login 1.jpg" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/Bud banners_login 2.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/Bud banners_login 3.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <ul class="carousel-indicators" style="margin-top: 10px;position: relative;">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  </div>
<ion-list>
<div class="middle-page">

<ion-row style="margin-top: 20px;">
<ion-col col-12 no-padding no-margin text-center>
    <p no-padding no-margin class="rowcolp">Register the User Name and Their</p>
    <p no-padding no-margin class="rowcolp">Designation</p>
</ion-col>
</ion-row>

<ion-row style="margin-top: 49px;">
  <h3 style="text-align:center;font-size:14px; margin-top:50px;margin-bottom:10px;margin: 0px auto" class="text-white">User Name</h3> 
</ion-row>
<ion-row> 
  <ion-item class="username" style="border: 1px solid #FFF;background-color: azure;
  border-radius: 10px;margin-top: 10px;">  
 <ion-input type="text" [(ngModel)]="username"  placeholder="Username" style="text-align: center;color: black;border:0px"></ion-input>
 </ion-item>
</ion-row>
<ion-row style="margin-top: 10px;">
  <h3 style="    text-align: center;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin: 0px auto;
  color: #949494 !important;" class="text-white">{{parent_role_name}}</h3>
</ion-row>
<ion-row style="text-align: center;margin-top: 50px;"> 
  <button ion-button full (click)="Continue()"  class="submit_btn" >Continue</button> 
</ion-row>
</div>
</ion-list> 
</ion-content>