<ion-content no-padding no-margin class="content-area">
  <ion-row> 
    <ion-col col-10 offset-1 no-margin no-padding style="margin-right: 30px;margin-left: 30px;" *ngIf="!successmsg">
      <div class="panel">
        <div class="cross-btn">
            <button ion-button icon-only (click)="closemodal(false)" class="Btn-close">
                <ion-icon name="close" style="color: #000;"></ion-icon>
              </button>  
        </div>
        <div class="panel-header">  
        </div>
        <div class="panel-body p-4">
              <img src="{{imageData}}" style="height: 300px;width: 100%;" *ngIf="posmBool">
              <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwAXLCAlkENsrvgEqeWXMnI6cp7Iv115RVzdQNIrFelzrT80rWCA&s" style="height: 300px;width: 100%;" *ngIf="posmBool"> -->
              <div class="box pb-4 text-center" *ngIf="posmBool" margin-top> 
              </div>
          </div>
          <footer>  
            <div class="footer-btn">      
              <button ion-button class="goback" (click)="closemodal(false)" *ngIf="posmBool"> 
                <ion-icon name="ios-arrow-round-back-outline" mode="ios" class="GobackIcon"></ion-icon>
                <span style="color: #949494;">Go Back To Camera</span>
              </button>    
            </div>
            <div class="footer-btn" style="padding-bottom: 11px !important;"> 
              <button ion-button [ngStyle]="{'margin-left':!posmBool?'22%':'11%'}" *ngIf="!posmBool" (click)="NextBtn()">Next</button>  
              <button ion-button style="font-size: 17px;" *ngIf="posmBool" (click)="NextFinalBtn(true)">
                <span style="color:#fff">Submit</span>
              </button>   
            </div>
          </footer>
      </div>
    </ion-col>
    </ion-row>
    </ion-content>