<!--
  Generated template for the CreatepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <ion-row no-padding no-margin> 
            <ion-col col-11  no-padding no-margin text-left> 
                <ion-title no-padding no-margin>Create Password</ion-title>  
            </ion-col>
          </ion-row>
    </ion-navbar>
</ion-header> 
  
<ion-content padding>
  <div class="container">
  <ion-row>
    <ion-col col-12>
    <div class="mobile-no">
       <div class="mobile-content">
        <img src="assets/imgs/bigcitylogo.png" class="img-fluid" style="width:50%">
        <p class="mt-5">Create Your Password</p>
       </div>
    </div>
    <ion-list *ngIf="!loginotpcode">
        <ion-item>  
          <ion-input type="password" placeholder="Enter Password" [(ngModel)]="newpass"></ion-input>
        </ion-item>
        <ion-item margin-top>
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmpass"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="loginotpcode">
      <ion-item>  
        <ion-input type="password" placeholder="Enter Password" [(ngModel)]="newpasslogin"></ion-input>
      </ion-item>
  </ion-list>
    </ion-col>
  </ion-row>
  </div>
</ion-content>
  <ion-footer>
      <div class="py-3 text-center text-white" (click)="SaveBtn()" *ngIf="!loginotpcode"> 
          <p no-padding no-margin style="padding-bottom: 0.4rem!important;padding-top: 0.4rem!important;">NEXT</p>
      </div>
      <div class="py-3 text-center text-white" (click)="SaveBtnLogin()" *ngIf="loginotpcode"> 
        <p no-padding no-margin style="padding-bottom: 0.4rem!important;padding-top: 0.4rem!important;">NEXT</p>
    </div>
  </ion-footer>
