page-createpassword {
    .toolbar-ios ion-title {
        padding: 0;
    }
    .toolbar-md ion-title {
        padding: 0;
    }
    .mobile-content {
        text-align: center;
        padding: 51px 0 30px;
    }
    .item-ios {
        border: 1px solid #979797;
        border-radius: 5px;
    }
    .item-md {
        border: 1px solid #979797;
        border-radius: 5px;
    }
    ion-icon.icon.icon-ios.icon-ios-blue.ion-ios-book-outline.item-icon {
        color: #2170f4;
    }
    ion-icon.icon.icon-md.icon-md-blue.ion-md-book-outline.item-icon {
        color: #2170f4;
    }
    ion-footer{
        background:#2170f4;
    }
    .list-md .item-input:last-child {
        border-bottom: 1px solid #979797;
    }
}
