<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQ Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  class="background" fullscreen>
  <div class="accordion" id="accordionExample">
    <div class="card cardradius">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="spanTxt">General</span>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p class="ques">1. What is the Bud4Trade App?</p>
          <p class="answer">Bud4Trade lets various user groups track their sales targets, be updated with schemes and offers, play fun activities and indulge in content and learning modules. You can earn points and redeem them against rewards. </p>
          
          <p class="ques">2. How do I earn coins on the Bud4Trade app?</p>
          <p class="answer">It’s easy! Earn coins when you complete your daily activities, conduct POSM audits, watch videos, and undertake quizzes after completing content and learning modules.</p>
          
          <p class="ques">3. My mobile number has changed. What do I do?</p>
            <p class="answer">Please write to us at _________ or call us on ____________ and we’ll help you out.</p>
          
          <p class="ques">4. I want to change the language of Bud4Trade app. What do I do?</p>
          <p class="answer">You can change the app language here: insert link to app language settings</p>
          
          <p class="ques">5. The details on my profile page are incorrect. What do I do?</p>
          <p class="answer">You can edit the details on your profile page anytime you want. Just visit your profile and click on Edit button.</p>  
        </div>
      </div>
    </div>

    <div class="card cardradius">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span class="spanTxt">Coins & Rewards</span>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p class="ques">1. How I do get rewards?</p>
          <p class="answer">To get rewards, you will have to earn coins which you can burn in return to get rewards. To earn coins, complete your daily activities, conduct POSM audits, watch videos, and undertake quizzes after completing content and learning modules.</p>
          <p class="ques">2. What do I do with accumulated coins?</p>
          <p class="answer">You can redeem rewards against your earned accumulated coins. Go to Rewards Section on the Profile tab > Choose the category of reward you like > Choose a gift voucher of your choice > Verify your reward on the checkout page > Click on Place Order.</p>
          <p class="ques">3. How do I track an existing order?</p>
          <p class="answer">You can keep a track of all your orders, existing or past, here: insert link for Order page</p>
          <p class="ques">4. I have placed an order for a reward. It hasn’t been delivered yet, what do I do?</p>
          <p class="answer">You can track your reward here: insert link for Order page or write to us at ________ and we will get in touch with you within 48-business hours.</p>
          <p class="ques">5. I have received a reward. But I have a query related to it. What do I do? </p>
          <p class="answer">If you any queries related to rewards, write to us at ________ and we will get in touch with you within 48-business hours to get your query resolved.</p>
          
        </div>
      </div>
    </div>

    <div class="card cardradius">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <span class="spanTxt">Contact Us</span>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p class="ques">1. I have trouble with the app. Who do I reach out to?</p>
          <p class="answer">Write to us at __________ and we’ll help you out.</p>
        </div>
      </div>
    </div>

    <div class="card cardradius">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <span class="spanTxt">Modules</span>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <p class="ques">1. My targets on the Targets & Achievements page are displayed incorrectly. What do I do?</p>
            <p class="answer">Your target trackers are set up as per records with AbInBev. If you find any errors, please write to us at _____ or call us on ______ and we’ll help you out.</p>
          
              <p class="ques">2. I have taken a proper image of the POSM material (LED chasers, tower, cooler, etc.) but it is saying that my image is incorrect. What do I do?</p>
                <p class="answer">For every POSM audit, we have shown which is the right way and wrong way of clicking pictures. Please follow that to upload images for audit. In case you have more queries, write to us at ______ or call us on _________.</p>
          
                  <p class="ques">3. I finished watching a content and learning video. What do I do?</p>
                    <p class="answer">After each video under the content and learning module, you will be prompted to attempt a quiz. Answer questions based on the video you just watched and earn points.</p>
          
                      <p class="ques">4. There are no more pending activities that I have to do. What do I do to finish more activities?</p>
                        <p class="answer">There are only so many activities that you can do in a day. Come back tomorrow to complete a new set of activities.</p>
        </div>
      </div>
    </div>


  </div>
</ion-content>
