page-help {
    .ques{
        color:white;
        font-family: semibold;
        font-size: 14px !important;
    }
    .answer{
        color: #949494;
        font-size: 13px !important;
    }
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        background: #190909;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
        margin-left: 10px;
        font-family: medium;
    }
            ion-title {
                text-align: center;
            }
            .toolbar-title{
                color: #F4F8FB;
            }
            .accordion>.card {
                background-color: #B71717;
                overflow: hidden;
            }
            .btn-link {
                font-weight: 400;
                color: #F4F8FB;
                text-decoration: none;
            }
            .btn-link:hover {
                color: #F4F8FB;
                text-decoration: none;
            }
            .card-header {
                margin-top: 0px;
                margin-bottom: 0px !important;
                padding: .75rem 1.25rem;
                margin-bottom: 0;
                background-color: transparent;
                border-bottom: 1px solid transparent;
            }
            .card {
                margin-top: 4px !important;
            }
            .spanTxt {   
                color: #F4F8FB;
                font-size: 14px;
                font-family: medium;
            }
        

}