page-app-feedback {
    ion-title {
        text-align: center;
        
    }
    .toolbar-title{
        color: #F4F8FB;
    }
    .toolbar-background {
        background-color:   #000006;
      }

      .p-txt{
        font-size: 13pt !important;
        color: #949494;
        font-family: medium;
        text-align: justify;
        margin: 10px 0px;
      }

.pheadd{
    font-size: 10pt !important;
    color: #F4F8FB;
    font-family: medium;
    text-align: justify;
    margin: 10px 0px;
}
        .phead {
            font-size: 8pt !important;
            color: #949494;
            font-family: medium;
            text-align: justify;
            margin: 10px 0px;
        }

        ion-title {
            text-align: center;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }
        
        .tabbar {
            display: none;
        }
    .show-tabbar{
        display: none;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#000000;
        color: white;
        text-align: center;
        padding: 16px;
     }
    
    
    
     .quiz_button{
        background-color: #D51010;
        padding: 9px 51px;
        border-radius: 17px;
        color: #FFFFFF;
     }
     
     .background {
        background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
         rgb(20,0,9) 100%); 
         
            }
            ion-icon {
                display: inline-block;
                font-size: 3.2em;
                color: aliceblue;
            }
            textarea.text-input {
                display: block;
                background-color: #FCFCFC;
                height: 26vh;
                border-radius: 10px;
                color: #949494;
                padding: 10px;
            }
            .item-md {
                border-radius: 10px;
            }
      .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: transparent;
                color: white;
                text-align: center;
                padding: 16px;
            }
            .item-ios {
                border-radius: 10px;
                padding-left: 16px;
                padding-left: 16px;
                border-radius: 0;
                position: relative;
                font-size: 1.7rem;
                color: #94949468;
                background-color: #FCFCFC !important;
                -webkit-transition: background-color 200ms linear;
                transition: background-color 200ms linear;
                border-radius: 10px;
            }
}
