<!--
  Generated template for the AppFeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>App Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="background" fullscreen padding="10px" >
  <div class="row" style=" margin: 10px 0px;"   >
  
    <div class="col-12 mx-auto">
      <p class="pheadd" >Your feedback is valuable to us. With your feedback, we can make the Bud4Trade Experience better for you.</p>
      <!-- <p class="phead"></p> -->
    </div>  


    </div>

    <div class="row" style=" margin: 10px 0px;"   >
  
      <div class="col-12 mx-auto">
        <p class="pheadd" >What's your feedback about ?</p>
        <ion-item>
          <ion-label>feedback options</ion-label>
          <ion-select >
            <ion-option value="1">January</ion-option>
            <ion-option value="2">February</ion-option>
            <ion-option value="3">March</ion-option>
            <ion-option value="4">April</ion-option>
            <ion-option value="5">May</ion-option>
            <ion-option value="6">June</ion-option>
            <ion-option value="7">July</ion-option>
            <ion-option value="8">August </ion-option>
            <ion-option value="9">September</ion-option>
            <ion-option value="10">October </ion-option>
            <ion-option value="11">November </ion-option>
            <ion-option value="12">December </ion-option>
    
          </ion-select>
        </ion-item>
      </div>
  
  
      </div>
      <div class="row" style=" margin: 10px 0px;"   >
  
        <div class="col-12 mx-auto">
          <p class="pheadd" >Tell us More</p>
          <ion-textarea></ion-textarea>
        </div>
    
    
        </div>
        <br>
        <button ion-button class="text-center text-white" style="width: 100%;background-color: #B71717;box-shadow: none;  padding: 32px;  border-radius: 32px;">Submit</button> 



</ion-content>

 