page-rewardstore {
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .grid {
        bottom: 0;
        position: absolute;
        padding: 0px !important;
        margin: 0px !important;
    }
    .card-md {
        margin:10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #DE1A32;
        box-shadow: 0px 0px;
        margin: 0px !important;
    }
    .card-ios {
        margin:10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #DE1A32;
        box-shadow: 0px 0px;
        margin: 0px !important;
    }
    img {
        width: 100%;
    }
    .sorthead {
        color: #222 !important;
    }
    .dialog {
        margin-top: 77px;
        margin-bottom: 16px;    
    }
    .closeBtn {
        font-family: regular;
        box-shadow: 0px 0px; 
        border: 1px solid #DE1A32;
        background-color: #DE1A32;
        width: 60%;
        margin: 0px auto;
        height: 4.5rem; 
        border-radius: 12px;
        text-transform: capitalize;
        font-size: 18px;
        color:#F4F8FB;
        margin-top: -8px !important;
    }
    .Txtmsg {
        font-family: regular;
        font-size: 20px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .colorselect {
       color: #949494;
    }
    .colorselect1 {
        color:#F4F8FB;
    }
    .bgunselect {
        background: #de1a32;
    }
    .bgselect {
        background: #841111;
    }
}