<!--
  Generated template for the RewardstorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding no-margin class="content-area">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <div class="dialog">
          <ion-row margin-top>
            <ion-col col-md-4 text-center>
              <!-- <ion-icon name="ios-arrow-back-outline" mode="ios" style="font-size:29px;color:#F4F8FB;padding-right: 7px;" (click)="ArrowBackBtn()"></ion-icon>
              <ion-icon name="ios-arrow-forward-outline" mode="ios" style="font-size:29px;color:#F4F8FB;padding-left: 7px;" (click)="ArrowForwardBtn()"></ion-icon> -->
            </ion-col> 
            <ion-col col-md-4 text-center>
              <p no-padding no-margin class="sorthead" text-center>Sort by</p>
            </ion-col> 
            <ion-col col-md-4 text-center>
              <button ion-button class="closeBtn" (click)="NextBtn()" clear>Done</button>  
            </ion-col>
          </ion-row>  
        <!-- <p no-padding no-margin class="Txtmsg colorselect1" text-center [class.bgselect]="bgselect1==1" (click)="TxtSelect(1)">Popularity</p> -->
        <p no-padding no-margin class="Txtmsg colorselect1" text-center [class.bgselect]="bgselect2==1" (click)="TxtSelect(2)">Coins : High to Low</p>
        <p no-padding no-margin class="Txtmsg colorselect1" text-center [class.bgselect]="bgselect4==1" (click)="TxtSelect(4)">Coins : Low to High</p>
        <!-- <p no-padding no-margin class="Txtmsg colorselect" text-center [class.bgselect]="bgselect3==1" (click)="TxtSelect(3)">Discount</p> -->
        </div>
      </ion-card>
    </ion-row>
    </ion-grid>
</ion-content>