page-mysteryshopper4 {

    
    .background {  
        /* background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,rgb(20,0,9) 100%); */  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-md-dark .toolbar-background-md {
        background: #1a0505;
        border-color: #1a0505;
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 15px !important;
    }
    .firstdiv p{
        color: #F4F8FB;
        width: 100%;
        font-size: 15px !important;
        font-family: medium;
     }

    .startaudit{
        bottom: 0;
        position: absolute;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    .startaudit  button{
        background-color: #B71717;
        margin: 0px auto;
        width: 65%;
        height: 60px;
        border-radius: 20px;
        text-transform: capitalize;
        border: 1px solid #535353;
        font-size: 16px;
        font-family: regular;
         
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 25px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 20px;
       
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB !important;
        }
}
