<!--
  Generated template for the Mysteryshopper4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center style="color: #F4F8FB;width:85%;">Experience</ion-title> 
  </ion-navbar>
</ion-header>


<ion-content padding class="background">


  <ion-row padding class="firstdiv">
    <ion-row class="firstdiv" style="width: 100%;  margin: 0px !important;">
      <p text-center>Greeted you with a Smile</p>
    </ion-row>
    <ion-row style="margin-left: 15% ;">
      <page-stars [rating]='items.rating' [itemId]='items.id'></page-stars>
      <!-- <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star-o"></i></span> -->
      </ion-row>
  </ion-row>
  <ion-row padding class="firstdiv">
    <ion-row class="firstdiv" text-center style="width: 100%;  margin: 0px !important;">
      <p>Quality of the Service</p>
    </ion-row>
    <ion-row style="margin-left: 15% ;">
      <page-stars [rating]='items.rating' [itemId]='items.id'></page-stars>
      <!-- <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star-o"></i></span> -->
      </ion-row>     
  </ion-row>

  <ion-row padding class="firstdiv">
    
    <ion-row class="firstdiv">
      <p text-center>provided helpful information about the products</p>
    </ion-row>

    <ion-row style="margin-left: 15% ;">
      <page-stars [rating]='items.rating' [itemId]='items.id'></page-stars>
    <!-- <span class="float-right"><i class="text-warning fa fa-star"></i></span>
    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
    <span class="float-right"><i class="text-warning fa fa-star"></i></span> -->
    </ion-row>

  </ion-row>

  <ion-row padding class="firstdiv">
    <ion-row class="firstdiv" padding>
      <p text-center>Answered All your Questions about the product </p>
    </ion-row>

    <ion-row style="margin-left: 15% ;">
      <page-stars [rating]='items.rating' [itemId]='items.id'></page-stars>
      <!-- <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
      <span class="float-right"><i class="text-warning fa fa-star"></i></span> -->
      </ion-row>
  
     
  </ion-row>


  <ion-row class="startaudit">
    <button ion-button color="secondary" round (click)="NextBtn()">Next</button>
  </ion-row>

</ion-content>
