<!--
  Generated template for the OutletDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-row no-padding no-margin>
            <ion-col col-1 no-padding no-margin>
                <ion-buttons start>
                    <button ion-button icon-only (click)="backBtn()">
                      <ion-icon name="arrow-back"></ion-icon>
                    </button>
                  </ion-buttons>
            </ion-col>
            <ion-col col-11 no-padding no-margin>
                <ion-title>Outlet Details</ion-title>
            </ion-col>
          </ion-row>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-row>
        <ion-col col-12>
          <ion-card>
              <ion-card-content>
                <div class="panel">
                  <div class="panel-profile">
                    <img src="assets/imgs/profile.png">
                  </div>
                </div>
                <ion-list class="my-2 pb-5">
                    <ion-label>Complete store name</ion-label>
                    <ion-item>
                      <ion-input type="text"></ion-input>
                    </ion-item>
  
                    <ion-label>Retailer name</ion-label>
                    <ion-item>
                      <ion-input type="text"></ion-input>
                    </ion-item>
  
                    <!-- <label>Retailer contact number</label> -->
                    <ion-label>Retailer contact number</ion-label>
                    <ion-item>
                      <ion-input type="number"></ion-input>
                    </ion-item>
  
                    <!-- <label>Full address for the store</label>
                    <ion-item>
                      <ion-input type="text"></ion-input>
                    </ion-item> -->
                    <ion-label>Full address for the store</ion-label>
                    <ion-item>
                        <!-- <ion-label position="floating">Description</ion-label> -->
                        <ion-textarea></ion-textarea>
                      </ion-item>
                  
                  
                  </ion-list>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white">
        <p no-padding no-margin>LOG THIS VISIT</p>
    </div>
</ion-footer>
