page-outlet-details {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    .panel-profile {
        text-align: center;
    }
    ion-card img {
        display: inline-block;
        width: 100px;
    }
    .item-block {
        min-height: 2.4rem!important;
    }
    
    .list-ios > .item-block, .list-ios > .item-wrapper .item-block {
   
        border: 1px solid #b8bfc4;
        border-radius: 5px;
    }
    ion-label {
        color: #666666;
    }
    .label-ios {
        margin: 22px 8px 6px 0;
    }
    .text-input-ios {
        margin: 10px 8px 7px 0;
    }
    .card-content-ios {
        padding: 13px 10px 14px;
    }
    textarea.text-input.text-input-ios {
        resize: none;
        margin: 17px 0!important;
    }
    ion-footer{
        background:#2170f4;
    }
}
