<!--
  Generated template for the AnnouncementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-icon name="arrow-back" style="font-size: 27px;"></ion-icon>
      <ion-title>Announcements</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <!-- <ion-row>
        <ion-col col-12> -->
    <div class="announcements">
       <ion-card *ngFor="let item of items">
         <ion-card-content>
           <div class="panel">
            <ion-row>
              <ion-col col-4>
                <div class="panel-img text-center">
                  <img src="assets/imgs/locked.png">
                </div>
              </ion-col>
              <ion-col col-8>
                <div class="panel-content" >
                  <article >
                    <h5>{{item.heading}}</h5>
                    <p>{{item.content}}</p> 
                  </article>
                  <div class="panel-btn">
                    <button ion-button round>{{item.btn}}</button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
        </div>
         </ion-card-content>
       </ion-card>
      <!-- </ion-col>
    </ion-row> -->
  </div>
</ion-content>

