page-announcements {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    ion-card img {
        display: inline-block;
        width: initial;
    }
    .card-ios p {
        color: #000;
    }
    .panel-btn .button-round-ios {
        border-radius: 64px;
        padding: 0 2.1rem;
    }
    .panel-btn .button-ios {
        height: 2.4em;
        font-size: 1.2rem;
        color: #fff;
        background-color: #2170f4;
        padding: 0 1.5em;
    }
    .card-ios {
        box-shadow: 2px 4px 6px -1px #00000017;
        margin: 12px 12px 22px;
    }
    .announcements .card-content-ios {
        padding: 13px 16px 6px;
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .panel-content h5 {
        font-weight: bold;
    }

    page-announcements .card-ios {
        margin-bottom: 22px;
    }
    
}
