<!--
  Generated template for the VisitDetails1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-icon name="arrow-back" style="font-size: 27px;" (click)="BackBtn()"></ion-icon>
      <ion-title>Visit details</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row no-padding no-margin>
      <ion-col col-12 no-padding no-margin>
        <ion-card>
            <ion-card-content> 
              <div class="panel">
                <div class="panel-profile">
                  <img src="assets/imgs/profile.png">   
                </div>
              </div>
              <ion-list class="my-5">
                  <ion-label>Complete store name</ion-label>
                  <ion-item>
                    <ion-input type="text"></ion-input>
                  </ion-item>

                  <ion-label>Retailer name</ion-label>
                  <ion-item>
                    <ion-input type="text"></ion-input>
                  </ion-item>

                  <!-- <label>Retailer contact number</label> -->
                  <ion-label>Retailer contact number</ion-label>
                  <ion-item>
                    <ion-input type="number"></ion-input>
                  </ion-item>

                  <!-- <label>Full address for the store</label>
                  <ion-item>
                    <ion-input type="text"></ion-input>
                  </ion-item> -->
                  <ion-label>Full address for the store</ion-label>
                  <ion-item>
                      <!-- <ion-label position="floating">Description</ion-label> -->
                      <ion-textarea></ion-textarea>
                    </ion-item>
                
                
                </ion-list>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
    </ion-content>
    <ion-footer>  
        <div class="py-3 text-center text-white" (click)="nextBtn()">
            <p no-padding no-margin>LOG THIS VISIT</p>
        </div>
    </ion-footer>
