<!--
  Generated template for the SchemesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons>
     <ion-title>Schemes & Offers</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content  class="background" fullscreen >
<!-- <div  *ngFor="let datas of data ;" >

  <img [src]="datas.scheme_img" style="position: relative;" style="    margin: 6px 0px;" (click)="schemes(datas.scheme_status,datas.is_leaderboard,datas)">

  <img  class="expired_photo" style="position: absolute;" src="  assets/imgs/7426713-expired-stamp.jpg"> 
<br>
</div> -->
<div class="containerr" *ngFor="let datas of data ;">
  <img [src]="datas.scheme_img"  (click)="schemes(datas.scheme_status,datas.is_leaderboard,datas)">
  <div class="centered" *ngIf="datas.scheme_status==2" >   <img  src="  assets/imgs/7426713-expired-stamp.jpg"> </div>
  <br>
</div>
  <!-- <div>
    <h4 class="phead">Instructions</h4>
    <p class="pbodyy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
  </div>

<br>
    <nav> 
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="    background-color: #FFFFFF;padding: 10px 0px;">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" style="color: #741919;font-family: regular;" aria-controls="nav-home" aria-selected="true">Eligibility</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"  style="color: #741919;font-family: regular; font-size: 10px;" aria-controls="nav-profile" aria-selected="false">Terms and Condition</a>
   
      </div>
    </nav>  
    
  <div class="info">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" style="    font-size: 10px; color: #949494;font-family: regular;" aria-labelledby="nav-home-tab">
        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" style="    font-size:10px;  color: #949494;font-family: regular;" aria-labelledby="nav-profile-tab">
        Eaaaaddddt et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
      </div>
    </div>
  </div>
  <br>  
 
    <button type="button"  class=" d-block mx-auto btn btn-light" (click)="next()">Leader Board</button> -->

  
</ion-content>
