page-quiz-task {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    ion-card img {
        display: inline;
        width: auto;
        text-align: center;
    }
    page-quiz-task .img-back {
        max-width: 100%;
        height: auto;
        /* padding: 0; */
        padding-top: 15px;
    }
    
    .panel-heading {
        display: block;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #222;
        margin: 2px 22px;
        padding: 8px 0;
        font-weight: 500;
        text-align: center;
    }
    .panel-heading-1{
        font-size: 1.7rem;
        color: #222;
        padding: 0;
        font-weight: 500;
    }
    span.number {
        font-size: 18px;
    }
    .content-ios hr {
        height: 1px;
        background-color: #979797;
        margin: 20px 0;
    }
    .card-ios p {
        color: #212529;
    }
    p.bottom-txt {
        padding: 53px 0 22px;
        text-align: center;
    }  
    ion-card-content p{color:#000}
    .scroll-content {
        margin-top: 30px;
        margin-bottom: 0;
    } 
    ion-footer{
        background:#2170f4;
    }

    .scroll-content {
        padding: 0px !important;
        margin-top: 51px;
    }


}
