<!--
  Generated template for the QuizTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header no-border-bottom>
    <ion-navbar>
      <ion-row no-padding no-margin>
        <!-- <ion-col col-1 no-padding no-margin>
            <ion-buttons start (click)="BackBtn()"> 
                <button ion-button icon-only>
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
        </ion-col> -->
        <ion-col class="col-10" text-center no-padding no-margin>
            <ion-title >Quiz task</ion-title>
          </ion-col>
        <ion-col class="col-1" text-center no-padding no-margin>  
          </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>   

  <ion-content padding no-padding no-margin>
     <ion-row>
       <ion-col col-12>
         <ion-card>
  
            <div class="quiztask text-center pt-5">
                <img class="img-fluid img-back" src="assets/imgs/quiz.png">
             </div>
             
             <ion-card-content>
                <ion-card-title class="panel-heading">{{ title }}</ion-card-title>
              <p class="text-center"><em>Complete this task to get 1 ticket to unlock and play the daily wheel of fortune.</em></p>
              <p class="text-center"><img src="assets/imgs/coin_2.png" class="img-fluid coin"><span class="number ml-2">{{ success_points }}</span></p>
              <hr> 
              <ion-card-title class="panel-heading-1">
                  Description:               
                </ion-card-title>
                <p>
                    Our market representative must have given you a manual to understand the onboarding process for customers. If you have read the manual you are good to take this task. You cannot skip any question and all question are mandatory. There is no negative marking for wrong answers.   
                </p>
  
                <p class="bottom-txt"><em>Click on start task when you are ready!</em></p>
            </ion-card-content>
  
          </ion-card>
        </ion-col>
     </ion-row>
  
  </ion-content>
  <ion-footer>
      <div class="py-3 text-center text-white" (click)="clickBtn()"> 
          <p no-padding no-margin>START TASK</p>
      </div>
  </ion-footer>
