<!--
  Generated template for the AnnouncementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row no-padding no-margin>
        <ion-col col-1 no-padding no-margin>
            <ion-buttons start>
                <button ion-button icon-only>
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
              </ion-buttons>
        </ion-col>
        <ion-col col-11 no-padding no-margin>
            <ion-title>Announcement</ion-title>
          </ion-col>
      </ion-row> 
  </ion-navbar>
</ion-header>

<ion-content no-padding no-margin>
  

 <!-- <div class="banner"> -->
   <img src="assets/imgs/brand-loyalty.png">
 <!-- </div> -->
 
 <ion-grid  no-padding style="padding-left: 12px !important;padding-right: 12px !important;margin-top: -203px !important;"> 
 <ion-row>
   <ion-col col-12>
  <ion-card>
    <ion-card-content>
      <div class="panel">
        <div class="panel-1 mb-5">
            <p>
              <span class="panel-img"><img src="assets/imgs/web.png"></span>
              <span class="txt-custom">Leaderboard</span><br>
              <span class="txt-custom1">Top performers in your peers</span> 
            </p>
        </div>
        <div class="panel-2 mt-2">
         <p *ngFor="let item of items;let i=index" (click)="ClickBtn(item.stores)">
           <span>{{i+1}}</span>
           <span><img src="assets/imgs/web.png" style="border-radius: 50px;"></span>
           <span>{{item.stores}}</span>
           <span class="coin-numb float-right"><img src="assets/imgs/coin_2.png">&nbsp;7</span>
           
          </p>
          <p>
              <span>43</span>
              <span><img src="assets/imgs/web.png" style="border-radius: 50px;"></span>
              <span>Gupta Grocery (You)</span>
              <span class="coin-numb float-right"><img src="assets/imgs/coin_2.png">&nbsp;7</span>
          </p>
          <p class="view-btn">
            <button ion-button outline item-end icon-start>View full leaderboard</button>
          </p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
<section class="panel-inner">
  <h6 class="mt-5 py-2">Eligibility Criterion:</h6>
 <div class="eligibility py-2" *ngFor="let item of eligibilities;let i=index">
   <p><span class="mr-1">{{i+1}}.</span>{{item.options}}</p>
 </div>
 <h6 class="mt-5 py-2">Terms and Conditions:</h6>
 <div class="terms py-2" *ngFor="let item of terms;let i=index">
    <p><span class="mr-1">{{i+1}}.</span>{{item.conditions}}</p>
  </div>
</section>  

</ion-col>
</ion-row>

</ion-grid>

</ion-content>

<ion-footer>
  <div class="py-3 text-center text-white">
      <p no-padding no-margin>PARTCIPATE IN THIS EVENT</p>
  </div>
</ion-footer>
