page-announcement {
    ion-footer{
        background:#2170f4;
    }
    .banner {
        /* margin: -16px; */
        position: absolute;
        top: 0;
        left: 0;
    }
    
    ion-content.content.content-ios {
        background: #f7f7f7;
    }
    ion-card.card.card-ios {
        margin-top: 211px;
    }
    ion-card img {
        width: auto;
        display: inline-block;
    }
    span.txt-custom {
        padding-left: 15px;
        color: #2170f4;
        font-size: 17px;
        font-weight: 600;
    }
    span.txt-custom1 {
        padding-left: 15px;
    }
    span.panel-img {
        /* height: 36%; */
        /* height: 74px; */
        display: inline-block;
        float: left;
        margin-top: 6px;
    }
    .panel-2 span {
        padding: 0 3px;
        font-size: 17px;
        color: #000;
    }
     .card-ios .panel-2 p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        color: #666;
        border-bottom: 2px solid #eff3f6;
        padding: 12px 0;
    }
    p.view-btn {
        text-align: center;
    }
    .view-btn .button-outline-ios {
        border-radius: 4px;
        border-width: 1.5px;
        border-style: solid;
        border-color: #2170f4;
        color: #488aff;
        background-color: transparent;
    }
    p.view-btn span {
        color: #2170f4;
    }
    .view-btn .button-ios {
        height: 2.4em;
    }
    .panel-2 p:nth-last-child(2) {
       border:none;
      }
     .panel-2 p:last-child {
        border:none;
      }
      .eligibility h6 {
        font-size: 15px;
        font-weight: 900;
    }
    section.panel-inner{
        margin: 0px 16px;
    }
  
    .content-md {
        color: #25283b !important;
        background-color: #f7f7f7 !important;
    }

}
