page-settings {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
       .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
       .toolbar-title-ios {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
    .cardcart {
        width: 94.50%;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .RedeemBtn {
        background-color: #D51010 !important;
        height: 4.6rem;
        border: 1px solid #949494;
        width: 99%;
        border-radius: 11px;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: regular;
        margin: 0px !important;
     }
     .titlecart {
        font-size: 11px !important;
    margin-top: 2px;
    color: #949494;
    font-family: medium;
    padding-right: 5px;
     }
     .supplier {
        color: #fff;
        font-size: 13px !important;
        font-family: medium;
     }
     .supplierName {
        color: #949494;
        font-size: 13px !important;
        font-family: medium;
     }
     .cartpoints {
        font-size: 14px !important;
        color: #F4F8FB;
        margin: 4px 0px;
        font-family: medium;
    
     }
     .rowCartTotal { 
        background-color: transparent;
        padding-bottom: 0px !important;
        margin-bottom: -14px !important;
        margin-top: 5px !important;
    
     }
    .totalleft {
        color: #949494;
        font-size: 15px !important;
        font-family: regular;
     }
     .totalright {
        color: #F4F8FB;
        font-size: 15px !important;
        font-family: medium;
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #F4F8FB;
     }
       .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
      color: #F4F8FB;
     }
     .back-button.show-back-button {
      display: none !important;
  }    
  .titlecart1 {
    font-size: 15px !important;
    margin-top: 2px;
    color: #949494;
    font-family: medium;
    padding-right: 5px;
}

}

.modal-backdrop.show {
    opacity: 0 !important;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #000000de !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    opacity: 1.1;
    color: white;
}

.modal-footer {
    
   border: none !important;
}

.modal-header {
    border: none !important;
    display: block !important;
    text-align: center;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
 }

 .previous_month{
    background-color: #B71717;
  } 
  .pheadd {
    font-size: 10pt !important;
    color: #F4F8FB;
    font-family: medium;
    text-align: center;
    margin: 0px !important;
}
.previous_monthh {
    background-color: #761111;
}
.data{
    font-size: 11px !important;
}
  .close {
    float: right;
    font-size: 4.5rem !important;
    font-weight: 700;
    line-height: 1;
    color: white !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    top: -3%;
    position: absolute;
    left: 90%;
}
  