<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>App Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="background" fullscreen padding="10px" >
  <div class="row" style=" margin: 10px 0px;"   >
    <div class="col-12 mx-auto">
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="langTxt">
          <ion-option value="Hindi">Hindi</ion-option>
          <ion-option value="Kannada">Kannada</ion-option>
          <ion-option value="Tamil">Tamil</ion-option>
          <ion-option value="Marathi">Marathi</ion-option>
        </ion-select>
      </ion-item>
    </div>
    </div>
    </ion-content> -->





    <ion-header> 
      <ion-navbar>
        <ion-buttons left>
          <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
              <ion-icon name="arrow-back"></ion-icon>  
          </button>
        </ion-buttons>
        <ion-title text-center>Order Summary</ion-title>
      </ion-navbar>
    </ion-header>

  
    <ion-content no-padding class="bgcolor">
      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->
      <button type="button" id="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;">
        Launch demo modal
      </button>

      
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- <pre>{{order_data|json}}</pre> -->
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">{{prod_name}}</h4>
        
              <h4 class="modal-title" id="exampleModalLabel">{{denominations}}</h4>
       
              <!-- <h5 class="modal-title" id="exampleModalLabel">Pending</h5> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-sm-5" style="width: 40%;">
                    <h5>Order ID:{{order_id}}</h5>
                    <p class="data " style="color:grey"> <b>{{order_date}}</b></p>
                </div>
                <div class="col-sm-7" style="width: 60%;    text-align: right;">
                  <h5>QTY:<span style="    padding: 1px 13px;                    background-color: red;                    border-radius: 10px;                    margin-left: 1%;">{{qty}}</span></h5>
                  <p class="data">Validity:{{offercode_validity}}</p>
                </div>
            </div>
            <div class="row" style="padding: 0px 2px;" >
              <div class="col-1 " style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd previous_month "  style="text-align: center;font-size: 12px !important;">#</p></div>
              <div class="col-2 mx-auto"  style="padding-right: 2px;padding-left: 2px;" ><p class="pheadd previous_month" style=" font-size: 12px !important;text-align: center;">Trann ID<p></div>
              <div class="col-5"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd previous_month" style="font-size: 12px !important;text-align: center;">V.Code </p></div>
              <div class="col-4"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd previous_month" style="font-size: 12px !important;text-align: center;">Pin</p></div>
            </div>
            <div class="row" style="padding: 0px 2px;"  *ngFor="let  offercode_data of order_data;let i=index;"  >
              <div class="col-1 " style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd previous_monthh "  style="text-align: center;font-size: 12px !important;">{{offercode_data.sno}}</p></div>
              <div class="col-2 mx-auto"  style="padding-right: 2px;padding-left: 2px;" ><p class="pheadd previous_monthh" style=" font-size: 12px !important;text-align: center;">{{offercode_data.transaction_id}}<p></div>
              <div class="col-5"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd previous_monthh" style="font-size: 12px !important;text-align: center;">{{offercode_data.offer_code}}</p></div>
              <div class="col-4"  *ngIf="offercode_data.offercode_pin!=null || offercode_data.offercode_pin!=undefined"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd previous_monthh" style="font-size: 12px !important;text-align: center;">{{offercode_data.offercode_pin}}</p></div>
              <div class="col-4"  *ngIf="offercode_data.offercode_pin==null || offercode_data.offercode_pin==undefined"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd previous_monthh" style="font-size: 12px !important;text-align: center;color: #761111;">.</p></div>
            </div>
            </div>  
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <p  *ngIf="show_old_data==false" style="text-align: center;" text-wrap class="titlecart1" (click) = "presentModal()">ORDERS FROM  Bud4Trade</p>
    <div  *ngIf="show_old_data==false" style="    height: 90vh;    overflow: scroll;">
      <ion-card class="cardcart" *ngFor="let  data of datas;let i=index;" >
        <!-- <div (click)="modalop()" >dsndjbsjdb</div> -->
        <ion-row>
          <ion-col  class="col-6" >
            <p style="text-align: center;color: #FFFFFF;" text-wrap class="titlecart">ORDER ID:{{data.order_id}}</p>
            <p style="text-align: center;" text-wrap class="titlecart">{{data.order_date}}</p>
          </ion-col>
          <ion-col class="col-6">
                <p style="text-align: right;" text-wrap class="titlecart">No of Orders: <span style="     color: white;   padding: 1px 13px;                    background-color: red;                    border-radius: 10px;                    margin-left: 1%;">{{data.prod_count}}</span></p>
              
          </ion-col>
        </ion-row>
          <ion-row  *ngFor="let  product of data.products;let i=index;" (click)="modalopp(product.order_status,product.orderdetail_id)">
          <ion-col  class="col-4" padding>
              <img  src="{{ product.mobile }}" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">{{product.prod_name}}</p>
                <!-- <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">:{{product.sku}} </span> 
                </p> -->
                  <div class="selffullwidth selfmt-10">
                    <div style="float: left; width: 50%;">
                      <p class="cartpoints"><span> <img style="    width: 20%;
                        display: inline;" src="assets/imgs/rewardcoin.png"></span>{{product.denominations}}</p>
                     
                    </div>
                    <div style="float: right; width: 50%;">
                      <p class="cartpoints">Qty :&nbsp;&nbsp; {{product.qty}} </p>
                      
                    </div>
                    <!-- <div >                      
                      <p class="cartpoints" *ngIf="product.offer_code!=null || product.offer_code!=undefined" style="    font-size: 11px !important;">Offer Code :&nbsp;{{product.offer_code}}</p>
                      <p class="cartpoints"  *ngIf="product.offercode_pin!=null || product.offercode_pin!=undefined" style="    font-size: 11px !important;">Offer Code :&nbsp;{{product.offercode_pin}}</p>
                    </div> -->

                    <div style=" clear: both;" >                      
                      <p class="cartpoints">Order Status :&nbsp;{{product.order_status}} </p>
                    </div>




                  </div>
          </ion-col>
        </ion-row>

        </ion-card> 
    </div>
     
    
    <p  *ngIf="show_old_data==true" style="text-align: center;" text-wrap class="titlecart1">ORDERS FROM Champions</p>
    <div *ngIf="show_old_data==true" style="    height: 90vh;    overflow: scroll;">
      <!-- <pre>{{old_data|json}}</pre> -->
      <ion-card class="cardcart" *ngFor="let  dataa of old_data;let i=index;">
        
        <ion-row>
          <ion-col  class="col-6" >
            <p style="text-align: center;color: #FFFFFF;" text-wrap class="titlecart">ORDER ID:{{dataa.order_id}}</p>
            <p style="text-align: center;" text-wrap class="titlecart">{{dataa.order_date}}</p>
          </ion-col>
          <ion-col class="col-6">
                <!-- <p style="text-align: right;" text-wrap class="titlecart">No of Orders: <span>{{dataa.prod_count}}</span></p> -->
              
          </ion-col>
        </ion-row>
          <ion-row  >
          <ion-col  class="col-4" padding>
              <img  src="{{dataa.prod_img}}" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">{{dataa.prod_name}}</p>
                <!-- <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">:{{product.sku}} </span> 
                </p> -->
                  <div class="selffullwidth selfmt-10">
                    <!-- <div style="float: left; width: 50%;">
                      <p class="cartpoints">{{dataa.ref_no}}</p>
                     
                    </div> -->
                    <div >
                      <p class="cartpoints">Qty :&nbsp;&nbsp; {{dataa.qty}} </p>
                      
                    </div>
                    <div >                      
                      <p class="cartpoints" style="    font-size: 11px !important;">Offer Code :&nbsp;{{dataa.offer_code}}</p>
                      <!-- <p class="cartpoints"  *ngIf="product.offercode_pin!=null || product.offercode_pin!=undefined" style="    font-size: 11px !important;">Offer Code :&nbsp;{{product.offercode_pin}}</p> -->
                    </div>

                    <div >                      
                      <p class="cartpoints">Order Status :&nbsp;{{dataa.order_status}} </p>
                    </div>




                  </div>
          </ion-col>
        </ion-row>

        </ion-card> 
    </div>
    
    <!--       
          <ion-card class="cardcart">
          <ion-row>
          <ion-col  class="col-4" padding>
              <img src="assets/imgs/alen-soly.png" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
                <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">: Achne Techno</span> 
                </p>
                  <div class="selffullwidth selfmt-10">
                    <div style="float: left; width: 50%;">
                      <p class="cartpoints">10,000</p>
                    </div>
                    <div style="float: right; width: 50%;">
                      <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                    </div>
                  </div>
          </ion-col>
        </ion-row>
        </ion-card>
        
          <ion-card class="cardcart">
          <ion-row>
          <ion-col  class="col-4" padding>
              <img src="assets/imgs/alen-soly.png" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
                <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">: Achne Techno</span> 
                </p>
                  <div class="selffullwidth selfmt-10">
                    <div style="float: left; width: 50%;">
                      <p class="cartpoints">10,000</p>
                    </div>
                    <div style="float: right; width: 50%;">
                      <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                    </div>
                  </div>
          </ion-col>
        </ion-row>
        </ion-card>
        <ion-card class="cardcart">
          <ion-row>
          <ion-col  class="col-4" padding>
              <img src="assets/imgs/alen-soly.png" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
                <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">: Achne Techno</span> 
                </p>
                  <div class="selffullwidth selfmt-10">
                    <div style="float: left; width: 50%;">
                      <p class="cartpoints">10,000</p>
                    </div>
                    <div style="float: right; width: 50%;">
                      <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                    </div>
                  </div>
          </ion-col>
        </ion-row>
        </ion-card>
    
        <ion-card class="cardcart" style="margin-bottom: 75px;">
          <ion-row>
          <ion-col  class="col-4" padding>
              <img src="assets/imgs/alen-soly.png" class="selfml-13">
          </ion-col>
          <ion-col class="col-8" padding-bottom>
                <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
                <p>
                  <span class="supplier">Supplier</span>
                  <span class="supplierName">: Achne Techno</span> 
                </p>
                  <div class="selffullwidth selfmt-10">
                    <div style="float: left; width: 50%;">
                      <p class="cartpoints">10,000</p>
                    </div>
                    <div style="float: right; width: 50%;">
                      <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                    </div>
                  </div>
          </ion-col>
        </ion-row>
        </ion-card>   -->
    
    
    </ion-content>
    <ion-footer no-padding>
      <ion-row class="rowCartTotal">  
        <!-- <ion-col class="col-9" no-margin><p no-margin text-right class="totalleft">Cart Total</p></ion-col>
        <ion-col class="col-3" no-margin><p no-margin text-left class="totalright">30,000</p></ion-col>
        <ion-col class="col-9" no-margin><p text-right class="totalleft">Balence Points</p></ion-col>
        <ion-col class="col-3" no-margin><p text-left class="totalright">20,000</p></ion-col> -->
    
        <!-- <ion-col class="col-9" no-margin><p no-margin text-right class="totalleft">Cart Total</p></ion-col>
        <ion-col class="col-3" no-margin><p no-margin text-left class="totalright">{{ points_to_be_redeem }}</p></ion-col>
        <ion-col class="col-9" no-margin><p text-right class="totalleft">Balence Points</p></ion-col>
        <ion-col class="col-3" no-margin><p text-left class="totalright">{{ balance_points }}</p></ion-col>
         -->
      </ion-row>
        <ion-row>
          <ion-col col-md-12 text-center>  
            <button *ngIf="show_old_data==false" ion-button (click)="toggle()" class="RedeemBtn">VIEW ORDERS FROM Champions </button>
            <button *ngIf="show_old_data==true" ion-button (click)="toggle1()" class="RedeemBtn">VIEW ORDERS FROM Bud4Trade</button>
          </ion-col>
        </ion-row>
    </ion-footer>