page-cartoninsert {

    .background {  
        background: url("../assets/imgs/mobbg.png"); 
     }
     .crads{
       padding: 10px;
       text-transform: capitalize;
     }
     .toolbar-background-md {
       background: #190909;
     }
      .toolbar-background-ios {
       background: #190909;
     }
     .toolbar-title-md {
       padding: 0 12px;
       font-size: 2rem;
       font-weight: 500;
       color: #FFF;
       margin-left: -10px;
     }
      .toolbar-title-ios {
       padding: 0 12px;
       font-size: 2rem;
       font-weight: 500;
       color: #FFF;
       margin-left: -10px;
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
       color: #ffffff;
       background-color: transparent;
     }
      .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
       color: #ffffff;
       background-color: transparent;
     }
     .imageFooter {
     width: 50px;
     height: 50px;
     }
     .arrowForwardIcon {
     color: #EAEAEA !important;
     font-size: 22px;
     padding-top: 10px;
     }
     .imgSelfie {
     width: 50px;
     height: 49px;
     }
     .col-points {
     font-size: 18px !important;
     font-family: medium;
     }
     .back-button.show-back-button {
     display: none !important;
     }
     .P-titlepic {
        margin-bottom: 0px !important;
        color: #fff;
        font-size: 18px !important;
        font-family: regular;
     }
     .P-titlescan {
     
     }
     .P-titlePoints {
        color: #fff;
     font-size: 18px !important;
     padding-left: 5px; 
     font-family: semibold;
     }
     .InstructionsCl1 {
        color: #fff; padding-left: 2px !important; margin-bottom: 0px !important; 
        font-family: semibold;
     }
     .InstructionsCl1Count {
        color: #fff; margin-bottom: 0px !important;
        font-family: semibold;
     }
     .InstructionsCl2 {
        color: #fff;
     padding-left: 10px !important;
     margin-bottom: 0px !important;  font-family: semibold;
     }
     .InstructionsCl3 {
        color: #fff;
     padding-left: 10px !important;
     margin-bottom: 0px !important;  font-family: semibold;
     }
     
     .card {
        background-color: transparent !important;
        background-clip: border-box;
        border: none !important;
        box-shadow: none !important;
     }
}
