page-learningdevelopment {
    .cards-list-demo {
        box-shadow: 0px 0px;
        border-radius: 3px;
        padding: 5px;
        background-color: #b71717;
        color: #FFF; 
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        margin: 5px;
        width: calc(100% - 8.5px);
    }
    .main-title{
        font-size: 13px !important;
        font-weight: 400;
        color: #FFF;
        font-family: medium;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 6px;
    }
    .title {
        font-size: 12px !important;
        color: #949494;
        font-family: regular;
        padding-left: 4px;
        padding-right: 4px;
    }
    .sub-title{
        font-size: 11px !important;
        padding-left: 0px !important;
        padding-right: 4px;
        font-family: medium;
    }
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .crads {
        padding: 10px;
        background-color: #b71717;
        color: #FFF;
        text-transform: capitalize;
    }
    .toolbar-background-md {
        background: #190909;  
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.4rem;
                font-weight: 500;
                color: #FFF;
                margin-left: -10px;
            }
            .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
                color: #ffffff;
                background-color: transparent;
            } 
            swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
                left: 0;
                width: 100%;
                position: absolute;
            }
            
            .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 3px;
                border: 1px solid #FFF;
                background-color: aliceblue;
            }

            .toolbar-title-ios {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 400;
                color: #fff;
                pointer-events: auto;
            }
            .toolbar-background-md {
                background: #190909;
                
            }
            .toolbar-title-md {
                padding: 0 12px;
                font-size: 1.4rem;
                font-weight: 500;
                color: #FFF;
                margin-left: -10px;
            }
            .toolbar-background-md {
                 background: #190909;
            }
     .overlaydiv {
        position: absolute;
        z-index: 999;
        text-align: center;
        top: 10px;
        left: 13px;
        width: 85%;
        height: 47%;
        background-color: rgba(0, 0, 0, 0.5);
     }
            .overlayinside{
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
           .playicon {
                font-size: 33px !important;
                color: #F7F7F7;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            ion-card img {
                display: block;
                width: 176px;
                height: 122px;
            }

            .cards-list-demo {
                height: 231px;
            }
    
            
.toolbar-title-md {
    margin-right: 9% !important;
    font-size: 1.7rem !important;
} 
.back-button.show-back-button {
    display: none !important;
}
}
