<!--
  Generated template for the LearningdevelopmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons>
  <ion-title text-center>Content and Learning</ion-title> 
  </ion-navbar>
</ion-header>
<ion-content no-padding class="background">
  <div class="">
    <ion-slides autoplay="2000" loop="true" speed="100s" pager="true" no-padding >
      <ion-slide> 
        <img src="assets/imgs/Bud banners_Content learning.jpg" >
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>
    <ion-row padding-left padding-right style="margin-top: 5px !important;">
    <ion-col col-6 no-padding class="col-6" *ngFor="let item of ContentArr;let i=index;" >
      <ion-card class="cards-list-demo" (click)="ContentBtn(i)" *ngIf="item.status!='Completed'">
        <img *ngIf="item.course_image==null" src="assets/imgs/draught-beer.png" alt="{{ item.course_title }}">
        <img *ngIf="item.course_image!=null" [src]="item.course_image" alt="{{ item.course_title }}">
        <!-- [ngStyle]="item.course_content !=null && { 'width': '85%','height':'42%' }"  -->
        <div class="overlaydiv" *ngIf="item.course_type=='video'"> 
          <div class="overlayinside">
            <ion-icon name="play" class="playicon"></ion-icon>       
          </div>
        </div>
        <p class="main-title" [ngStyle]="{'padding-bottom': item.course_description ==null ? '10px' : '2px' }">{{ item.course_title }}</p> 
        <p class="title" text-wrap *ngIf="item.course_description !=null">{{ item.course_description }}</p> 
        <!-- <p class="title" text-wrap *ngIf="item.course_content ==null">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>  [ngStyle]="{'margin-top': item.course_content ==null ? '18px' : '10px' }" -->
        <ion-row padding-left padding-right margin-bottom [ngStyle]="{'margin-top': item.course_description ==null ? '10px' : '4px' }"> 
          <ion-col col-10 class="col-9" text-left no-padding>
            <p class="sub-title selfwhite">End at {{ ServerTimestamp(item.expiry_date) }}</p>
          </ion-col>
          <ion-col col-2 class="col-3" text-right no-padding>
           <div style="width: 100%; "><div style="width: 70%; float: left; "><p class="sub-title selfwhite">{{ item.points }}</p></div><div style="width: 30%; float: right; "><img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;"></div></div>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="cards-list-demo" *ngIf="item.status=='Completed'">
            <img *ngIf="item.course_image==null" src="assets/imgs/draught-beer.png" alt="{{ item.course_title }}">
            <img *ngIf="item.course_image!=null" [src]="item.course_image" alt="{{ item.course_title }}"> 
            <div class="overlaydiv" *ngIf="item.course_type=='video'">
              <div class="overlayinside">
                <ion-icon name="play" class="playicon"></ion-icon>       
              </div>
            </div> 
            <p class="main-title" [ngStyle]="{'padding-bottom': item.course_description ==null ? '10px' : '2px' }">{{ item.course_title }}</p> 
            <p class="title" text-wrap *ngIf="item.course_description !=null">{{ item.course_description }}</p>
            <!-- <p class="title" text-wrap *ngIf="item.course_content ==null">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p> -->
            <ion-row padding-left padding-right margin-bottom [ngStyle]="{'margin-top': item.course_description ==null ? '10px' : '4px' }"> 
              <ion-col col-9 class="col-9" text-left no-padding> 
                <p class="sub-title selfgreen">Completed</p> 
              </ion-col>
              <ion-col col-3 class="col-3" text-right no-padding>  
                <div style="width: 100%; "><div style="width: 70%; float: left; "><p class="sub-title selfwhite">{{ item.points }}</p></div><div style="width: 30%; float: right; "><img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;"></div></div>
              </ion-col>
            </ion-row>
      </ion-card>
    </ion-col> 
</ion-row>
</ion-grid>
</ion-content> 