// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face {
  font-family: regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Segoe_UI_Regular; 
  src: url(../assets/fonts/Segoe-UI-Regular.ttf);
}

@font-face {
  font-family: semibold;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face { 
  font-family: medium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face { 
  font-family: "SFProText-Semibold";
  src: url(../assets/fonts/FontsFree-Net-SFProText-Semibold.ttf) format("truetype");
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/

$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
.phead{
  font-size: 10pt !important;
  color: #F4F8FB;
  font-family: medium;
  text-align: justify;
  margin: 17px 0px;
}
.pbody{
  font-family: regular;
  font-size:  9pt !important;
  color: #949494;
  text-align: justify;
}
ion-title{ 
  font-family: semibold;
}
.back-button-md {
  position: absolute !important;
  z-index: 100;
  min-width: 44px;
  -webkit-box-shadow: none;
  box-shadow: none;
}