<!--
  Generated template for the LanguagedropshowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- <ion-header>
  <ion-toolbar>
      <ion-row no-padding no-margin>
          <ion-col col-1  no-padding no-margin style="flex: 0 0 8.33333%; width: 8.33333%; max-width: 8.33333%;">
              <ion-buttons start style="margin-top: 7px;"> 
                  <button ion-button icon-only (click)="closebtn()"> 
                      <ion-icon ios="ios-arrow-back" md="md-arrow-back" mode="ios"></ion-icon>
                  </button>
                </ion-buttons>
          </ion-col>
          <ion-col col-11 no-padding no-margin text-left >   
              <ion-title no-padding no-margin *ngIf="!LangSrc" style="margin-top: 7px;">Select default language</ion-title>  
              <ion-searchbar (ionInput)="getItems($event)" *ngIf="LangSrc"></ion-searchbar>
          </ion-col>
      </ion-row> 
    <ion-buttons end style="margin-top: 5px;">
      <button ion-button icon-only (click)="SearchBtn()">
        <ion-icon name="search" *ngIf="!LangSrc"></ion-icon>  
        <ion-icon name="close" *ngIf="LangSrc"></ion-icon>        
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <ion-row>
      <ion-col col-12>
          <ion-item *ngFor="let item of items;let i=index;" no-line> 
              <ion-label>{{item.lang_name}}</ion-label>
              <ion-checkbox color="blue" [checked]="item.checked"  (ionChange)="savebtn(i)"></ion-checkbox> 
          </ion-item>
      </ion-col>
    </ion-row>
  </div>

</ion-content> -->

<ion-header >
  <ion-navbar class="header">
    <ion-title>Select Default Language</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="background">
  <div class="container">
    <ion-row style="background-color: transparent;">
      <ion-col col-12>
         <ion-list radio-group [(ngModel)]="default_lang"> 
          <ion-item *ngFor="let item of items;let i=index;" >
            <ion-label>{{item.lang_name}}</ion-label>
            <ion-radio item-left [value]="item.short_name"></ion-radio>
          </ion-item>
        </ion-list> 
      </ion-col>
    </ion-row>
  </div>

<ion-row no-padding no-margin class="rowbtnbottom"> 
    <ion-col no-padding no-margin text-center class="rowcolbtn">
        <button no-margin padding ion-button round text-capitalize full small color="danger" style="width: 50%;" (click)="NextBtn()">Next</button> 
    </ion-col>
</ion-row>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-row > 
      <ion-col padding style="text-align: -webkit-center;">
          <button no-margin padding ion-button round text-capitalize full small color="danger" style="width: 50%;" (click)="NextBtn()">Next</button>
      </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer> -->

