page-languagedropshow {
        .back-button.show-back-button {
            display: none;
        }
        .background {   
             background: url("../assets/imgs/mobbg.png"); 
        }
        .toolbar-background-md {
            background: #190909;
        }
          .toolbar-background-ios {
            background: #190909;
        }
                .toolbar-title-md{
                    color: #FFF !important;
                    text-align: center !important;
                }
                 .toolbar-title-ios{
                    color: #FFF !important;
                    text-align: center !important;
                }
                .item-md.item-block .item-inner {
                    border-bottom: none !important;
                }
                  .item-ios.item-block .item-inner {
                    border-bottom: none !important;
                }
                .item-md {
                    color: #fff !important;   
                    background-color: transparent !important;
                }
                 .item-ios {
                    color: #fff !important;   
                    background-color: transparent !important;
                }
                .toolbar-title-md {
                    font-size: 1.5rem;
                }
                  .toolbar-title-ios {
                    font-size: 1.5rem;
                }
                .rowbtnbottom {
                    width: 100%;
                    position: absolute;
                    bottom: 22px;
                } 
                .rowcolbtn {
                    justify-content: center;
                    display: flex;
                }
                .button-md-danger { 
                    padding-top: 22px !important;
                    padding-bottom: 22px !important;
                    font-size: 16px;
                }
                  .button-ios-danger { 
                    padding-top: 22px !important;
                    padding-bottom: 22px !important;
                    font-size: 16px;
                }
                .button-md-danger {
                    color: #fff;
                    background-color: #b71717;
                }
                   .button-ios-danger {
                         color: #fff;
                    background-color: #b71717;
                }
}
