page-otpcode {
    .scroll-content {
        padding:0px !important;
        margin:0px !important;
       /* margin-top:80px !important; */
    }
    .msgtime{
        font-size: 12px !important;
    }
    .msgtimeotp {
        font-size: 14px !important;
        color:#717c89;
    }
    .msgtimemob {
        font-size: 20px !important;
        color:#333333;
    }
    .msgresend {
        font-size: 14px !important;
       color: #03a9f4;
    }
    .verifybtn {
        background-color:#2170f4;
        color:#fff; 
        width: 100%;
        height: 4.4rem; 
    }
    .rowotp{
        margin-bottom: 46px;
    }
    .rowtime{
        margin-top: 51px;
    }
    .rowresend{
        margin-top: 7px;
    }
    .item-md {
        border: 1px solid #717c89 !important; 
        padding-left: 15px !important;
        color: #080808 !important;
        background-color: #fff !important; 
        font-size: 14px !important;
        border-radius: 6px;
        width: 82%;
        font-size: 19px !important;
        height: 75% !important;  
    }
    .item-ios {
      border: 1px solid #717c89 !important; 
        padding-left: 15px !important;
        color: #080808 !important;
        background-color: #fff !important; 
        font-size: 14px !important;
        border-radius: 6px;
        width: 82%;
        font-size: 19px !important;
        height: 75% !important;  
    }
    .item-md.item-block .item-inner {
        border-bottom: none !important;
    }
    .item-ios.item-block .item-inner {
        border-bottom: none !important;
    }
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 13.33333% !important;
        -ms-flex: 0 0 13.33333% !important;
        flex: 0 0 13.33333% !important;
        width: 13.33333% !important;
        max-width: 13.33333% !important;
    }
    .toolbar-title-md {
        font-weight: 800 !important;
    }
    .toolbar-title-ios {
        font-weight: 800 !important;
    }
    [col-3] {
        flex: 0 0 21% !important;
    }
    .toolbar-ios ion-title {
        padding: 0px !important;
    }
    .text-input-ios {
              margin: 0px !important;
        padding: 0;
        width: 72%;
    }
    .text-input-md {
        margin: 0px !important;
        padding: 0;
        width: 72%;
    }
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 13.33333% !important;
        -ms-flex: 0 0 13.33333% !important;
        flex: 0 0 12.33333% !important;
    width: 12.33333% !important;
    max-width: 12.33333% !important;
        padding-right: 4px;
    }
    .item-md {
        border: 1px solid #717c89 !important;
        padding-left: 8px !important;
        color: #080808 !important;
        background-color: #fff !important;
        border-radius: 6px;
        width: 100%;
        font-size: 31px !important;
        text-indent: 5px !important;
        height: 75% !important;
    }
    .item-ios {
      border: 1px solid #717c89 !important;
        padding-left: 8px !important;
        color: #080808 !important;
        background-color: #fff !important;
        border-radius: 6px;
        width: 100%;
        font-size: 31px !important;
        text-indent: 5px !important;
        height: 75% !important;
    }
  [col-2]{
    flex: 0 0 16.66667% !important; width: 16.66667% !important; max-width: 16.66667% !important;
  }


.carousel-inner img {
    width: 100%;
    height: 200px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
    .background {
      background: url("../assets/imgs/mobbg.png"); 
       
          }

          .login_btn{
            
            background-color: #d51010;
            color:#FFF;
            width: 70%;
            margin: 0px auto;
            border-radius: 5px;
            text-transform: capitalize;
          }
          .heading{
            margin-top: 70px;
          }
          .heading h3{
            text-align:center;
            font-size: 20px; 

            margin-bottom:10px;
            margin: 0px auto;

          }
          .ion-input{
            text-align: center;
            color: black;
            border:0px;
          }
          .otp{
             
             background-color: azure;
             border-radius: 10px;
             margin-top: 10px;
          }


    .scroll-content,
    fixed-content {
        .middle-page{
          padding: 5px 30px;
          padding-top:5%;
          ion-item{
            background: none;
            padding-left: 0 !important;
            color: #fff !important;
               // background-color: rgb(231, 230, 230) !important;
               margin-bottom: 10px;
               // border-radius: 10px;
          }
          h3{
              text-align: center !important;
          }
          button{
               margin-top:2rem;
               height: 3.7rem;
               border-radius: 1;
          }
        }//end middle page
        .bottom-page{
          height: 7%;
        }//End bottom page
    }



  .carousel-inner img {
    width: 100%;
    height: 200px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
    .background {
      background: url("../assets/imgs/mobbg.png"); 
       
          }

          .login_btn{ 
            font-family: semibold; 
            font-size: 18px !important;
            background-color: #d51010;
            color:#FFF;
            width: 70%;
            margin: 0px auto;
            border-radius: 14px;
            text-transform: capitalize;
            height: 4.5rem !important;
          }
          .heading{
            margin-top: 70px;
          }
          .heading h3{
            text-align:center;
            font-size: 20px; 

            margin-bottom:10px;
            margin: 0px auto;
            font-weight: 200;

          }
          .ion-input{
            text-align: center;
            color: black;
            border:0px;
          }
          .otp{
             
             background-color: azure;
             border-radius: 10px;
             margin-top: 10px;
          }
    .scroll-content,
    fixed-content {
         
        
      

        .middle-page{
          
          padding: 5px 30px;
          padding-top:5%;
          ion-item{
            background: none;
            padding-left: 0 !important;
            color: #fff !important;
               // background-color: rgb(231, 230, 230) !important;
               margin-bottom: 10px;
               // border-radius: 10px;
          }
          h3{
              text-align: center !important;
          }
          button{
               margin-top:2rem;
               height: 3.7rem;
               border-radius: 1;
          }
        }//end middle page

        .bottom-page{
          height: 7%;
        }//End bottom page
    } 

    .text-white {
      text-align: center !important;
      font-size: 14px;
      width: 98%;
      padding-left: 5%;
    }
    .text-white {
      color:#F4F8FB !important;
      font-family: medium;
    }
    .item-md { 
      font-family: medium;
    }
  .item-ios { 
      font-family: medium;
    }
}
