<!--
  Generated template for the OtpcodePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-padding class="background">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">  
          <img src="assets/imgs/Bud banners_login 1.jpg" alt="Los Angeles" width="1100" height="500">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/imgs/Bud banners_login 2.jpg" alt="Chicago" width="1100" height="500">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/imgs/Bud banners_login 3.jpg" alt="New York" width="1100" height="500">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <ul class="carousel-indicators" style="margin-top: 10px;position: relative;">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    </div> 
      <ion-list>
      <div class="middle-page">
        <ion-row>
            <h3 style="text-align:center;font-size: 12px;" class="text-white">Enter the OTP that we have sent to your Registered Mobile Number.</h3> 
        </ion-row>
        <ion-row class="heading">
          <h3  class="text-white">Enter OTP</h3>
        </ion-row>
        <ion-row no-padding no-margin margin-top>    
            <ion-col col-1 text-center no-padding no-margin></ion-col>    
            <ion-col col-1 text-center no-padding no-margin>
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp1" #Field1 (keypress)="MobCheck(Field1.value)" (keyup)="gotoNextField(Field2)" >
                    </ion-input>
                </ion-item>
            </ion-col>     
            <ion-col col-1 text-center no-padding no-margin> 
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp2" #Field2 (keyup)="gotoNextField(Field3)" (keypress)="MobCheck(Field2.value)"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1 text-center no-padding no-margin>
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp3" #Field3 (keyup)="gotoNextField(Field4)" (keypress)="MobCheck(Field3.value)"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1 text-center no-padding no-margin>
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp4" #Field4 (keyup)="gotoNextField(Field5)" (keypress)="MobCheck(Field4.value)"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1 text-center no-padding no-margin>
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp5" #Field5 (keyup)="gotoNextField(Field6)" (keypress)="MobCheck(Field5.value)"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1 text-center no-padding no-margin>  
                <ion-item style="color: #080808 !important" [ngStyle]="{'font-size': !hide ? '23px !important' : '33px !important'}">
                    <ion-input [type]="hide ? 'number' : 'password'" maxlength="1" [(ngModel)]="otp6" #Field6 (keyup)="finishFunction($event)" (keypress)="MobCheck(Field6.value)"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-1 text-left no-padding no-margin>
            </ion-col> 
          </ion-row>
          <ion-row style="text-align: center;margin-top:50px; border-radius: 15px;">
          <button ion-button full (click)="verifybtn()"  class="login_btn" [disabled]="buttonDisabled">Login</button> 
        </ion-row>
      </div>
    </ion-list> 
</ion-content>  