<!--
  Generated template for the ActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border-bottom>  
  <ion-navbar >
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back" style="color: aliceblue;"></ion-icon>  
      </button> 
    </ion-buttons>
    <ion-title >Activities – Earn BONUS Points! </ion-title>
  </ion-navbar>
</ion-header> 

<ion-content class="background" padding>

  <div class="main_active">
  
      <div>
        <p class="phead" style="float: left;">{{current_date}}</p>
        <p class="phead" style="float: right;">Total Activities: {{todayactivities_count}}</p>    
      </div>
      <div class="clear"></div>
      <ion-row>
        <ion-col class="col-7"> 
     <ion-row>
      <ion-col class="col-5"  style="padding:0px"> 
        <p class="activity"  style="margin: 0px;">Activities</p>
           <p class="activity" style="margin: 2px;">           Pending</p>
        <div class="points_pending" >{{pending_task_count}}</div>
      </ion-col>
      <ion-col class="col-5"  style="padding:0px"> 
        <p class="activity"  style="margin: 0px;">Activities </p>
        <p class="activity" style="margin: 2px;">           Completed</p>
        <div class="points_completed">{{complete_task_count}}</div>
      </ion-col>
     </ion-row>
        </ion-col>
        <ion-col class="col-5">
          <div  style="padding: 10px;background: aliceblue; border-radius: 50%;">
            <div class="progress" style="    margin: 5px auto;" >
              <span class="progress-left">
                            <span class="progress-bar border-primary"></span>
              </span>
              <span class="progress-right">
                            <span class="progress-bar border-primary"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold" style="color: #D6001B;">{{ac_pr}}<sup class="small">%</sup></div>
              </div>
            </div>
          
          </div>
  
        </ion-col>
      
      </ion-row>

    </div>

    <ion-segment [(ngModel)]="segment" style="padding:15px;padding-top:5px;">
    
      <ion-segment-button activated value="activity" >
          Todays 
      </ion-segment-button>
      <ion-segment-button value="pending">
          Pending
      </ion-segment-button>
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
      <!-- <ion-segment-button value="expired">
          Expired
        </ion-segment-button>
   -->


    </ion-segment>
  
  
    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'activity'" style="background-color:transparent;width:100%;margin:0">
            <div class="main_acti" *ngFor="let todayItem of todayactivities;let i=index;" [class.disabled]="todayItem.task_status=='Completed'"> 
              <!-- <div class="main_acti" *ngFor="let todayItem of todayactivities;let i=index;"       > --> 
                <ion-row (click)="nextTodayBtn(todayItem.task_id,todayItem.title,todayItem.success_points,todayItem.task_type,todayItem.instruction)"  >
                  <ion-col class="col-3" class="center" > 
                    <img *ngIf="todayItem.task_type==2" class="center_text" src="assets/imgs/selfie.png">    
                    <img *ngIf="todayItem.task_type==1" class="center_text" src="assets/imgs/quiz.png">       
                  </ion-col>
                  <ion-col class="col-7"> 
                    <p class="pbody">{{ todayItem.title }}</p>  
                 
                    <p class="completed_text"  style="    float: left;" >{{todayItem.timeslotdate}}</p> 
                    <p class="pending_text" style="    float: right;"  *ngIf="todayItem.task_status=='Pending'">Task is pending..</p>   
                    <p class="completed_text" style="    float: right;"  *ngIf="todayItem.task_status=='Completed'">Completed!</p>  
                    
                  </ion-col>
                  <ion-col class="center" class="col-2">  
                    <p class="center_text1">{{ todayItem.success_points }}</p>    
                  </ion-col>
                </ion-row>
              </div>
      </ion-card>
    
      <ion-card *ngSwitchCase="'pending'" style="background-color:transparent;width:100%;margin:0">
          <div class="main_acti" *ngFor="let pendingItem of pendingactivities;let i=index;" [ngClass]="{ diabled:pendingItem.task_status=='1' }">
              <ion-row  (click)="pendTodayBtn(pendingItem.task_id,pendingItem.title,pendingItem.success_points,pendingItem.task_type,pendingItem.instruction)" >
                <ion-col class="col-3"class="center" >  
                  <img *ngIf="pendingItem.task_type==2" class="center_text" src="assets/imgs/selfie.png">    
                    <img *ngIf="pendingItem.task_type==1" class="center_text" src="assets/imgs/quiz.png">        
                </ion-col>
                <ion-col class="col-7"> 
                  <p class="pbody">{{ pendingItem.title }}</p>  
                  
                  <p class="pending_text" >{{pendingItem.timeslotdate}}</p>   
                 
                </ion-col>
                <ion-col class="center"class="col-2">  
                  <p class="center_text1">{{ pendingItem.success_points }}</p>    
                </ion-col>
              </ion-row>
            </div>
      </ion-card>
  
      <ion-card *ngSwitchCase="'completed'" style="background-color:transparent;width:100%;margin:0">
        <ion-card-content>
          <div class="main_acti" *ngFor="let completed of completedactivities;let i=index;">
            <ion-row >
              <ion-col class="col-3"class="center" > 
                <img *ngIf="completed.task_type==2" class="center_text" src="assets/imgs/selfie.png">    
                <img *ngIf="completed.task_type==1" class="center_text" src="assets/imgs/quiz.png">          
              </ion-col>
              <ion-col class="col-7"> 
                <p class="pbody">{{ completed.title }}</p>  
                                <p class="completed_text"  >Completed!</p>  
              </ion-col>
              <ion-col class="center"class="col-2">  
                <p class="center_text1">{{ completed.success_points }}</p>    
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="'expired'" style="background-color:transparent;width:100%;margin:0">
          <ion-card-content>
            Expired Activities
          </ion-card-content>
        </ion-card>
    </div>

</ion-content >
