page-activities {
  .back-button.show-back-button {
    display: none !important;
}
    
  .border-primary {
    border-color: #D6001B!important;
}
    .scroll-content{
        padding: 0px !important;
    }
    .toolbar-background {
        background-color:   #000006;
      }

    .background {
        background: #000000 !important; 
    }
    .clear {
        clear: both;
      }

      .toolbar-title{
        color: #F4F8FB !important;
    }

    page-activities p {
        font-size: 11px !important;
    }

      .activity{
        font-size: 7pt !important;
        color: #F4F8FB;
        font-family: medium;
        text-align: center;
        margin: 17px 0px;
      }
      .center { 
      
        position: relative;
       
      }
      .pending_text{
          color: #FFD505;
          font-size: 10px  !important;
      }
      .completed_text{
            color: #05FF37;
          font-size: 10px !important;
      }
      
      .center_text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 66px;
        width: 66px;
      }      .center_text1 {
        margin: 0;
        position: absolute;
        top: 75%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #F4F8FB !important;
      }
      .toolbar-ios ion-title {
        left: 0;
        top: 0;
        padding: 0px !important;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        pointer-events: none;
    }
      .points_pending{
        margin: 0px auto;
        /* text-align: -webkit-auto; */
        color: #333333;
        width: 42%;
        height: auto;
        padding: 6px 0px;
        border-radius: 8px;
        background-color: #FFFFFF;
        text-align: center;
      }
      .points_completed{
        margin: 0px auto;
        /* text-align: -webkit-auto; */
        color: white;
        width: -1%;
        height: auto;
        border-radius: 8px;
        background-color: #F80909;
        width: 42%;
        text-align: center;
        padding: 6px 0px;
      }
      .main_active{
        background-color: #B71717;
        margin-bottom: 5px;
        padding: 8px;
      }
      .main_acti{
        background-color: #B71717;
        margin-bottom: 5px;
        padding: 8px;
      }
    ion-navbar ion-icon.icon.icon-ios.ion-ios-search {
        color: #000;
        font-size: 20px;
        font-weight: 900;
    }
    ion-navbar ion-icon.icon.icon-ios.ion-ios-arrow-back {
        color: #000;
    }
    ion-content.content.content-ios{
        background: #000000 !important;
    }
    
    span.custom-txt {
        font-weight: 400;
    }
    .custom-bck{
        border: 1px solid #d0d6da;
        background:#fff;
    }
    
  p.panel-col {
    background: #fff;
    padding: 13px;
    border-style: dotted;
    border: 1px dashed #2170f4;
    color: #2170f4;
    }
    .panel {
        padding: 5px;
        border: 1px solid #d0d6da;
        background: #fff;
        margin-top: 10px !important;
    }
    .panel-img img {
        width: 50px;
        border-radius: 50%;
    }
    span.font-small {
        font-size: 13px;
        font-weight: 300;
    }
    .container:nth-child(3) p.date:nth-child(1) {
      
        padding-bottom: 2px;
        padding-top: 7px;
    }
    .container:nth-child(2) p.date:nth-child(1) {
      
        padding-top: 8px;
        padding-bottom: 2px;
    }
    .container:nth-child(2) span.font-small {
        color: #2ecc71;
        font-style: normal;
        font-weight: 500;
    }
    .activate {
        border-radius: 4px;
        height: 2em;
        font-size: 1.4rem;
        color: #fff!important;
        background-color: #2170f4!important;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .button-ios {
        border-radius: 4px;
        height: 2em;
        font-size: 1.4rem;
        color: #000;
        background-color: #fff;
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
    }
    .toolbar-ios .segment-button {
        max-width: 45%;
        height: 2.6rem;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .segment-ios .segment-button {
       
        height: 3.2rem;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #000;
        background-color: #fff;
    }
    .segment-ios .segment-button.segment-activated {
        background-color: #2170f4;
    
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #488aff;
        opacity: 1;
        background-color: #488aff;
        color: #fff;
    }

    .segment-md .segment-button {
        color: #fff;
        background-color: transparent;
    }

    .content-md {
        color: #fff !important;
        background: #000000 !important;
    }

    .scroll-content {
        padding-top: 7px !important;
    }

    .numright {
        color: #25283b;
        font-size: 13px;
        padding-left: 6px;
        margin-top: -23px;
    }
    .numrightround {
                background-color: #ffd949;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                float: left;
    }
    .leftpending {
              font-size: 12px !important;
              background: #fff3cd;
              color: #f5a623;
              border-radius: 40px;
              padding-left: 16px;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-right: 16px;  
    }
    p{
        font-size: 14px !important;
    }
  
    // .back-button.show-back-button {
    //     display: none !important;
    // }
    .disabled {
        cursor: not-allowed;
        pointer-events:none;
        opacity: 0.4;
        color : darkGray;
        font-style: italic;
      }
      .card-content-md {
        padding: 0px 0px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
      
    .disabled {
        cursor: not-allowed;
        pointer-events:none;
        opacity: 0.4;
      }

 
}

.segment-md .segment-button.segment-activated {
    border-color: #B71717 !important;
    opacity: 1;
    background-color: #B71717 !important;
    color: #fff;
    border-radius: 10px
}

.segment-ios .segment-button.segment-activated {
    border-color: #B71717 !important;
    opacity: 1;
    background-color: #B71717 !important;
    color: #fff;
    border-radius: 10px
}

.segment-ios .segment-button{
   border: none !important;
    opacity: 1;
    background-color: transparent !important;
    color: #fff !important;
    border-radius: 10px
}
.card-content-ios {
     padding: 0px !important; 
    font-size: 1.4rem;
    line-height: 1.4;
}
.pbody {
    font-family: regular;
    font-size: 9pt !important;
    color: #F4F8FB !important;
    text-align: justify;
    margin-bottom: 8px !important;
}

              
.back-button.show-back-button {
    display: block !important;
} 
.progress {
    width: 80px;
    height: 80px !important;
    background: none;
    position: relative;
    background-color: transparent !important;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .text-gray {
    color: #aaa;
  }
  
  div.h4 {
    line-height: 1rem;
  }

  
