// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
p {
    font-size: 17px!important;
}
button:focus {  
    outline: inherit !important;
}

.selfmt-10 {
    margin-top: 10px !important;
}
.selfml-13 {
    margin-left: 13px !important;
}
.selfmt-33 {
    margin-top: 33px !important;
}
.selfmb-22 { 
    margin-bottom: 22px !important;
}
.selfmb-55 { 
    margin-bottom: 55px !important;
}
.tabs-md .tabbar {
    background: #000 !important;
}
.tabs-ios .tabbar {
    background: #000 !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff !important;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff !important;
}
.tabs-md .tab-button[aria-selected=true] {
    color: #fff !important;
}
.tabs-ios .tab-button[aria-selected=true] {
    color: #fff !important;
}
.show-tabbar {
    display: flex !important;
}
.selfgreen {
    color: #1be233 !important;
}
.selfwhite {
    color: #fff !important;
}
.selffullwidth {
    width: 100%;
}
.tabs-md .tabbar {
    background: #000 !important;
    display: flex !important;
}
.tabs-ios .tabbar {
    background: #000 !important;
    display: flex !important;
}
.tabs-md .tab-button-text {
    color: #F4F8FB;
}
.tabs-ios .tab-button-text {
    color: #F4F8FB;
}
a:hover {
    color: #fff;
    text-decoration: none !important;
}
.tabs-md .tab-button-text {
    color: #F4F8FB;
    font-family: regular;
}
.tabs-ios .tab-button-text {
    color: #F4F8FB;
    font-family: regular;
}
/* For Edit-profile Page */
.action-sheet-md .action-sheet-title {
    color: #F4F8FB !important;
}
.action-sheet-ios .action-sheet-title {
    color: #F4F8FB !important;
}
.action-sheet-md .action-sheet-group {
    background-color: #B71717 !important;
}
.action-sheet-ios .action-sheet-group {
    background-color: #B71717 !important;
}
/* End of Edit-profile Page */


/* Select css */
.alert-md .alert-radio-group, .alert-md .alert-checkbox-group {
    position: relative;
    overflow: auto;
    max-height: 240px;
    border-top: none !important;
    border-bottom: none !important;
}
.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
    position: relative;
    overflow: auto;
    max-height: 240px;
    border-top: none !important;
    border-bottom: none !important;
}
.alert-md .alert-button {
    border: 1px solid #fff !important;
}


.alert-ios .alert-button {
    border-right: none !important;
    border-top: none !important;
}

.alert-ios .alert-message:empty {
    padding: 0 0 0px;
}
// .alert-ios .alert-button-group {
//     width: 35%;
//     float: right;
//     margin-left: 57%;
//     margin-bottom: 7px;
// }
/* css for  Moduledetails1Page  */
#alert-subhdr-0 {
    font-size: 15px !important;
}
/* End css for  Moduledetails1Page  */
/* End of Select css */

/* CSS For Tab Button  */
.SpanTextSelect {
    display: none;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 26px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 1.2rem;
    text-transform: none;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin: 0;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
    color: #F4F8FB;
    font-family: regular;
    -webkit-transform: scale3d(1.16667, 1.16667, 1);
    transform: scale3d(1.16667, 1.16667, 1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin-top: 4px;
    margin-bottom: 0;
}
.IconTabSelect {
    display: none;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 26px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: rgba(60, 60, 60, 0.7);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
    transform: translate3d(0, -2px, 0);
    color: #fff !important;
}
.ASelect {
    margin: 0;
    text-align: center;
    border-radius: 0;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* min-height: 5.6rem; */
    font-weight: normal;
}
.AUnSelect {
    margin: 0;
    text-align: center;
    border-radius: 0;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* min-height: 5.6rem; */
    font-weight: normal;
    color: rgba(60, 60, 60, 0.7);
    padding: 0;
}
.IconTabUnSelect {
    display: none;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 26px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2.4rem;
    color: rgba(60, 60, 60, 0.7);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}
.SpanTextUnSelect {
    display: none;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 26px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 1.2rem;
    text-transform: none;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin: 0;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
    color: #F4F8FB;
    font-family: regular;
    margin-top: 4px;
    margin-bottom: 0;
}
/* End of Tab css */
