<!--
  Generated template for the ActivateOutletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-icon name="arrow-back" style="font-size: 27px;"></ion-icon>
    <ion-title>Activate Outlet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col col-12>
          <ion-card> 
   
             <div class="camera-pic text-center pt-4">
                 <img class="img-fluid img-back" src="assets/imgs/photo_camera.png">
              </div>
              
              <ion-card-content>
                 <ion-card-title class="panel-heading">
                    You are activating a retailer outlet                   
                  </ion-card-title>
                <p class="text-center"><img src="assets/imgs/coin_2.png" class="img-fluid coin"><span class="number ml-2">300</span></p>
               <hr> 
               <p>To log a new visit, you need to add 2 images of the store: </p> 
              <ol class="py-4">
                <li>Of the store front</li>
                <li>Of the store reception</li>
              </ol> 
              <p>Post you have clicked the images you would be asked to enter some details and you are done.</p>  
              <p class="bottom-txt"><em>Click on start task when you are ready!</em></p>
             </ion-card-content>
   
           </ion-card>
         </ion-col>
      </ion-row>
</ion-content>
<ion-footer>
    <div class="py-3 text-center text-white" (click)="ClickBtn()">   
        <p no-padding no-margin>ADD PICTURE OF STORE FRONT</p>
    </div>
</ion-footer>