page-mysteryshopper3 {
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-md-dark .toolbar-background-md {
        background: #1a0505;
        border-color: #1a0505;
    }
        .toolbar-ios-dark .toolbar-background-ios {
        background: #1a0505;
        border-color: #1a0505;
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 15px !important;
    }
        .toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
        color: #F4F8FB;
        font-size: 15px !important;
    }
    .firstdiv p{
        color: #F4F8FB;
        width: 100%;
        font-size: 15px !important;
        font-family: medium;
     }

    .startaudit{
        bottom: 0;
        position: absolute;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    .startaudit  button{
        background-color: #B71717;
        margin: 0px auto;
        width: 65%;
        height: 60px;
        border-radius: 20px;
        text-transform: capitalize;
        border: 1px solid #535353;
        font-size: 16px;
        font-family: regular;
        box-shadow: 0 2px 2px 0 rgba(116, 25, 25, 1), 0 3px 1px -2px rgba(116, 25, 25, 1), 0 1px 5px 0 rgba(116, 25, 25, 1);
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 25px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 20px;
       
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB !important;
        }
            .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #F4F8FB !important;
        }
        .iconstar {
          font-size: 23px;
          color: #FFD505;
          padding-left: 11px;
       }


       .txtcontent {
        color: #F4F8FB;
        font-size: 13px !important;
        font-family: medium;
      }
      
       .fulldiv {
        width:100%;
        display: flex;
      }
      .leftdiv {
        width: 26%;
      }
      .rightdiv {
        padding-top: 11px;
        padding-left: 5px;
        width: 74%;
        float: left;
        text-align: left;
      }
      .nospan {
        border: 1px solid #FFFFFF;
        width: 27px;
        height: 27px;
        border-radius: 150%;
        margin-left: 14px;
        margin-top: 11px;
      }  
      .txtspan {
        color: #F4F8FB;
        font-size: 18px;
        font-family: medium;
      }

      .leftquest {
        width: 6%;
        float: left;
      }
      .rightquest {
        width: 94%;
        float: right;
      }
      .selfmt-22 {
        margin-top: 22px !important;
      }


      .panel {
        position: relative;
        background: transparent;
        margin-top: 9px !important;
    }
    .panel-header {
        background: #eff3f6;
        box-shadow: 0 2px 4px #0000004d;
    }
    .panel-body {
    margin-left: 16px !important;
    padding-left: 16px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: transparent;
    border: 1px solid #94949468;
    width: 94.50%;
    margin: 0px !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

    }
    .panel-body  img {
      height: 133px;
      width: 100%;
    }
    .cross-btn {
        position: absolute;
        right: -20px;
        top: -17px;
    }
    .cross-btn .button-md {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #FFF;
    background-color: transparent;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: none !important;
    }
    .cross-btn .button-ios {
    border-radius: 50%;
    height: 2.4em;
    font-size: 1.3rem;
    color: #FFF;
    background-color: transparent;
    margin: 0.2rem;
    padding: 0em;
    box-shadow: none !important;
    }

    /* RadioButton */
    .radio-md .radio-checked {
      border-color: #F4F8FB;
    }
      .radio-ios .radio-checked {
      border-color: #F4F8FB;
    }
    .radio-md .radio-icon {
      width: 25px;
      height: 25px;
      border-color: #F4F8FB;
    }
        .radio-ios .radio-icon {
      width: 25px;
      height: 25px;
      border-color: #F4F8FB;
    }
    .radio-md .radio-inner {
      width: 17px;
      height: 17px;
      background-color: #41ad49;
    }
      .radio-ios .radio-inner {
      width: 17px;
      height: 17px;
      background-color: #41ad49;
    }
    .item-radio-checked.item-md ion-label {
      color: #F4F8FB;
    }
       .item-radio-checked.item-ios ion-label {
      color: #F4F8FB;
    }
    .item-md .radio-md {
      margin: 0px;
    }
        .item-ios .radio-ios {
      margin: 0px;
    }
    .item-md .radio-md[item-left], .item-md .radio-md[item-start] {
      margin: 0px;
      margin-right: 6px;
    }
    .item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
      margin: 0px;
      margin-right: 6px;
    }

    /* CheckBox */
    .item.item-md .checkbox-md {
      margin: 0px;
    }
 .item.item-ios .checkbox-ios {
      margin: 0px;
    }
    .checkbox-md .checkbox-icon {
      border-radius: 50%;
      position: relative;
      width: 29px;
      height: 29px;
      border-width: 2px;
      border-style: solid;
      border-color: #FFFFFF;
      background-color: transparent;
      margin-right: 5px;
    }
    .checkbox-ios .checkbox-icon {
      border-radius: 50%;
      position: relative;
      width: 29px;
      height: 29px;
      border-width: 2px;
      border-style: solid;
      border-color: #FFFFFF;
      background-color: transparent;
      margin-right: 5px;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
    }
    .item-checkbox-checked .checkbox-md .checkbox-icon {
      border-radius: 50%;
      position: relative;
      width: 29px;
      height: 29px;
      border-width: 2px;
      border-style: solid;
      border-color: #41ad49;
      background-color: #41ad49;
      margin-right: 5px;
    }
   .item-checkbox-checked .checkbox-ios .checkbox-icon {
      border-radius: 50%;
      position: relative;
      width: 29px;
      height: 29px;
      border-width: 2px;
      border-style: solid;
      border-color: #41ad49;
      background-color: #41ad49;
      margin-right: 5px;
    }
    .item-checkbox-checked .checkbox-md .checkbox-checked .checkbox-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
    }
    .item-checkbox-checked .checkbox-ios .checkbox-checked .checkbox-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
    }
   .radio-checked {
    border-radius: 50%;
    position: relative;
    width: 29px;
    height: 29px;
    border-width: 2px;
    border-style: solid;
    background-color: #41ad49;
    margin-right: 5px;
    border-color: #41ad49 !important;
    }

    .radio-md .radio-checked .radio-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
      transform: rotate(40deg);
      border-radius: 0;
    }
    .radio-ios .radio-checked .radio-inner {
      left: 8px;
      top: 2px;
      position: absolute;
      width: 9px;
      height: 18px;
      border-width: 4px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #771514;
      transform: rotate(40deg);
      border-radius: 0;
    }
    .radio-md .radio-icon {
      width: 29px;
      height: 29px;
    }
  .radio-ios .radio-icon {
      width: 29px;
      height: 29px;
    }
    ion-textarea {
      border: 1px solid rgba(148, 148, 148, 0.41);
      color: #949494;
      background-color: rgba(255, 255, 255, 0.05); 
      font-size: 15px !important;
      margin-right: 9px;
    }

    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }

      .item-ios.item-block .item-inner,
    .item-ios.item-input.input-has-focus .item-inner,
    .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-ios .item-input.input-has-focus:last-child,
    .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }
    .list-ios .item-input.input-has-focus:last-child .item-inner,
    .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom-color:none !important;
      box-shadow: none !important;
    }
     .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom-color:none !important;
      box-shadow: none !important;
    }

    .back-button.show-back-button {
      display: none !important;
    } 

    .scroll-content {
      margin-bottom: 93px !important;
    }

}