<!--
  Generated template for the Mysteryshopper3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center>{{ MysteryTitle }}</ion-title> 
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
<ion-grid no-padding no-margin *ngFor="let item of mystery_questions;let i=index;">
  <ion-row [ngStyle]="{ 'margin-top': i != 0 ? '22px':'' }"> 
    <ion-col col-12 class="col-12" > 
      <div class="fulldiv">
        <div class="leftquest" margin-left><p no-padding no-margin class="txtcontent">{{i+1}}.</p></div>
        <div class="rightquest"><p no-padding no-margin class="txtcontent">{{ item.question }}</p> </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="item.question_type==2" radio-group > 
    <!-- <ion-col col-6 class="col-6" text-center *ngFor="let subitem of item.mystery_question_options;let sub_i=index" [ngStyle]="{ 'padding-left': (sub_i+1) % 2 ==1 ? '8%':'' }">  
      <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
        <ion-radio [value]="subitem.mystery_question_id" item-left></ion-radio>
        <ion-label no-margin no-padding>{{ subitem.option_text }}</ion-label>
      </ion-item>
    </ion-col> -->
  <ion-col col-6 class="col-6" text-center *ngFor="let subitem of item.mystery_question_options;let sub_i=index" [ngStyle]="{ 'padding-left': (sub_i+1) % 2 ==1 ? '8%':'' }"> 
    <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
      <ion-radio [value]="subitem.mystery_question_id" item-left (ionSelect)="radioChecked(item.mystery_question_id,item.question_type,subitem.id)"></ion-radio>
      <ion-label no-margin no-padding>{{ subitem.option_text }}</ion-label>
    </ion-item>
  </ion-col>
    <!-- <ion-col col-6 class="col-6" text-center *ngFor="let subitem of item.mystery_question_options;let sub_i=index" [ngStyle]="{ 'padding-left': (sub_i+1) % 2 ==1 ? '8%':'' }">
      <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
          <ion-checkbox item-left></ion-checkbox>
          <ion-label>{{ subitem.option_text }}</ion-label>
      </ion-item>
    </ion-col> -->
    <!-- <ion-col col-6 class="col-6" text-left *ngFor="let subitem of item.mystery_question_options;let sub_i =index;" >
        <div class="fulldiv" [ngStyle]="{ 'margin-left': (sub_i+1) % 2 ==1 ? '15%':'' }">
          <div class="leftdiv">
            <img src="assets/imgs/correct.png" class="imgright" > 
            <div class="nospan"></div>
          </div>
          <div class="rightdiv"><span class="txtspan">{{ subitem.option_text }}</span></div>
        </div>
    </ion-col> -->
    <!-- <ion-col col-6 class="col-6" text-center>   
      <div class="fulldiv">
        <div class="leftdiv"><div class="nospan"></div></div>
        <div class="rightdiv"><span class="txtspan">No</span></div>
      </div>
  </ion-col> -->
  </ion-row>
  <ion-row *ngIf="item.question_type==1" radio-group> 
    <ion-col col-6 class="col-6" text-center *ngFor="let subitem of item.mystery_question_options;let sub_i=index;" [ngStyle]="{ 'padding-left': (sub_i+1) % 2 ==1 ? '8%':'' }"> 
      <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
        <ion-radio [value]="subitem.id" item-left (ionSelect)="radioCheckedOne(item.mystery_question_id,item.question_type,subitem.id)"></ion-radio>
        <ion-label no-margin no-padding>{{ subitem.option_text }}</ion-label> 
      </ion-item>
    </ion-col> 
    <!-- <ion-col col-6 class="col-6" text-center>
      <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
        <ion-radio value="No" item-left (ionSelect)="radioCheckedOne(item.mystery_question_id,item.question_type,'No')"></ion-radio>
        <ion-label no-margin no-padding>No</ion-label>
      </ion-item>
    </ion-col> -->
  </ion-row>

  <ion-row *ngIf="item.question_type==3"> 
    <ion-col col-12 class="col-12" text-center>
      <ion-item lines="none" style="color: #F4F8FB;background-color: transparent;" margin-top>
        <ion-textarea #txtAreaType_{{i}} rows="3" (keyup)="TxtAreaTypeThree(item.mystery_question_id,item.question_type,txtAreaType3)" [(ngModel)]="txtAreaType3" ></ion-textarea> 
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="item.question_type==4">  
    <ion-col col-12 class="col-12" text-center>
      <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD505" defaultColor="#F4F8FB" readonly="false" rating="0" fontSize="32px" (ratingChanged)="logRatingChange($event,item.mystery_question_id,item.question_type,item.mystery_question_options)">
      </ionic3-star-rating> 
    </ion-col>
  </ion-row>
</ion-grid>
<!-- <ion-row>  
  <ion-col col-6 class="col-6" text-center style="padding-right: 0px !important;">
    <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
        <ion-checkbox item-left></ion-checkbox>
        <ion-label>Daenerys</ion-label>
    </ion-item>
  </ion-col>
</ion-row> 
<ion-row> 
  <ion-col col-6 class="col-6" text-center>
    <ion-item no-lines style="color: #F4F8FB;background-color: transparent;">
      <ion-radio value="Siva" item-left></ion-radio>
      <ion-label no-margin no-padding>Siva</ion-label>
    </ion-item>
  </ion-col>
</ion-row> -->
<!-- 
  <ion-row class="selfmt-22"> 
    <ion-col col-12 class="col-12" > 
      <div class="fulldiv">
        <div class="leftquest"><p no-padding no-margin class="txtcontent">2.</p></div>
        <div class="rightquest"><p no-padding no-margin class="txtcontent">Did the Associate provided helpful information about the products ?</p> </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row> 
    <ion-col col-12 class="col-12" text-center>
      <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#FFD505" defaultColor="#F4F8FB" readonly="false" rating="0" fontSize="32px" (ratingChanged)="logRatingChange($event)">
      </ionic3-star-rating> 
    </ion-col>
  </ion-row>
  <ion-row class="selfmt-33"> 
    <ion-col col-12 class="col-12" >   
      <div class="fulldiv" >
        <div class="leftquest"><p no-padding no-margin class="txtcontent">3.</p></div>
        <div class="rightquest"><p no-padding no-margin class="txtcontent">Did the waiter Suggested the Budweiser brand ?</p> </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px;">  
    <ion-col col-6 class="col-6" text-center>
        <div class="fulldiv" style="margin-left: 35%;" (click)="YesNoBtn(true)">
          <div class="leftdiv"> 
            <div class="nospan" *ngIf="!ImgCheckYes"></div>
            <img src="assets/imgs/correct.png" class="imgright" *ngIf="ImgCheckYes"> 
          </div>
          <div class="rightdiv"><span class="txtspan">Yes</span></div>
        </div>
    </ion-col>
    <ion-col col-6 class="col-6" text-center>  
      <div class="fulldiv" (click)="YesNoBtn(false)">
        <div class="leftdiv">  
          <div class="nospan" *ngIf="!ImgCheckNo"></div>
          <img src="assets/imgs/correct.png" class="imgright" *ngIf="ImgCheckNo"> 
        </div>
        <div class="rightdiv"><span class="txtspan">No</span></div>
      </div>
  </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px; margin-bottom: 50px !important;">    
    <ion-col col-6 class="col-6" text-left style="margin-right: -10px;" *ngIf="ImgData1">   
      <div class="panel"> 
        <div class="cross-btn">
            <button ion-button icon-only (click)="DelBtnModal(1)" class="Btn-close">
              <ion-icon name="close" style="color: #FFFFFF;"></ion-icon>
            </button>  
        </div>
        <div class="panel-body p-4">   
              <img src="assets/imgs/budweiser12.png">
        </div>
      </div>
    </ion-col>
    <ion-col col-6 class="col-6" text-left style="margin-right: -10px;" *ngIf="ImgData2">   
      <div class="panel">
        <div class="cross-btn">
            <button ion-button icon-only (click)="DelBtnModal(2)" class="Btn-close">
              <ion-icon name="close" style="color: #FFFFFF;"></ion-icon>
            </button>  
        </div>
        <div class="panel-body p-4">   
              <img src="assets/imgs/bud3.png">
        </div>
      </div>
    </ion-col> 
  </ion-row> -->

</ion-content>
<ion-footer style="background-color: transparent;">
  <ion-row class="startaudit">
    <button ion-button color="secondary" round (click)="NextBtn()" [disabled]="buttonDisabled">Next</button>
  </ion-row>
</ion-footer>