page-select-store {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
    }
    ion-label {
        white-space: initial;
    }
    .input-wrapper p {
        font-size: 13px;
        color: #000;
        margin-top: 13px;
    }
    span.custom-text {
        background: #fff3cd;
        padding: 3px 20px;
        border-radius: 50px;
        color: #f5a623;
    }
    p.panel-col {
        background: #fff;
        padding: 13px;
        border-style: dotted;
        border: 1px dashed #2170f4;
        color: #2170f4;
    }
    ion-item.item.item-block.item-ios {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .list-ios {
        margin: -1px 0 5px;
    }
}
