<!--
  Generated template for the SelectStorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Select Store</ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="BackBtn()">
          <ion-icon name="arrow-back" style="font-size: 30px;color:#000"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Select Store</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="search" style="font-size: 24px;color:#000;margin-right: 6px;"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
<ion-row>
  <ion-col col-12>
    <div class="panel">
        <p class="panel-col"> 
          <img src="assets/imgs/online_store.png" width="22px"> 
          <span class="">Add a new outlet</span>
          <!-- <ion-buttons end> -->
              <ion-icon name="arrow-forward" style="font-size: 22px;float:right"></ion-icon>
            <!-- </ion-buttons> -->
        </p>
      </div>
    <div class="panel-1" *ngFor="let item of items">
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/profile.png">
          </ion-avatar>
          <h3>{{item.heading}}</h3>
          <p><em>{{item.date}}</em><span class="custom-text float-right">Unverified</span></p>
        </ion-item>
      </ion-list>
    </div>
      
  </ion-col>
</ion-row>
</ion-content>
