page-mysteryshopper2 {
    .background {  
        /* background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,rgb(20,0,9) 100%); */  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 18px !important;
        font-family: medium;
    }
       .toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
        color: #F4F8FB;
        font-size: 18px !important;
        font-family: medium;
    }
    .toolbar-md-dark .toolbar-background-md {
        background: #1a0505;
        border-color: #1a0505;
    }
        .toolbar-ios-dark .toolbar-background-ios {
        background: #1a0505;
        border-color: #1a0505;
    }
    .instructions p{
        color: #F4F8FB !important;
        font-family: medium;
        font-size: 13px !important;
        margin-bottom: 18px;
    }
    .startaudit{
        bottom: 0;
        position: absolute;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    .startaudit  button{
        background-color: #B71717;
        margin: 0px auto;
        width: 65%;
        height: 60px;
        border-radius: 20px;
        text-transform: capitalize;
        border: 1px solid #535353;
        font-size: 15px;
        font-family: medium;
         
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB !important;
    }
     .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #F4F8FB !important;
    }
}
