<!--
  Generated template for the Schme1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons>
     <ion-title> {{data.scheme_title}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content  class="background" fullscreen >
  <img [src]="data.scheme_img" style="    margin: 6px 0px;" >
  <div>
    <h4 class="phead">Instructions</h4>
    <p class="pbodyy">{{data.scheme_description}}</p>
  </div>

<br>
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="    background-color: #FFFFFF;padding: 10px 0px;">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" style="color: #741919;font-family: regular;" aria-controls="nav-home" aria-selected="true">Eligibility</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"  style="color: #741919;font-family: regular; font-size: 10px;" aria-controls="nav-profile" aria-selected="false">Terms and Condition</a>
   
      </div>
    </nav>  
    
  <div class="info">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" style="    font-size: 10px; color: #949494;font-family: regular;" aria-labelledby="nav-home-tab">
     {{data.eligibility}}
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" style="    font-size:10px;  color: #949494;font-family: regular;" aria-labelledby="nav-profile-tab">
       {{data.terms_conditions}}
      </div>
    </div>
  </div>
  <br>  

 <div  *ngIf="data.is_leaderboard==true">
  <button type="button" style="padding: 7px 17px;  border-radius: 6px;"   class=" d-block mx-auto btn btn-light" (click)="next(data.id)"><b>Leader Board</b></button>
 </div>
    

  
</ion-content>
