page-schme1 {



    .toolbar-background {
        background-color:   #000006;
      }
      .pbodyy{
        font-family: regular;
        font-size: 8pt !important;
        color: #F4F8FB;
        text-align: justify;
    
      }

      .background {
        background: #B71717
         
            }
    
            ion-title {
                text-align: center;
                
            }
            .toolbar-title{
                color: #F4F8FB;
            }
          

            #tabs{
                background: #007b5e;
                color: #eee;
            }
            #tabs h6.section-title{
                color: #eee;
            }
            
            #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                color: #741919;
                background-color: transparent;
                border-color: transparent transparent #f3f3f3;
                border-bottom: 2px solid !important;
                font-size: 11px;
                font-weight: bold;
            }
            #tabs .nav-tabs .nav-link {
                border: 0px solid transparent !important;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                color: #741919;
                font-size: 11px;
            }
            .info{
                height: 184px;
                background-color: #FFFFFF;
                overflow: scroll;
            
            }
            .scroll-content {
                padding: 8px;
            }
            .nav-tabs {
                border-bottom: 0px solid #dee2e6;
            }
            .toolbar-title-ios {
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                color: #000;
                pointer-events: auto;
            }
}
.toolbar-title-md {
    padding: 0 12px;
    font-weight: 500;
    color: #424242;
    font-size: 1.5rem;
}
