page-mysteryshopper {
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }

    .firstdiv{
        background-color: #B71717;  
        padding: 0px;
        margin-top: 2px;
    }
    .carddesign{
        background-color: #B71717;
        padding: 0px;
        box-shadow: 0px 0px;
        border: 0px;
        margin-bottom: 28px;
    }
    .carddesignp {
        color: #FFF;
        margin: 0px auto;
        font-size: 14px !important;
        font-weight: 400;
        font-family: regular;
        margin-top: 9px;
    }
    .ratingh2 {
        color: #380606;
        text-transform: uppercase;
        margin: 0px auto;
        font-size: 16px;
        font-weight: 600;
        margin-top: 12px;
        margin-bottom: 5px;
        font-family: semibold;
        padding-right: 5px;
    }
    .audith2 {
        color: #380606;
        text-transform: uppercase;
        margin: 0px auto;
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 5px;
        font-family: medium;  
        padding-right: 5px;
    }
    .carddesign-cont {
        color: #380606;
        margin: 0px auto;
        font-size: 14px !important;
        font-weight: 400;
        font-family: medium;
        margin-top: 9px;
    }
    .card-bot-p {
        color: #380606;
        margin: 0px auto;
        font-size: 14px !important;
        font-weight: 400;
        font-family: medium;
        margin-top: 9px; 
    }
.card-got {
    color: #EAEAEA;
    margin: 0px auto;
    font-size: 14px !important;
    font-weight: 400;
    font-family: medium;
    margin-top: 9px;
}
.card-points {
    color: #EAEAEA;
    margin: 0px auto;
    font-size: 14px !important;
    font-weight: 400;
    font-family: medium;
    margin-top: 9px;
}
    ion-input{
        border-radius: 5px;
        background-color: #FFF;
        height: 22px;
        color: #000;
        height: 2.5rem;
    }
    .text-input-md {
        margin: 0px !important;
        padding: 0px !important;
        color: rgba(148, 148, 148, 0.41);
        width: 100%;
    }
      .text-input-ios {
        margin: 0px !important;
        padding: 0px !important;
        color: rgba(148, 148, 148, 0.41);
        width: 100%;
    }
    ion-card img {
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    ion-card p{
        font-weight: 400;
    }
    .scorerat {
        font-weight: 600;
      }
    .point{
        color: #000 !important;
        font-size: 20px !important;
        font-weight: 600 !important;
    }
    .iconstar {
        font-size: 18px;
        color: #FFD505;
        padding-left: 8px;
     }

     .iconratestar {
        font-size: 24px;
        color: #FFD505;
        padding-left: 8px;
     }

     .getInfoBtn {
        background-color: #D51010;
        font-size: 10px;
        padding: 0 26px;
        text-transform: capitalize !important;
        margin-top: 0px;
        height: 2.7rem;
        border-radius: 5px;
     }
     .toolbar-md-dark .toolbar-background-md {
        background: #1a0505;
        border-color: #1a0505;
    }
        .toolbar-ios-dark .toolbar-background-ios {
        background: #1a0505;
        border-color: #1a0505;
    }
    .toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
        color: #F4F8FB;
        font-size: 15px !important;
        font-family: regular;
    }
 .toolbar-ios-dark .bar-button-clear-ios, .toolbar-ios-dark .bar-button-default-ios, .toolbar-ios-dark .bar-button-outline-ios, .toolbar-ios-dark .toolbar-title-ios {
        color: #F4F8FB;
        font-size: 15px !important;
        font-family: regular;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .datetitle {
        font-family: regular;
        font-size: 10px;
        color: #FFFFFF;
    }
    .fullwidth {
        width:100%;
    }
    .divleft {
        width:30%;
        float: left;
    }
    .divright {
        width:70%;
        float: left;
    }
    .toolbar-ios ion-title {
       padding: 0px !important;
    }
}