<!--
  Generated template for the MysteryshopperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title text-center>Mystery Shopper Advocacy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">

  <ion-grid no-padding no-margin class="selfmb-55">
    <ion-row>
      <ion-col col-4 class="col-4" no-margin no-padding style="flex: 0 0 36.333333%;max-width: 36.333333%;"> 
        <div class="fullwidth">
          <div class="divleft">
            <span class="datetitle" style="padding-left: 5px;">From</span>  
          </div>
          <div class="divright">
            <ion-item no-padding no-margin style="min-height: 0rem;border-radius: 5px;"> 
            <ion-input type="date" id="StartDate" [(ngModel)] ="StartDate" style="color:#000;"></ion-input>
          </ion-item> 
          </div>
        </div>  
      </ion-col>
      <ion-col col-4 class="col-4" no-margin no-padding style="flex: 0 0 36.333333%;max-width: 36.333333%;">
        <div class="fullwidth">
          <div class="divleft">
            <span class="datetitle" style="padding-left: 18px;">To</span>
          </div>
          <div class="divright">
            <ion-item no-padding no-margin style="min-height: 0rem;border-radius: 5px;"> 
            <ion-input type="date" id="EndDate" [(ngModel)] ="EndDate" style="color:#000;"></ion-input>
            </ion-item> 
          </div>
        </div>  
      </ion-col>
      <ion-col col-4 class="col-4" no-margin no-padding text-center style="flex: 0 0 27.333333%;max-width: 27.333333%;">
        <button ion-button small class="getInfoBtn" (click)="GetInfoBtn()">Get Info</button>  
      </ion-col>
    </ion-row>


  <ion-grid no-padding no-margin *ngFor="let item of DataArr">
    <ion-row no-padding class="firstdiv" margin-top>
      <ion-card class="carddesign">
        <p class="carddesignp">Mystery Audit held on {{ ServerTimestamp(item.completed_on) }}</p>
        <ion-row no-padding no-margin>
          <ion-col class="col-5" no-padding no-margin text-right> <p class="ratingh2">Rating</p></ion-col>
          <ion-col class="col-7" no-padding no-margin style="padding-top: 11px;">
            <ion-icon name="{{ rateitem.name }}" mode="ios" class="iconratestar" *ngFor="let rateitem of item.ratingArr"></ion-icon>
            <!-- <ion-icon name="ios-star" mode="ios" class="iconratestar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconratestar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconratestar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconratestar"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>

    
    <ion-row no-padding class="firstdiv"> 
      <ion-card class="carddesign">
        <p class="carddesignp">Mystery Audit Survey</p>

        <ion-row no-padding no-margin *ngFor="let subitem of item.mystery_audit_ratings">
          <ion-col class="col-5" no-padding no-margin text-right> <p class="audith2">{{ subitem.group_name }}</p></ion-col>
          <ion-col class="col-7" no-padding no-margin style="padding-top: 11px;">
            <ion-icon name="{{ subitemRate.name }}" mode="ios" class="iconstar" *ngFor="let subitemRate of subitem.ratingArr"></ion-icon>
            <!-- <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon> -->
          </ion-col>
        </ion-row>

        <!-- <ion-row no-padding no-margin>
          <ion-col class="col-5" no-padding no-margin text-right> <p class="audith2">Experience</p></ion-col>
          <ion-col class="col-7" no-padding no-margin style="padding-top: 11px;">
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin>
          <ion-col class="col-5" no-padding no-margin text-right> <p class="audith2">Enquiry</p></ion-col>
          <ion-col class="col-7" no-padding no-margin style="padding-top: 11px;">
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
            <ion-icon name="ios-star" mode="ios" class="iconstar"></ion-icon>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </ion-row> 

    <ion-row no-padding class="firstdiv"> 
      <ion-card class="carddesign">
        <p class="carddesignp">Mystery Audit Feed Back</p>
       <p class="carddesign-cont">{{ item.status_message }}</p>
      </ion-card>
    </ion-row>

    <ion-row no-padding class="firstdiv"> 
      <ion-card class="carddesign">
        <p class="card-bot-p">You Have Successfully Completed mystery Audit Survey</p>
          <ion-row>
            <ion-col col-3 class="col-3"></ion-col>
            <ion-col col-3 class="col-3" text-center><p class="card-got">You got</p></ion-col>
            <ion-col col-4 class="col-4" text-center>
              <p class="card-points" *ngIf="item.points==1">{{ item.points }} point</p>
              <p class="card-points" *ngIf="item.points==0">{{ item.points }} point</p>
              <p class="card-points" *ngIf="item.points>1">{{ item.points }} points</p>
            </ion-col>
            <ion-col col-2 class="col-2"></ion-col>
          </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
 
  </ion-grid>
</ion-content>