<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border no-shadow>
  <ion-navbar>  
    <ion-title>Welcome {{usrName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
  <ion-row >
    <ion-col col-12>
        <div class="text-center text-color" style="margin:0px auto;color: #FFF;margin-top:30px;">
          <p>Watch this video to enter into loyalty Rewards Program</p>
        </div>
        <div class="welcome-video" style="margin:0px auto; margin-top: 50px;" text-center>
            <iframe width="300" height="200" [src]="urlSafe"> </iframe>    
        </div>
      </ion-col>
  </ion-row> 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row >
      <ion-col no-padding style="text-align: -webkit-center;">
          <button no-margin no-padding ion-button text-capitalize full class="StartedBtn" (click)="NextBtn()">Get Started</button>
      </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-footer>