page-welcome {   
    .back-button.show-back-button {
        display: none;
    }
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
        color: #FFF !important;
    }
    .text-color{
         color:#333333;
    }
    .welcome-video {
         text-align: center;
         margin: 71px 0 35px;
    }
    iframe {
        border: 2px solid #FFF;
        margin: 0px auto !important;
    }
    .toolbar-background-md { 
        background: transparent;
        border-color: transparent;
    }
       .toolbar-background-ios { 
        background: transparent;
        border-color: transparent;
    }
    .toolbar-title-md{
        color: #FFF !important;
        text-align: center !important;
    }
     .toolbar-title-ios{
        color: #FFF !important;
        text-align: center !important;
    }
    .started{
        width: 70%;
        height: 45px;
        background-color:#d51010;
        border-radius: 10px !important;
        font-size: 15px;
        font-weight: normal;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent !important;
        color: white;
        text-align: center;
        padding: 16px;
    }  
    .sub-heading p{        
        margin:0px auto;
        color: #FFF;
        margin-top:30px;
        font-weight: 400;
        text-align: center;
        font-size: 12px;
    }
    .StartedBtn {
        width: 66%;
        background-color: #B71717;
        border-radius: 12px;
        height: 4.5rem;
        font-size: 16px;
    }
}
