<!--
  Generated template for the LeadersboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>LEADERBOARD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" fullscreen padding="10px" >
  <div class="row" style="background-color: #B71717; margin: 10px 0px;"  *ngFor="let list of datas ;" >
      <div class="col-2" > <p class="phead" style="    text-align: center;">{{list.rank}}</p></div>
      <div class="col-8 mx-auto"><p class="phead" style="    text-align: center;">{{list.outlet_name}}</p></div>
      <div class="col-2">    <p class="phead" style="    text-align: center;">{{list.total_points}}</p></div>
  </div>
</ion-content>