page-questions {
    ion-content.content.content-ios {
        background: #f3f6f8;
    }
    
    .toolbar-background {
        background-color:   #000006;
      }

       .panel-heading {
       
       
        color: white !important;
        margin: 27px 0 !important;
     
    }
.background {
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%) !important; 
     
        }
        .card {
     
            background-color: transparent;
            
         
        }

        ion-title {
            text-align: center;
            padding: 10px;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }
        
    ion-card img {
        display: inline;
        width: auto;
        text-align: center;
    }
    page-quiz-task .img-back {
        max-width: 100%;
        height: auto;
        /* padding: 0; */
        padding-top: 15px;
    }
    
    .panel-heading {
        display: block;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #222;
        margin: 2px 0;
        padding: 8px 0;
        font-weight: 500;
        text-align: center;
    }
    .panel-heading-1{
        font-size: 1.7rem;
        color: #222;
        padding: 0;
        font-weight: 500;
    }
    span.number {
        font-size: 18px;
    }
    .content-ios hr {
        height: 1px;
        background-color: #979797;
        margin: 20px 0;
    }
    .card-ios p {
        color: #212529;
    }
    p.bottom-txt {
        padding: 53px 0 22px;
        text-align: center;
    }  
    ion-card-content p{color:#000}
    .scroll-content {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .options p {
        background: #f3f6f8;
        padding: 10px 0;
        border-radius: 50px;
        border: 1px solid #979797;
        margin: 0 37px 10px;
    }
    .card-ios {
        height: -webkit-fill-available;
    }
    .panel-img {
        background: #f3f6f8;
    }
    ion-footer{
        background:#9b9b9b;
    }

    .text-center {
        padding: 14px !important;
    }
.selected{
    background-color:blue !important;
    color: white !important;
}
    .input-incorrect-ans {
        background-color: red !important;
        text-align: center;
        padding: 8px 0px;
        border-radius: 25px;
        border: 1px solid #979797;
        color: #ffffff !important;  
    }
    .input-correct-ans {
        background-color: green !important;
        text-align: center;
        padding: 8px 0px;
        border-radius: 25px;
        border: 1px solid #979797;
        color: #ffffff !important;
    }
    .input-ans {
        background-color: #f3f6f8;
        text-align: center;
        padding: 8px 0px;
        border-radius: 4px;
        border: 1px solid #979797;
        color: #25283b;
        margin: 10px 0px;
    }



    .right{
        color: #06B100 !important;
    }
    
    
    .wrong{
        color: #D51010 !important;
    }
    .disabled {
        cursor: not-allowed;
        pointer-events:none;
        opacity: 0.4;
      }


}
