<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons> </ion-navbar>-->

    
    <ion-title>Questions</ion-title>
  </ion-header>
  <ion-content  class="background" no-padding no-margin>
       <ion-card>
          <ion-card-content>
          
              <ion-row>
                  <ion-col col-12>
                
                <ion-card-title class="panel-heading" *ngIf="subtask_ques==true" >
                  
                  {{ question }}
                </ion-card-title>
                 </ion-col>
              </ion-row>


              <ul class="list-group" >  
          
              <li no-lines style="list-style-type: none;"margin-bottom><p class="input-ans" id="option{{i+1}}"  *ngFor="let ques of questions ; index as i " (click)="onClick(ques, i, 'option'+(i+1))" [ngClass]="{ 'selected': ques == selectedItem }" >{{ ques }}</p></li>
             
              </ul>
             
                <div *ngIf="isright" style="text-align:center">
                  <p class="right"> yay!!</p>
                  <p class="right">You got the right Answer</p>
                </div>
                <div style="text-align:center"  *ngIf="iswrong">
                  <p class="wrong">Oh no</p>
                  <p class="wrong">You Selected the wrong Answer</p>
                </div>
                <!-- <ul class="list-group"  *ngIf="GetTaskSub">
                  
                    <li  no-lines style="list-style-type: none;margin-bottom: 0px"   (click)="OptionBtn1()" margin-bottom *ngIf="questionOption1 != null"><p class="input-ans" id="options1"  *ngIf="subtask_ques==true">{{ questionOption1 }}</p></li>
                    <li no-lines style="list-style-type: none;"     (click)="OptionBtn2()" margin-bottom *ngIf="questionOption2 != null"><p class="input-ans" id="options2"  *ngIf="subtask_ques==true">{{ questionOption2 }}</p></li>
                  
                </ul> -->

          </ion-card-content>
        </ion-card> 
   </ion-content>
   <ion-footer>


    <button ion-button class="py-3 text-center text-white" style="width: 100%;background-color: #B71717;box-shadow: none;"  *ngIf="!GetTaskSub" (click)="NextBtn1()" [class.disabled]="disabled==true">SUBMIT</button> 
    <button ion-button class="py-3 text-center text-white" style="width: 100%;background-color: #B71717;box-shadow: none;" (click)="NextBtn2()"   *ngIf="GetTaskSub" [class.disabled]="disabled1==true">SUBMITT</button> 
   </ion-footer>
