page-moduledetails1 {
    .background {  
         background-color: rgba(0,0,0,0.7);
    }
    .welcome-video {
        text-align: center;
        margin-top: 50px;
        margin: 71px 0 35px; 
    }
    iframe {
        border: 2px solid #FFF;
        margin: 0px auto !important;
        width: 100%;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .toolbar-md-dark .toolbar-background-md {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
     .toolbar-ios-dark .toolbar-background-ios {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .selfmtp {
         margin-top: 15% !important; 
    }
    video {
        width: 100% !important;
    }
    video::-webkit-media-controls {
        display:none !important;
    }
}
