<!--
  Generated template for the ModuledetailsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons right>
      <button ion-button icon-only (click)="closeBtn()" class="my-style-for-modal">
          <ion-icon name="close"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header> 
<ion-content padding class="background"> 
  <ion-row class="selfmtp">
    <ion-col col-12>
        <div class="welcome-video" style="margin:0px auto" text-center> 
            <!--<iframe width="280" height="200" [src]="VideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="ytplayer" type="text/html" >
            </iframe>-->  
            <video id="myMovie" width="640" height="360" autoplay allowfullscreen autobuffer>  
               <source [src]="VideoUrl" type="video/mp4"  />
            </video>
            <!-- <iframe width="100%" height="100%" src="https://instagrammyapi.herokuapp.com/video.php?url_string=https://api1.staging4.bigcityvoucher.co.in/uploads/hub_admin/content-learning/videos/Budweiser_CH2.mp4" allowfullscreen="0">
            </iframe> -->
            <!-- <div id="video"></div> -->
        </div>
      </ion-col>
  </ion-row> 
</ion-content>