<!--
  Generated template for the EgiftvoucherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center text-wrap>{{ prod_name }} Rs.{{ mrp }}/-</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="bgcolor">
  <ion-card class="cardslides" *ngIf="!CallServerStatus">
    <ion-slides style="padding:0px 30px">
      <ion-slide >
        <img src="assets/imgs/noimage.png" style="margin: 0 auto;" alt="{{prod_name}}" *ngIf="mobileImage=='' || mobileImage==null">  
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cardslides" *ngIf="CallServerStatus">
    <ion-slides style="padding:0px 30px">
      <ion-slide>
        <img [src]="mobileImage" style="margin: 0 auto;" alt="{{ prod_name }}" onError="this.src='assets/imgs/noimage.png'" *ngIf="mobileImage!=''"> 
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="cardcontent">
    <ion-card-content>
      <h3 class="selftitle">{{ prod_name }} Rs.{{ mrp }}/-</h3>
      <h3 class="desc">{{ description }}</h3> 
    </ion-card-content>
    <ion-row class="qtycart">  
      <ion-col col-4 text-center class=" col-4 qtycol"> 
          <!-- Quantity 
          <p style="color: #000;font-family: regular;">1 <ion-icon name="ios-arrow-down-outline" mode="ios"></ion-icon></p> -->
          <ion-item>  
            <ion-label>Quantity</ion-label>
            <ion-select [(ngModel)]="Quantity" class="SelectOption">
              <ion-option [value]="item.valueArr" [selected]="item.SelectedValue" *ngFor="let item of QuantityArr">{{item.valueArr}}</ion-option>  
            </ion-select>
          </ion-item> 
          <!-- <ion-item class="iteminput" text-center>  
            <ion-input type="number" [(ngModel)]="Quantity" value="1"></ion-input>
          </ion-item> -->
      </ion-col>
      <ion-col col-8 text-center class="col-8 qtycol">
        <ion-item>  
          <ion-label>Denomination</ion-label>
          <ion-select [(ngModel)]="Denomination" class="SelectOption" no-padding>
            <ion-option [value]="item" *ngFor="let item of denominations_dropdown">{{item}}</ion-option>  
          </ion-select>
        </ion-item>
      </ion-col> 
      <!-- <ion-col col-4 text-center class=" col-4 colright">
          Price
         

              <div style="width: 100%;">  

                <div style="width: 40%;float: left;"><img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;margin-top: 4px;float: right;margin-right: 2px;"></div>

                <div style="width: 49%;float: left;">
                  <p style="color: #FFF;font-size: 18px !important;font-weight: 500;margin: 0px !important;padding: 0px !important;text-align: left;padding-top: -23px;">{{ mrp }}</p></div>

              </div>


      </ion-col> -->
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer no-padding> 
      <ion-row>
        <ion-col col-md-12 text-center>
            <button ion-button class="redeemBtn" (click)="CartBtn()">Add to Cart</button>
        </ion-col>
      </ion-row>
</ion-footer>