page-egiftvoucher {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
       .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
        padding-left: 12%;
        margin-top: -5px;
    }
      .toolbar-title-ios {  
        color: #fff;
        font-size: 1rem;
        padding-top: 5px;
        font-family: medium;
        padding-left: 12%;
        margin-top: -5px;
    }
    .cardslides { 
        background: transparent;
        box-shadow: none !important;
     }
     .cardcontent {
        width: 100%; 
        background: transparent;
        border: none !important;
     }
     .selftitle {
       color: #F7F7F7;
       margin-bottom: 16px !important;
       font-family: regular;
     }
     .desc {
        color: #949494; 
        font-family: regular;
     }
     .redeemBtn {
        background-color: #D51010 !important;
        height: 4.6rem;
        border: 1px solid #949494;
        width: 50%;
        border-radius: 11px;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: regular;
     }
     .qtycart {
        background-color: #B71717;
        margin-right: 18px;
        margin-top: 16px;
     }
     .qtycol {
        border-right-style: solid;
        border-right: 1px solid #741919;
        font-family: regular;
        color: #000;
     }
     .colright {
        font-family: regular;
        color: #000;
     }
     .colrightp {
        font-family: medium;
        color:#F4F8FB; 
        font-size: 14px !important; 
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #F4F8FB;
     }
     .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
      color: #F4F8FB;
     }
     .item-md {
      color: #fff;
      background-color: #b71717;
     }
     .item-ios {
      color: #fff;
      background-color: #b71717;
     }
      .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
         color: #000;
      }
      .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
         color: #000;
      }
      .select-md .select-icon .select-icon-inner {
         color: #fff;
      } 
      .select-ios .select-icon .select-icon-inner {
         color: #fff;
      } 
      .select-text {
         min-width: 39px;
      }
      .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
         border-bottom-color: #b71717;
         box-shadow: inset 0 -1px 0 0 #b71717; 
      }
      .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
         border-bottom-color: #b71717;
         box-shadow: inset 0 -1px 0 0 #b71717; 
      }
}