<!--
  Generated template for the QuiztaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-buttons left>
      <button ion-button icon-only (click)="backBtn()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
      </button>  
  </ion-buttons> -->
  <ion-title text-center>QUIZ TASK</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
    <ion-row class="heading">
      <ion-col col-8 text-left> 
          NO OF QUESTIONS
       </ion-col>
      <ion-col col-4 text-right>
        {{total_quiz_count}}
      </ion-col>
    </ion-row>
    <ion-row padding style="margin-top: -10px;">
      <div class="progress-outer"> 
        <div class="progress-inner" [style.width.%]="CurentQuestion">    
        </div> 
      </div>
    </ion-row>
    <div *ngFor="let item of CourseArr">
      <ion-row>
        <ion-col padding class="sub-heading">
          <p no-padding no-margin class="headingtitle">{{ item.question }}</p> 
        </ion-col>
      </ion-row>


      <!-- <div *ngIf="item.quiz_type=='text'">
        <ion-row *ngFor="let subitem of item.course_quiz_options;let j=index">
          <ion-col class="col-12" padding style="text-align: -webkit-center;" (click)="RowOptionBtn(subitem.course_quiz_option_id,subitem.is_right_option,j,item.quiz_type)"> 
            <p no-margin no-padding class="quiz" #btnans_{{j}} id="btnans_{{j}}" text-center>  
              <span class="txtspan" #txtans_{{j}} id="txtans_{{j}}">{{subitem.option_text}}</span>
            </p>
          </ion-col>
       </ion-row>
      </div>
      <ion-row *ngIf="item.quiz_type=='image'">
        <ion-col padding col-6 class="col-6" style="text-align:-webkit-center;" *ngFor="let subitem of item.course_quiz_options;let j=index" (click)="RowOptionBtn(subitem.course_quiz_option_id,subitem.is_right_option,j,item.quiz_type)" >
            <ion-card class="cardimage" #cardimg_{{j}} id="cardimg_{{j}}"> 
              <img src="{{ subitem.option_text }}"> 
            </ion-card>
      </ion-col>
     </ion-row> -->



    <div *ngIf="item.quiz_type=='text'">
      <ion-row *ngFor="let subitem of item.course_quiz_options;let j=index" (click)="RowOptionBtn(subitem.course_quiz_option_id,subitem.is_right_option,j,item.quiz_type)" >
        <ion-col padding style="text-align: -webkit-center;" >   
            <p no-margin no-padding class="quiz" #btnans_{{j}} id="btnans_{{j}}"  >  
              <span class="txtspan" #txtans_{{j}} id="txtans_{{j}}">{{subitem.option_text}}</span>
            </p>
        </ion-col>
        <ion-col padding col-6 class="col-6" style="text-align:-webkit-center;" *ngIf="item.quiz_type=='image'">
            <ion-card> 
              <img src="{{ subitem.option_text }}"> 
            </ion-card>
      </ion-col>
     </ion-row>
    </div>
    <ion-row *ngIf="item.quiz_type=='image'">
      <ion-col padding col-6 class="col-6" style="text-align:-webkit-center;" *ngFor="let subitem of item.course_quiz_options;let j=index" (click)="RowOptionBtn(subitem.course_quiz_option_id,subitem.is_right_option,j,item.quiz_type)">
          <ion-card class="cardimage" #cardimg_{{j}} id="cardimg_{{j}}"> 
            <img src="{{ subitem.option_text }}"> 
          </ion-card>
      </ion-col>
    </ion-row>




    </div>
    <ion-row style="padding: 0px 5px;" *ngIf="optionsAns==1">
      <ion-card class="box">
        <!-- <ion-row class="after-click">
            <h2>yay !! </h2>
        </ion-row> -->
        <ion-row class="after-click-1"> 
          <p>You got the right answer!</p>
        </ion-row>
        </ion-card>
    </ion-row> 
    <ion-row style="padding: 0px 5px;" *ngIf="optionsAns==2">
      <ion-card class="box1">
        <ion-row class="ohhno">
            <h2>Oh no</h2>
        </ion-row>
        <ion-row class="WrongAnswer">
          <p>You Selected the Wrong Answer</p>
        </ion-row>
        <ion-row class="TryAgain">
         <p> Try Again .....</p>
        </ion-row>
        </ion-card>
    </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" style="height:60%;">
    <ion-row>
      <ion-col padding style="text-align: -webkit-center;"> 
        <button no-margin ion-button text-capitalize full small class="submitBtn" (click)="SubmitBtn()" [disabled]="buttonDisabled"><span style="color: #fff !important;">SUBMIT</span></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>