page-quiztask {
        .background {  
            background: url("../assets/imgs/mobbg.png"); 
        }
        .heading {
            font-size: 13px !important;
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 400;
            color: #FFF;
        }
        .sub-heading {
            font-size: 10px !important;
            margin-top: 5px;
            margin-bottom: 5px;
            color:#FFF;
        }
        .cards-list-demo {
            padding: 2px;
            background-color: #f4f8fb; 
        }
        .progress-outer { 
            width:100%; 
            height: 25%;
            margin:0px auto; 
            background-color: #f4f4f4; 
            color: #fff; 
          } 
          .progress-inner { 
            width: 30%;  
            height: 25%;       
            white-space: nowrap; 
            padding: 3px; 
            background-color: rgb(187, 19, 19); 
          }
        .submitBtn {
            width: 60%;
            height: 5.0rem;
            letter-spacing: 0.05rem;
            background-color: #b71717 !important;
            border-radius: 17px;
        }
        .toolbar-background-md {
            border-color: #000000;
        }
          .toolbar-background-ios {
            border-color: #000000;
        }
        .toolbar-md-dark .toolbar-background-md {
            background: #000;
        }
         .toolbar-ios-dark .toolbar-background-ios {
            background: #000;
        }
        .headingtitle {
            font-size: 13px !important;
        }
        .scroll-content {
            margin-top: 44px !important;
        }

        .after-click h2{
            margin: 0px auto;
            color: #09ff00;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        .box {
            background-color:#365833;    
            box-shadow: 0px 0px;
            padding: 5px;
        }
        .after-click-1 p {
            margin: 0px auto;
            color: #09ff00;
            font-size: 10px !important;
            font-weight: 100;
        }
        .ohhno h2 {
            margin: 0px auto;
            color: red;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        .WrongAnswer p {
            margin: 0px auto;
            color: #d51010;
            font-size: 12px !important;
            font-weight: 200;
        }
        .TryAgain p {
            margin: 0px auto;
            color: #d51010;
            font-size: 12px !important;
            font-weight: 200;
        }
        .box1 {
            background-color:transparent;    
            box-shadow: 0px 0px;
            padding: 5px;
            border: 0px;
        }




        .card {
            box-shadow: 0px 0px;
            padding: 5px;
        }

        .cardimage {
            margin: 10px;
            border-radius: 2px;
            width: calc(100% - 20px);
            font-size: 1.4rem;
            background: #fff;

            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;

            background-color:transparent;    
            border: 0px !important;
            box-shadow: 0px 0px;
            padding: 5px; 

            width: 120px !important;
            margin: 0px auto;
            height: 120px !important;
        }

        .card img { 
            width: 120px !important;
            margin: 0px auto;
            height: 120px !important;
        }


        .button-inner {
            color: #333333 !important;
        }




        .quiz {
            border-radius:5px;
            background-color: #fff;
            color: #000;
            width: 100%; 
            height: 4.1rem;
            margin-bottom: -20px;
            padding-top: 7px;
        }

        .btnSelectQuiz {
            background-color: blue !important;
            color: white !important;
            border-radius: 5px;
            width: 100%;
            height: 4.1rem;
            margin-bottom: -20px;
            padding-top: 7px;
        } 

        .txtSelectQuiz {
            background-color: blue !important;
            color: white !important;
        } 

        .txtspan {
            background-color: #fff;
            color: #000;
        }

        .btnans {
            background-color: #06b500;
            color: #fff;
            border-radius: 5px;
            width: 100%;
            height: 4.1rem;
            margin-bottom: -20px;
            padding-top: 7px;
        }

        .txtans {
            background-color: #06b500;
            color: #fff;
        }
        .txtanswrong {
            background-color: #D51010;
            color: #fff;
        }
        .btnanswrong {
            border-radius: 5px;
            background-color: #D51010;
            color: #fff;
            width: 100%;
            height: 4.1rem;
            margin-bottom: -20px;
            padding-top: 7px;  
        }

        .imgwrong {

            margin: 10px;
            border-radius: 2px;
            width: calc(100% - 20px);
            font-size: 1.4rem;
            background: #fff;

            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            
            background-color:#D51010 !important;
            border: 1px solid #D51010 !important;
            box-shadow: 0px 0px;
            padding: 5px;

            width: 120px !important;
            margin: 0px auto;
            height: 120px !important;
        }
        .imgright {
            margin: 10px;
            border-radius: 2px;
            width: calc(100% - 20px);
            font-size: 1.4rem;
            background: #fff;

            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;

            background-color:#06b500 !important;
            border: 1px solid #06b500 !important;
            box-shadow: 0px 0px;
            padding: 5px;
            
            width: 120px !important;
            margin: 0px auto;
            height: 120px !important;
        }

        .imgcardSelect {
            margin: 10px;
            border-radius: 2px;
            width: calc(100% - 20px);
            font-size: 1.4rem;
            background: #fff;

            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;

            background-color:blue !important;
            border: 1px solid blue !important;
            box-shadow: 0px 0px;
            padding: 5px;

            width: 120px !important;
            margin: 0px auto;
            height: 120px !important;
        }
     
        .back-button.show-back-button {
            display: none !important;
        }
       
}