page-rewardscart {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
      .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
       .toolbar-title-ios {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
    .cardcart {
        width: 94.50%;
        border: 1px solid rgba(148, 148, 148, 0.41);
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .CheckoutBtn {
        background-color: #D51010 !important;
        height: 4.6rem;
        border: 1px solid #949494;
        width: 77%;
        border-radius: 11px;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: regular;
     }
     .titlecart {
        font-size: 14px !important;
        margin-top: 8px;
        color: #949494;
        font-family: medium;
        padding-right: 5px;
     }
     .supplier {
        color: #fff;
        font-size: 13px !important;
        font-family: medium;
     }
     .supplierName {
        color: #949494;
        font-size: 13px !important;
        font-family: medium;
     }
     .cartpoints {
        font-size: 14px !important;
        color: #F4F8FB;
        margin-top: 20px;
        font-family: medium;
     }
     .iteminput {
        width: 82%;
        height: 3.3rem;
        min-height: 3.3rem;
        border-radius: 11px;
        padding-left: 31px;
     }
     .removeBtn {
        color: #F4F8FB;
        background-color: #B71717;
        border-radius: 11px;
        min-height: 3.3rem;
        width: 85%;
        text-transform: capitalize;
     }
     .rowcarttotal {
        padding-top: 12px;
        padding-bottom: 10px; 
        border-top: 1px solid rgba(148, 148, 148, 0.41);
        border-bottom: 1px solid rgba(148, 148, 148, 0.41);
        background-color: rgba(255, 255, 255, 0.05);
     }
     .ptotaltxt {
        color: #F4F8FB;
        padding-left: 27px;
     }
     .ptotalamt {
        color: #F4F8FB;
        text-align: end;
        padding-right: 33px;
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB;
     }
    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #F4F8FB;
     }
     .back-button.show-back-button {
      display: block !important;
      }
      .DivQty {
         position: relative;
         font-size: 1.6rem;
         font-weight: normal;
         text-transform: none;
         color: #000;
         background-color: #fff;
         width: 82%;
         height: 3.3rem;
         min-height: 3.3rem;
         border-radius: 11px;
         text-align: center;
      }
      .DivQty p {
    margin: 0px !important;
    padding: 0px !important;
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: regular;
      }

      .scroll-content {
         margin-bottom: 66px !important;
      }
      .item-md {
         min-height: 2.5rem;
         border-radius: 22px;
         color: #949494;
      }
      .item-ios {
         min-height: 2.5rem;
         border-radius: 22px;
         color: #949494;
      }
      .select-text {
         padding-top: 2px;
         min-width: 41px;
      }
}