<!--
  Generated template for the RewardscartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title text-center>Items In Cart</ion-title>
  </ion-navbar>
</ion-header> 

<ion-content no-padding class="bgcolor">

<ion-card class="cardcart" *ngIf="CartStatus">  
  <ion-row *ngIf="BlankArrStatus">
    <ion-col class="col-12" padding-bottom>
      <p text-wrap class="titlecart" text-center>Your Reward Store Cart is empty.</p>
    </ion-col>
  </ion-row>
  <!-- <ion-row *ngIf="DataCartValue.length!=0">
    <ion-col class="col-12" padding-bottom>
      <p text-wrap class="titlecart" text-center *ngIf="itemlist.length==0">Your Reward Store Cart is empty.</p>
    </ion-col>
  </ion-row> -->
</ion-card>  

<!-- <div *ngIf="CartStatus">
<div *ngIf="itemlist.length!=0"> -->
  <ion-row no-padding no-margin class="rowcarttotal" *ngIf="itemlist.length!=0">
    <ion-col no-padding no-margin class="col-6">
      <p no-padding no-margin class="ptotaltxt">Cart Total</p>
    </ion-col>
    <ion-col no-padding no-margin class="col-6">
        <p no-padding no-margin class="ptotalamt">{{ total_points }}</p>
    </ion-col>
  </ion-row>

  <ion-card class="cardcart" *ngFor="let item of itemlist;let i=index;">
    <ion-row>
    <ion-col  class="col-2" padding>
      <img src="assets/imgs/noimage.png" alt="{{item.prod_name}}" *ngIf="item.imgmain=='' || item.imgmain==null"> 
        <img [src]="item.imgmain" class="selfml-13" alt="{{item.prod_name}}" onError="this.src='assets/imgs/noimage.png'">
    </ion-col>
    <ion-col class="col-10" padding-bottom>   
          <p text-wrap class="titlecart">{{ item.prod_name }} Rs.{{ item.mrp }}/-</p>
          <p>
            <span class="supplier">Supplier</span>
            <span class="supplierName">: {{ item.sku }}</span> 
          </p>
          <p class="cartpoints">{{ CartAmount(item.qty,item.denominations) }}</p> 
            <div class="selffullwidth selfmt-10">
              <!-- <div style="float: left; width: 30%;">
                <ion-item class="iteminput" text-center>  
                  <ion-input type="number" value="1"></ion-input>
                </ion-item>
              </div> -->
              <div style="float: left; width: 50%;">
                <div class="DivQty">
                  <ion-item>   
                    <ion-select [(ngModel)]="item.qty" class="SelectOption" no-padding #C (ionChange)="onChange(C.value)">
                      <ion-option [value]="item" *ngFor="let item of QuantityArr">{{item}}</ion-option>  
                    </ion-select>
                  </ion-item>
                </div>  
              </div>
              <div style="float: right; width: 50%;"> 
                <button ion-button icon-start clear small class="removeBtn" no-margin (click)="RemoveCart(i)">
                  Remove
                </button>
              </div>
            </div>
    </ion-col>
  </ion-row>
  </ion-card>
<!-- </div>
</div> -->

  <!-- <ion-card class="cardcart">
    <ion-row>
    <ion-col  class="col-4" padding>
        <img src="assets/imgs/alen-soly.png" class="selfml-13">
    </ion-col>
    <ion-col class="col-8" padding-bottom>
          <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
          <p>
            <span class="supplier">Supplier</span>
            <span class="supplierName">: Achne Techno</span> 
          </p>
          <p class="cartpoints">10,000</p>
            <div class="selffullwidth selfmt-10">
              <div style="float: left; width: 50%;">
                <ion-item class="iteminput" text-center>
                  <ion-input type="number" value="1"></ion-input>
                </ion-item>
              </div>
              <div style="float: right; width: 50%;">
                <button ion-button icon-start clear small class="removeBtn" no-margin>
                  Remove
                </button>
              </div>
            </div>
    </ion-col>
  </ion-row>
  </ion-card> -->
</ion-content>
<ion-footer no-padding *ngIf="CartStatus">  
  <ion-row *ngIf="!BlankArrStatus"> 
    <ion-col col-md-12 text-center>
        <button ion-button class="CheckoutBtn" (click)="checkout()" *ngIf="itemlist.length!=0">Balance Points</button>
        <button ion-button class="CheckoutBtn" *ngIf="itemlist.length==0" disabled="true">Balance Points</button>
    </ion-col>
  </ion-row>
</ion-footer>