page-revieworder {
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .grid {
        margin-top: 32%;
    }
    .card-md {
        margin:10px;
        border-radius: 10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #B71717;
        box-shadow: 0px 0px;
    }
       .card-ios {
        margin:10px;
        border-radius: 10px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #B71717;
        box-shadow: 0px 0px;
    }
    img {
        width: 37%;
        margin: 0 auto;
    }
    .dialog {
        margin-bottom: 19px;
    }
    .closeBtn {
        font-family: regular;
        color:#333333;
        box-shadow: 0px 0px;
        border:1px solid #949494;
        background-color: #FCFCFC !important;
        width: 60%;
        margin: 0px auto;
        height: 4.5rem;
        border-radius: 12px;
        text-transform: inherit;
        font-size: 18px;
    }
    .Txtmsg {
        font-family: regular;
        color:#F4F8FB;
        font-size: 14px !important;
    }
    .TxtBold {
        font-weight: 700;
    }
    .button-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: #949494;
    }
    .button-outline-ios {
        border-width: 1px;
        border-style: solid;
        border-color: #949494;
    }
}