<!--
  Generated template for the RevieworderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="content-area">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <div class="dialog">
        <ion-card-content style="padding:20px; text-align: center;">
          <img src="assets/imgs/Bud Trade App Icons-03.png"> 
        </ion-card-content> 
        <p no-padding no-margin class="Txtmsg TxtBold" text-center>You have Successfully placed an</p>
        <p no-padding no-margin class="Txtmsg TxtBold" text-center>order for <span *ngIf="NoItems>1"> {{ " "+NoItems }} items</span><span *ngIf="NoItems==1">{{ NoItems }} item</span>!</p>
        <p no-padding no-margin class="Txtmsg" text-center>Your order will be processed within 48</p>
        <p no-padding no-margin class="Txtmsg" text-center>business hours</p>
        <ion-row>
          <ion-col col-12 text-center>
            <button ion-button outline (click)="NextOrderBtn()">GO TO MY ORDER SUMMARY</button> 
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col col-md-6 text-center> 
            <button ion-button class="closeBtn" (click)="NextBtn()"><span style="color:#000;">CLOSE</span></button>  
          </ion-col>
        </ion-row>
        </div>
      </ion-card>
    </ion-row>
    </ion-grid>
</ion-content>