<!--
  Generated template for the UsrprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-buttons left *ngIf="BackBtnShow">
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons>
       <ion-title *ngIf="ServerButton">{{user_detail_name}}'s Profile</ion-title>
       <ion-title *ngIf="!ServerButton">Profile</ion-title> 
    </ion-navbar>
  </ion-header>

<ion-content no-padding no-margin>
  <ion-grid no-padding no-margin class="selfgrid"> 

    <ion-row no-padding no-margin class="rowstore" style=" background:#000000;" > 
      <ion-col col-12 text-center no-padding no-margin>  
        <img src="assets/imgs/Bud Trade App Icons-02.png" class="imgstore" *ngIf="OutletManger">
        <img src="assets/imgs/Bud Trade App Icons-01.png" class="imgstore" *ngIf="MysteryShopper">
        <p class="p-store" *ngIf="ServerButton">{{displayname}} ({{user_code}})</p>
        <p class="storee" *ngIf="ServerButton">{{channel}}</p>
        <p class="storee" *ngIf="ServerButton">{{user_detail_name}}</p> 
        <p class="storee" *ngIf="ServerButton">{{role_name}}</p>
         
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="rowprofile selfmt-8" (click)="ep()">
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 
     
     </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="ios-home-outline" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Edit Profile</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
        <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="rowprofile " (click)="st()" *ngIf="OutletManger"> 
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 

     </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
         <ion-icon ios="ios-cart" md="md-cart" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Order Summary</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- <ion-row no-padding no-margin class="rowprofile " (click)="st()">
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 

     </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
         <ion-icon name="ios-settings-outline" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Settings</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row> -->

<!-- 
    <ion-row no-padding no-margin class="rowprofile" (click)="af()" >
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 

      </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="text" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">App Feedback</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row> -->

    <ion-row no-padding no-margin class="rowprofile"(click)="cu()">
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 
      
      </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="ios-call-outline" class="iconleft"></ion-icon> 
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Contact Us</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="rowprofile"(click)="pb()">
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 
   
      </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
        <ion-icon name="logo-bitcoin" class="iconleft"></ion-icon> 
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Coins Ledger</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="rowprofile" (click)="hp()"> 
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 
     </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
         <ion-icon name="ios-help-circle-outline" mode="ios" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">FAQ  </p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="rowprofile"  (click)="LogoutBtn()"> 
      <ion-col col-1 class="col-1" text-center no-padding no-margin> 
     </ion-col>
      <ion-col col-1 class="col-2" text-center no-padding no-margin> 
         <ion-icon name="ios-log-out-outline" mode="ios" class="iconleft"></ion-icon>
      </ion-col>
      <ion-col col-10 class="col-8 borderbottom" text-left no-padding no-margin>  
        <p class="p-txt">Logout</p>
      </ion-col>
      <ion-col col-1 class="col-1 borderbottom" no-padding no-margin text-center> 
         <ion-icon name="ios-arrow-forward-outline" mode="ios" class="iconright"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-padding no-margin *ngIf="TabIndex==4">
  <ion-row>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(1)">
        <ion-icon name="md-home" mode="md" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Home</span>
      </a>  
    </ion-col>
    <ion-col col-3>
        <a class="AUnSelect" (click)="TabIcon(2)">  
          <ion-icon name="md-reorder" mode="md" class="IconTabUnSelect"></ion-icon>
          <span class="SpanTextUnSelect">Coins</span>
        </a>  
    </ion-col>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(3)" >
        <ion-icon name="md-reorder" mode="md" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Reward Store</span>
      </a> 
    </ion-col>
    <ion-col col-3>
      <a (click)="TabIcon(4)" [ngClass]="{ 'ASelect': TabIndex ==4 }">
        <ion-icon name="md-person" mode="md" [ngClass]="{ 'IconTabSelect': TabIndex ==4 }"></ion-icon>
        <span [ngClass]="{ 'SpanTextSelect': TabIndex ==4 }">Profile</span>
      </a> 
    </ion-col>
  </ion-row>
</ion-footer>