page-usrprofile {
    .toolbar-background {
        background-color:   #000006 !important;
      }

      ion-title {
        text-align: center !important;

    }
    .toolbar-title{
        color: #F4F8FB !important;
    }

    .selfgrid{
        padding-left: 12px !important;
        padding-right: 12px !important;
        padding-top: 8px !important;
    }
    .imgstore{
        padding-top: 15px !important;
        width: 30%;
    }
    .p-store {  
        color: #F4F8FB;
        padding-top: 5px !important;
        font-size: 18px !important;
        margin-bottom: 0px;
  
    }
    .toolbar-background-md {
        border-color: #eff3f6;
        background: #eff3f6;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 18px;
        font-weight: 500;
        color: #25283b;
    }
    .content-md {
        color: #333333;
        background-color: #B71717;
    }
    .rowstore {
        background-color: #fff;
    }

    .rowprofile { 
        background: #B71717;
    }
    .selfmt-8{
        margin-top: 8px !important;  
    }
    .imgshop{
        padding-top: 14px;
        margin-left: 2px;
        width: 81%;
    }
    .p-txt {
        color: #F4F8FB;
    font-size: 16px !important;
    padding-top: 14px;
    padding-left: 5px;
    }

    .iconright{
        color: #c8c7cc;
        padding-top: 14px;
        font-size: 17px !important;
    }

  
    .iconleft {
        font-size: 24px !important;
        padding-top: 14px;
        margin-left: 2px;
    }



}
.item-ios {
    padding-left: 16px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #94949468;
    background-color: transparent !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0px solid #c8c7cc;
}

.text-input-ios {
    margin: 1px 8px 1px 0;
    padding: 0;
    width: calc(100% - 8px);
}
.item-input ion-label {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: 200px;
    pointer-events: none;
    font-size: 14px;
    color: #F4F8FB;
}
.content-ios {
    color: #cccccc;
}
page-usrprofile .selfgrid {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 8px !important;
    background: #000000;
    /* border-radius: 94px; */
}

page-usrprofile .rowprofile {
    background: #B71717;
    border: 1px solid #B71717;
    margin-bottom: 2px;
    border-radius: 5px;
}

  
.toolbar-background {
    background-color:   #000006;
  }



  ion-icon {
    display: inline-block;
    font-size: 1.2em;
    color: aliceblue;
}
.content-ios {
    color: #000;
    background-color: #000;
}
page-usrprofile .content-md {
    color: #333333;
    background-color: #000;
}
.storee {
    color: #F1950B;
    padding-top: 1px !important;
    font-size: 11px !important;
    margin-bottom: 0px;
}  