<!--
  Generated template for the FortunewheelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons>
     <ion-title>Try your luck here</ion-title>
    </ion-navbar>
  </ion-header>

   
   <ion-content  class="background">
   <div class="container-fluid">
    <div class="container">
            <!-- <div >

                    <p style="font-size: 17px;">Try your luck here</p>
                    <div class="spin margin-top">
                        <div>
                                <div style="float:left;">
                                        <p style="color:#2170f4;">Earned Amount </p>
                                        <p style="font-size: 20px;">$200 </p>
                                    </div>
                                    <div style="float:right;padding: 5px 0px;">
                                        <button [disabled]="wof_button==false" class= "btn btn-primary" > Claim now</button>
                                    </div>
                        </div>
                    
                    </div>
                   </div> -->
                <div class="zoom">
                   
                    <table class="ww" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <!-- <td>
                            <div class="power_controls">
                                <br />
                                <br />
                                <table class="power" cellpadding="10" cellspacing="0">
                                    <tr>
                                        <th align="center">Power</th>
                                    </tr>
                                    <tr>
                                        <td width="78" align="center" id="pw3" (click)="powerSelected(3);">High</td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="pw2" (click)="powerSelected(2);">Med</td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="pw1" (click)="powerSelected(1);">Low</td>
                                    </tr>
                                </table>
                                <br />
                                <button id="spin_button" alt="Spin" (click)="startSpin();" > Spin</button>
                                <br /><br />
                                &nbsp;&nbsp;<a href="#" (click)="resetWheel()">Play Again</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(reset)
                            </div>
                        </td> -->
                        <td width="438" height="640" class="the_wheel" style="position: relative;" valign="center">
                              
                            <canvas  id="canvas" width="434" height="434" style=" margin-left: 8%;width: 84%;"></canvas>
                            <img style="position: absolute;left: 45%;    top: 15%;;" src="assets/imgs/marker.png">
                      
                        </td>
                    </tr>
                </table>
               
                <!-- <button id="spin_button" alt="Spin"  > Spin</button>
                <button (click)="resetWheel()">load</button> -->
                
                </div>
                
                
                
                
                
    </div>
   </div>

<!-- 

    <div >
  
      <button type="button" class="btn btn-default" style="color: #ffffff;background-color: #2170f4;" (click)="startSpin();" >SPIN</button>
      
    </div>

 -->


    <!-- <div >

      <button type="button" class="btn btn-default" (click)="confirm()" style="color: #ffffff;background-color: #2170f4;" >BACK</button>
     
    </div>




 -->











<!-- <ion-grid no-margin no-padding id="wofhide" style="display:block;"> 
<ion-row no-margin no-padding>
  <ion-col col-12 no-margin no-padding text-center>
    <p no-margin no-padding>Your Wheel Of Fortune has locked</p> 
  </ion-col>
</ion-row>
</ion-grid> -->
<button id="success" (click)="presentAlert()" style="display:none"></button>
<button ion-button class="text-center text-white" style="width: 100%;background-color: #B71717;box-shadow: none;  padding: 32px;  border-radius: 32px;"   (click)="startSpin();">Spin the Wheel</button> 

</ion-content>










