.button-inner{
    color: #F4F8FB !important;
}
ion-title {
    text-align: center;
    
}
.toolbar-title{
    color: #F4F8FB;
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
    color: white !important;
}

 .alert-wrapper {
    border-radius: 13px;
    overflow: hidden;
    max-width: 270px;
    background-color: #B71717 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #F4F8FB;
}

.alert-sub-title{
    color: #F4F8FB !important;
    margin: 15px 0px !important;
    text-align: center !important;
}

page-fortunewheel {
    .tabs-md .tabbar {
        background: #000 !important;
      
        display: none !important;
    }
    
.show-tabbar{
    display: none;
}
    .footer {
     background-color: transparent;
    }
   /* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(../assets/imgs/Artboard_2.png);
    background-position: center;
    background-repeat: none;
}
.spin{
    width: 29%;
    border: 1px solid black;
    padding: 1%;
    height: 69px;
}

.btn-primary {
    background-color: #2170f4;
    border-color: #2170f4;
    height: 33px;
    width: 100%;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}
.sub_title{
    margin: 7px 0px;
}

.container-fluid{
  
}

.container {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #d0d6da;
    padding: 20px 26px;
}

.zoom{
   
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
    text-align: -webkit-right;
    margin-right: 10%;
    background: transparent; 
}
.background {
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%) !important; 
     
        }
@media (max-width:969px) {
    .spin{
        width: 60%;
     
    }
    .ww{
        margin-top: 4%;
    }


}

@media (max-width:767px) {

    .ww{
        margin-top: 4%;
    }
    .tabs-md .tabbar {
        background: #000 !important;
      
        display: none !important;
    }
    
    .container-fluid {
        padding: 0px;
       

      }
      
      .spin{
        width: 90%;
        border: 1px solid black;
        padding: 5%;
        height: 69px;
    }
    
.container {
    width: 100%;
    margin: 0px;
    border:0px;
   
}
    .zoom{
   
        zoom: 0.8; /* Other non-webkit browsers */
        zoom: 60%; /* Webkit browsers */
        text-align: -webkit-center;
        margin-right: 0%;
    }
  }


}
