page-outletnotification {
    .background {  
        padding-bottom: 16px !important;
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        background: #190909;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #F4F8FB;
        margin-left: -10px;
        font-family: medium;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #F4F8FB;
        background-color: transparent;
    }
    .notification{
       background-color: rgb(183, 23, 23);
       text-transform: capitalize; 
       border-radius: 5px;
    }
    .notifyname {
        color: #F4F8FB;
        font-size: 9pt !important;
        font-family: medium;
    }
    .icons {
        display: inline-block;
        font-size: 2.2em;
        color: #F4F8FB;
    }
    .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
        margin: 8px 0px 8px 0;
    }
    .timerp {
        color: #F4F8FB !important; 
        font-size: 9pt !important; 
        font-family: medium;
        padding-top: 5px;
    }

    .cardcart {
        width: 94.50%;
        border: 1px solid rgba(148, 148, 148, 0.41);
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }

    .titlecart {
        font-size: 14px !important;
        margin-top: 8px;
        color: #949494;
        font-family: medium;
        padding-right: 5px;
     }
}