<!--
  Generated template for the OutletnotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center >Notification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
<div *ngIf="GetDataServer">
  <ion-card class="cardcart" *ngIf="GetDataServerBlank">  
    <ion-row >
      <ion-col class="col-12" padding-bottom>
        <p text-wrap class="titlecart" text-center>No Data Found.</p>
      </ion-col>
    </ion-row>
  </ion-card>  
</div>


  <ion-row no-padding *ngFor="let notification of data">
    <ion-col col-12 style="padding:2px 5px;" (click)="navigate(notification.landing_page)">  
      <ion-item class="notification" no-lines>
        <ion-avatar item-start>
          <ion-icon class="icons" name="notifications"></ion-icon>
        </ion-avatar>
        <p text-wrap class="notifyname">{{notification.notification}}</p>
        <p class="timerp">{{notification.created_date}}</p>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>