<!--
  Generated template for the RetailerOutletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-icon name="arrow-back" style="font-size: 27px;"></ion-icon>
      <ion-title>Retailer Outlet</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-row>
          <ion-col col-12>
            <ion-card>
     
               <div class="camera-pic text-center pt-4">
                   <img class="img-fluid img-back" src="assets/imgs/photo_camera.png">
                </div>  
                
                <ion-card-content>
                   <ion-card-title class="panel-heading">
                      You are about to enrol a retailer outlet                
                    </ion-card-title>
                 
                 <hr> 
                 <p>To enroll a retailer outlet:</p> 
                <ol class="py-4">
                  <li>Fill the form on the next page</li>
                  <li>Get the retailer to download the App and login with his mobile number</li>
                </ol> 
                <p>Until the retailer downloads the app and logs in, the retailer will remain 'Unverified' and the points from your outlet activation cannot be added to your account.</p>  
                <p class="bottom-txt"><em>Click on add picture when you are ready!</em></p>
               </ion-card-content>
     
             </ion-card>
           </ion-col>
        </ion-row>
  </ion-content>
  <ion-footer>
      <div class="py-3 text-center text-white" (click)="AddPic()">
          <p no-padding no-margin>ADD PICTURE OF STORE FRONT</p>
      </div>
  </ion-footer>
