page-posmaudit {
.center-text{
    justify-content: center;
    display: flex;
}

.background {  
    background: url("../assets/imgs/mobbg.png"); 
}
.crads{
    padding: 10px;
    background-color: #b71717;
    color: #FFF;
    text-transform: capitalize;
}
.toolbar-background-md {
    background: #190909;  
}
.toolbar-background-ios {
    background: #190909;  
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
    margin-left: -10px;
}
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
    margin-left: -10px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
} 
.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
    color: #ffffff;
    background-color: transparent;
} 
ion-card img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.back-button.show-back-button {
    display: none !important;
}


.col-points {
    font-size: 13px !important;
    font-family: medium;
    color: #fff;
    margin-top: 6px;
}

.posmaudittype {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 72px;
    font-family: regular;
    font-size: 13px;
    font-size: 13px !important;
    margin-top: 6px;
    margin-left: -16px;
}

.toolbar-title-md {
    margin-right: 9% !important;
} 

.toolbar-title-ios {
    margin-right: 9% !important;
} 
}
