<!--
  Generated template for the PosmauditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
     </ion-buttons>
    <ion-title>Visibility</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-row no-padding> 
    <ion-col col-6 class="col-6" no-padding *ngFor="let value of auditdata;let i=index;"> 
      <ion-card class="crads" (click)="NextClick(i)" *ngIf="value.status_code==0 || value.status_code==2">
        <div style="width: 100%;">
          <div style="width: 100%;float: right;color: #fff;text-align: right;padding-bottom: 5px;">{{ value.posm_status }}</div>
        </div>
        <div class = "item item-avatar"> 
          <img [src]="value.posm_image_template"> 
       </div>
       <div class ="item item-body">
         <ion-row no-padding style="padding-top: 5px;"> 
      <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
        <p class="posmaudittype">{{value.posm_audit_type }}</p> 
      </ion-col>
        <ion-col class="center-text col-4" col-4 no-padding text-right >
          <p class="col-points">{{value.points}}</p>
        </ion-col>
        </ion-row>
       </div>
      </ion-card>

      <ion-card class="crads" *ngIf="value.status_code==1">
        <div style="width: 100%;">
          <div style="width: 100%;float: right;color: #fff; text-align: right;padding-bottom: 5px;">{{ value.posm_status }</div>
        </div>
        <div class="item item-avatar">
          <img [src]="value.posm_image_template">
       </div>
       <div class ="item item-body">
        <ion-row no-padding style="padding-top: 5px;"> 
     <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
       <p class="posmaudittype">{{value.posm_audit_type }}</p> 
     </ion-col>
       <ion-col class="center-text col-4" col-4 no-padding text-right >
         <p class="col-points">{{value.points}}</p>
       </ion-col>
       </ion-row>
      </div>
      </ion-card>
 
      <ion-card class="crads" *ngIf="value.status_code==3"> 
        <div style="width: 100%;">
          <div style="width: 100%;float: right;color: #fff; text-align: right;padding-bottom: 5px;">{{ value.posm_status }}</div>
        </div>
        <div class="item item-avatar">
          <img [src]="value.posm_image_template">
       </div>
       <div class ="item item-body">
        <ion-row no-padding style="padding-top: 5px;"> 
     <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
       <p class="posmaudittype">{{value.posm_audit_type }}</p> 
     </ion-col>
       <ion-col class="center-text col-4" col-4 no-padding text-right >
         <p class="col-points">{{value.points}}</p>
       </ion-col>
       </ion-row>
      </div>
      </ion-card>

    </ion-col> 
  </ion-row>
</ion-content>