<!--
  Generated template for the PosmpopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content no-padding no-margin class="content-area">
  <ion-row>
    <ion-col col-10 offset-1 no-margin no-padding style="margin-right: 30px;margin-left: 30px;">
      <div class="panel" style="background-color: #b71717;">
        <div class="panel-body p-4">
              <div class="box pb-4 text-center ColorWhite" >   
                <p class="p-color1 ColorWhite" style="font-size: 24px !important;" no-margin>Successfully</p>  
                <p class="p-color1 ColorWhite" style="font-size: 22px !important;" no-margin>Submitted!</p> 
              </div>
              <div class="box pb-4 text-center">
                <p class="selffont-s-16 p-color1 ColorWhite" no-margin>Once your image is verified successfully,</p>
                <p class="selffont-s-16 p-color1 ColorWhite" no-margin>we will get in touch with you within</p>
                <p class="selffont-s-16 p-color1 ColorWhite" no-margin>48-hours.</p>
              </div>
              <div class="footer-btn" text-center>
                <button ion-button (click)="closemodal(true)" class="SuccessClose">
                  <span style="color:#535353">Close</span>
                </button> 
              </div>
          </div>
      </div>
    </ion-col>
  </ion-row>
  </ion-content>
