<!--
  Generated template for the LanguagedropPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-row no-padding no-margin>
        <!-- <ion-col col-1  no-padding no-margin> 
            <ion-icon ios="ios-arrow-back" md="md-arrow-back" mode="ios" style="font-size: 27px;margin-left: 12px;" ></ion-icon> 
        </ion-col> -->
        <ion-col col-11  no-padding no-margin text-left> 
            <ion-title no-padding no-margin>Select default language</ion-title>  
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <div class="container">
        <ion-row>
        <div class="moredetails-text text-center mt-3 mb-5">
         <p class="text-secondry" no-padding no-margin>Select your default app language from the drop</p>
         <p class="text-secondry" no-padding no-margin>down below before you get started.</p>  
        </div>
        <ion-list>
            <ion-item class="mb-5" (click)="OpenModal()">
              <p no-padding no-margin class="langtxt">{{ default_langTxt }}</p> 
              <ion-icon item-left class="icontxt">{{ default_lang }}</ion-icon> 
              <ion-icon item-end ios="ios-arrow-forward" md="md-arrow-forward" mode="ios" style="color: #9b9b9b;"></ion-icon> 
            </ion-item>
          </ion-list>
        </ion-row>
      </div>
    </ion-content>
    <ion-footer>
        <div class="py-3 text-center text-white">
            <p no-padding no-margin (click)="SaveNext()">NEXT</p>  
        </div>
    </ion-footer>
  
