page-languagedrop {
    ion-list{
        width: 100%;
    }
    ion-item {
        border: 1px solid #979797!important;
        border-radius: 5px!important;
    }
    .list-ios .item-block .item-inner {
        border: 0px!important;
    }
    ion-footer{
        background:#2170f4;
    }
    .no-match {
        background: #d75a4a38;
        width: 100%;
        border-radius: 50px;
    }
    .no-match  p{
        color: #d75a4a;
        padding: 5px 0;
    }
    .toolbar-md ion-title {
        padding: 0px !important;
    }
    .toolbar-ios ion-title {
        padding: 0px !important;
    }
    .text-secondry {
        font-size: 14px !important;
        text-align: center !important;
    }
    .langtxt {
        font-size: 16px !important;
    }
    .icontxt{  
        color: #9b9b9b;
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .moredetails-text{
        width: 100%; 
    }

    .back-button.show-back-button {
        display: none;
    }
    
}