<!--
  Generated template for the PointsBruntPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coins Ledger</ion-title>
  </ion-navbar>

</ion-header>




<ion-content class="background" fullscreen padding="" >
  <div class="row" style="background-color: #B71717; "   >

      <div class="col-12 mx-auto">
        <p class="phead" style="    text-align: center;">Earning will be released on  {{date}}</p>
        <p class="points" style="    text-align: center; color: azure;"> <span> <img src="assets/imgs/rewardcoin.png"></span>{{total_points}}</p>
      </div>
         
  </div>
  <div class="row" style="background-color: #0000006e; margin-top: 5px;    margin-bottom: 5px;"  *ngFor="let list of datas ;"  >

    <div class="col-8 ">
      <p class="phead" style="    text-align: lefy;">{{list.description}}</p>
      <p class="pheadd" style="    text-align: lefy;">{{list.cretaed_on}}</p>
    </div>
    <div class="col-4">    <p class="phead" style="    text-align: right;"><span> <img src="assets/imgs/rewardcoin.png"></span>{{list.points}}</p></div>      
</div>


</ion-content>

