
<!--
  Generated template for the TermsandconditionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
--> 

<ion-header no-border no-shadow>
  <ion-navbar> 
    <ion-title text-center>Terms and Conditions</ion-title>
  </ion-navbar>
</ion-header>  
<ion-content padding class="background">
      <div  class="sub-heading" [innerHtml]="terms_conditions">  </div> 
<!-- <div padding-bottom> 
<div text-wrap>
<p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
</div>
<div  class="sub-heading" text-wrap>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
</div>
</div> 
   <div padding-bottom> 
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>  
   <div padding-bottom> 
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>  
 <div padding-bottom> 
    <div text-wrap>
      <p class="heading">Lorem ipsum dolor Lorem ipsum dolor</p>
    </div>
    <div  class="sub-heading" text-wrap>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt amet, nisi accusamus odit tempore voluptatum totam aliquid unde. Vero modi dolore saepe vel rem possimus, nisi exercitationem quos aliquam ab!
    </div>
  </div>  -->
</ion-content>
<ion-footer>    
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col no-padding style="text-align: -webkit-center;"> 
          <button no-margin padding ion-button text-capitalize full small color="light"  class="agree" (click)="SaveBtn()">
            <span class="agreeBtn">I AGREE</span>  
          </button>   
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>