page-termsandconditions {
    ion-footer{
        background:#2170f4;
    } 
    .back-button.show-back-button {
        display: none;
    } 
    .background {  
        background: url("../assets/imgs/mobbg.png"); 
    }
            .toolbar-background-md {
                background: #190909;
            }
                .toolbar-background-ios {
                background: #190909;
            }
            .toolbar-title-md{
                color: #FFF !important;
                text-align: center !important;
            }
               .toolbar-title-ios{
                color: #FFF !important;
                text-align: center !important;
            }
            .heading{
                font-size: 14px !important;
                margin-top: 5px;
                margin-bottom: 5px;
                font-weight: 400;
            }
            .cards-list-demo{
                padding: 2px;
                background-color: #f4f8fb;  
            }
            .agree{
                width: 75%;
                height: 40px;
            }
            .toolbar-background-md {
                border-color: #230805;
                background: #1b0705;
            }
                  .toolbar-background-ios {
                border-color: #230805;
                background: #1b0705;
            }
         
      
            .button-md-light {
                color: #a9a9a9;
                background-color: #eaeaea;
            }
            .button-ios-light {
                  color: #a9a9a9;
                background-color: #eaeaea;
            }
            .toolbar-md-dark .toolbar-background-md {
                background: #000;
            }
            .toolbar-ios-dark .toolbar-background-ios {
                background: #000;
            }
            .button-md-light {
                color: #a9a9a9;
                background-color: #eaeaea;
                border-radius: 14px;
                height: 4.6rem;
                width: 60%;
            }
                 .button-ios-light {
                color: #a9a9a9;
                background-color: #eaeaea;
                border-radius: 14px;
                height: 4.6rem;
                width: 60%;
            }
            /*
            .sub-heading{
                font-size: 11px !important;
                margin-top: 5px;
                margin-bottom: 5px;
                font-weight: 400;
            } 
            */
            /* New design */
            .sub-heading { 
                padding-bottom: 16px !important;
            }
            .sub-heading p {
                padding: 0px !important;
                background: transparent !important;
                margin: 15.0pt 0cm 7.5pt 0cm !important;
            }
            .sub-heading p span {
                color: #fff !important;
                font-size: 12.0pt !important;
            }
            ol, ul { 
                margin: 0px !important;
                padding: 0px !important;
            }
            ol li { 
                background: transparent !important;
                text-indent: 0pt !important;
                color: #949494 !important;
            }
            ol li span {
                color: #949494 !important;
                font-size: 12.0pt !important;
            }
            ul li { 
                background: transparent !important;
                text-indent: 0pt !important;
            }
            ul li span {
                color: #fff !important;
                font-size: 12.0pt !important;
            }
            .scroll-content {
                padding-top: 0px !important;
            }

            .agreeBtn {
                color: #949494 !important;
                font-size: 18px !important;
                font-family: regular !important;
            }
            
        
              /* End of  New design */
}