page-targets {

    .toolbar-background {
        background-color:   #000006;
      }

      .background {
        background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
         rgb(20,0,9) 100%); 
         
            }
    
            ion-title {
                text-align: center;
                
            }
            .toolbar-title{
                color: #F4F8FB;
            }
        
            .row {
                display: flex;
              }
              
              /* Create two equal columns that sits next to each other */
              .column {
                flex: 50%;
                padding: 4px;
                height: auto;/* Should be removed. Only for demonstration */
              }
              .pheadd{
                font-size: 13px !important;
                color: #F4F8FB;
                font-family: regular;
                text-align: right;
                margin: 4px 5px;
              }
              .pheadda{
                font-size:10px !important;
                color: #F4F8FB;
                font-family: regular;
                text-align: left;
                margin: 4px 5px;
              }


                .points{
                    margin-bottom: 0px;
                    color: #FFFFFF;
                    font-size: 14px !important;
                    font-family: regular;
                }
      
        
                
}
 
page-targets .column {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  padding: 1px 1px;
  height: auto;
  margin: 0px 0px;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff !important;
  background-clip: padding-box;
border: none !important;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 4px !important;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}
.current_month{
  background-color:#E7A918 ;
}
.previous_month{
  background-color: #B71717;
}
.previous_m{
  background-color: rgba(0,0,0,0.5);
}

.toolbar-title-ios {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  pointer-events: auto;
}

.current_m{
  background-color: rgba(0,0,0,0.1);
}