<!--
  Generated template for the TargetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
       <ion-title>Targets & Achievements</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="background" fullscreen >

  <div class="">
    <ion-slides autoplay="2000" loop="true" speed="100s" pager="true" no-padding >
      <ion-slide> 
        <img src="assets/imgs/bud4trade_target 1.jpg" >
      </ion-slide>
      <ion-slide> 
        <img  src="assets/imgs/bud4trade_target 2.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/bud4trade_target 3.jpg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="column" *ngFor="let ques of points_structure_data ;">
        <div  style="background-color:#000000;text-align: center;    padding: 7px 0px;        ">
          <p class="points">{{ques.brand_category_name}}</p>
          <p  class="points" >{{ques.points_structure}}</p>
        </div>
      
      </div>
      <!-- <div class="column">
        <div  style="background-color:#000000;text-align: center;padding: 16px 0px;">
          <p class="points">Core</p>
          <p  class="points" >1 cs = 6 points</p>
        </div>
      
      </div> -->
      <!-- <div class="column">
        <div  style="background-color:#000000; text-align: center;padding: 16px 0px;">
          <p class="points">Core</p>
          <p  class="points" >1 cs = 6 points</p>
        </div>
      
      </div> -->
<!-- 
      <div class="column">
        <div  style="background-color:#000000;text-align: center;padding: 16px 0px;">
          <p class="points">Core</p>
          <p  class="points" >1 cs = 6 points</p>
        </div>
      
      </div> -->
      
    </div>


  
  </div>

<br>
<div style="height: 44vh;overflow-y: scroll;    padding-bottom: 10px;">
  <div *ngFor="let datas of data ;" >
    <div>
      <p *ngIf="datas.current_month"  class="pheadda" style="color: #FFFFFF;float: left; background-color: #E7A918;padding: 4px 17px;">Current Month Targets & Acheivements</p>
      <p class="pheadd" style="color: #FFFFFF;     font-size: 10px !important;   margin-bottom: 9px ; float: right;">Last Updated on {{datas.target_month_text}},{{datas.sales_year}}</p>
    </div>
   <div style="clear: both;"></div>
    <div  style="    height: auto;    overflow-y: scroll;   " [ngClass]="datas.current_month === true ? 'current_month' : 'previous_month'">
  
      <div class="row" >
        <div class="col-4"> <p class="pheadd" style="    text-align: center;">Category</p></div>
        <div class="col-4 mx-auto"><p class="pheadd" style="    text-align: center;">Target</p></div>
        <div class="col-4"><p class="pheadd" style="    text-align: center;">Achieved</p></div>
      </div>
      <div class="row" style="padding: 0px 13px;" *ngFor="let category_data of datas.category_data ;">
        <div class="col-4" style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd " [ngClass]="datas.current_month === true ? 'current_m' : 'previous_m'" style="text-align: center;font-size: 12px !important;">{{category_data.brand_category_name}}</p></div>
        <div class="col-4 mx-auto"  style="padding-right: 2px;padding-left: 2px;" ><p class="pheadd"  [ngClass]="datas.current_month === true ? 'current_m' : 'previous_m'" style=" font-size: 12px !important;text-align: center;">{{category_data.target_qty}} </p></div>
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;" >    <p class="pheadd"  [ngClass]="datas.current_month === true ? 'current_m' : 'previous_m'" style="font-size: 12px !important;text-align: center;">{{category_data.achieved_qty}} </p></div>
      </div>
    </div>
    <br>
  </div>
   
  <!-- <div>
  
    <p class="pheadd" style="color: #FFFFFF;    margin-bottom: 9px;">Last Updated on Jan 02/01/2020</p>
    <div  style="height: auto;background-color: #B71717;">
  
      <div class="row">
        <div class="col-4" > <p class="pheadd" style="    text-align: center;">Category</p></div>
        <div class="col-4 mx-auto"><p class="pheadd" style="    text-align: center;">Target</p></div>
        <div class="col-4">    <p class="pheadd" style="    text-align: center;">Achieved</p></div>
      </div>
      <div class="row"  style="    padding: 0px 13px;">
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;" style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd" style="    text-align: center;    background-color: #00000026;">1</p></div>
        <div class="col-4 mx-auto"  style="padding-right: 2px;padding-left: 2px;"><p class="pheadd" style="    text-align: center;    background-color: #00000026;">Outlet </p></div>
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;">    <p class="pheadd" style="    text-align: center;    background-color: #00000026;">700</p></div>
      </div>
  
      <div class="row"  style="    padding: 0px 13px;">
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;"> <p class="pheadd" style="    text-align: center;    background-color: #00000026;">1</p></div>
        <div class="col-4 mx-auto"  style="padding-right: 2px;padding-left: 2px;"><p class="pheadd" style="    text-align: center;    background-color: #00000026;">Outlet </p></div>
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;">    <p class="pheadd" style="    text-align: center;    background-color: #00000026;">700</p></div>
      </div>

      <div class="row"  style="    padding: 0px 13px;">
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;" style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd" style="    text-align: center;    background-color: #00000026;">1</p></div>
        <div class="col-4 mx-auto"  style="padding-right: 2px;padding-left: 2px;"><p class="pheadd" style="    text-align: center;    background-color: #00000026;">Outlet </p></div>
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;">    <p class="pheadd" style="    text-align: center;    background-color: #00000026;">700</p></div>
      </div>

      <div class="row"  style="    padding: 0px 13px;">
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;" style="padding-right: 2px;padding-left: 2px;" > <p class="pheadd" style="    text-align: center;    background-color: #00000026;">1</p></div>
        <div class="col-4 mx-auto"  style="padding-right: 2px;padding-left: 2px;"><p class="pheadd" style="    text-align: center;    background-color: #00000026;">Outlet </p></div>
        <div class="col-4"  style="padding-right: 2px;padding-left: 2px;">    <p class="pheadd" style="    text-align: center;    background-color: #00000026;">700</p></div>
      </div>
    </div>
    <br>
  </div> -->
</div>

<!-- <ion-grid>
  <ion-row>
    <ion-col class="col-6">
      <div  style="background-color: #000000;">
        <p style="color: white;
        text-align: center">Core</p>
        <p style="color: white;
        text-align: center">1 cs = 6 points</p>
      </div>
     
    </ion-col>

    <ion-col class="col-6">
      <div  style="background-color: #000000;">
        <p style="color: white;
        text-align: center">Core</p>
        <p style="color: white;
        text-align: center">1 cs = 6 points</p>
      </div>
     
    </ion-col>

    <ion-col class="col-6">
      <div  style="background-color: #000000;">
        <p style="color: white;
        text-align: center">Core</p>
        <p style="color: white;
        text-align: center">1 cs = 6 points</p>
      </div>
     
    </ion-col>
    <ion-col class="col-6">
      <div  style="background-color: #000000;">
        <p style="color: white;
        text-align: center">Core</p>
        <p style="color: white;
        text-align: center">1 cs = 6 points</p>
      </div>
     
    </ion-col>
  </ion-row>
 

</ion-grid> -->
</ion-content>
