<!--
  Generated template for the KlloginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- 
<ion-header>
  <ion-navbar> 
    <ion-title text-center>COOLER</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <ion-row no-padding>
    <ion-col col-12 no-padding>
      <ion-card class="crads">
        <div class="item item-avatar"> 
          <img src="assets/imgs/chillers2.png">
       </div>
      </ion-card>
    </ion-col>
    </ion-row>

    <ion-row padding margin-top>  
      <ion-col col-6 no-padding text-left	class="imagename">Take an image of cooler</ion-col>
      <ion-col col-6 no-padding text-right class="imagepoints">100</ion-col> 
    </ion-row>

    <ion-row padding style="color: #FFF;margin-top: 5px;">
      <ion-col col-12 no-padding text-center>Instructions</ion-col>
    </ion-row>

    <ion-row padding style="color: #FFF;margin-top: 5px;font-size: 10px;">
      <ion-col col-3 no-padding text-center>
        <img src="assets/imgs/selfie.png" class="imgSelfie">
        <br>
        <span class="InstructionsTxt">Take Image</span>
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon"></ion-icon>
      <ion-col col-3 no-padding text-center>
        <img src="assets/imgs/chillers2.png" class="imageFooter"> 
        <br>
        <span class="InstructionsTxt">Cooler</span>
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon" ></ion-icon>
      <ion-col col-3 no-padding text-center >
        <img src="assets/imgs/correct.png" >
        <br>
        <span class="InstructionsTxt">Purity Check</span>
      </ion-col>
      <ion-icon name="md-arrow-forward" class="arrowForwardIcon"></ion-icon>
      <ion-col col-3 no-padding text-center>
        <img src="assets/imgs/rewards2.svg">
        <br>
      </ion-col>
    </ion-row>

<ion-row>  
  <ion-col col-2 class="col-2" no-padding text-center> 
  </ion-col>
  <ion-col col-8 class="col-8" no-padding text-center> 
  <ion-item class="username" style="border: 1px solid #FFF;background-color: azure;
      border-radius: 20px; color: black;text-align: center;">
       <ion-label>Types of Brands</ion-label>
    <ion-select [(ngModel)]="TypeofBrands" style="min-width: 100%;color: black;text-align: center;">
        <ion-option value="1">abc</ion-option>
    </ion-select> 
  </ion-item>   
</ion-col>
<ion-col col-2 class="col-2" no-padding text-center> 
</ion-col>
</ion-row>

<ion-row margin-top> 
  <ion-col col-2 class="col-2" no-padding text-center> 
  </ion-col>
  <ion-col col-8 class="col-8" no-padding text-center>
  <ion-item class="username" style="border: 1px solid #FFF;background-color: azure;
      border-radius: 20px; color: black;">
  <ion-select [(ngModel)]="TypeOfChillers" style="min-width: 100%;color: black;text-align: center;">
    <ion-option value="1">abc</ion-option>
  </ion-select>
  </ion-item>
</ion-col>
<ion-col col-2 class="col-2" no-padding text-center> 
</ion-col>
</ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar> 
    <ion-row>
      <ion-col no-padding style="text-align: -webkit-center;">
          <button margin padding-top padding-bottom ion-button round text-capitalize full small style="width: 60%;height:50px ;font-size: 15px;background-color:#b71717;text-transform: inherit !important;" (click)="ActionSheetFile()">Take a Picture</button> 
      </ion-col>
  </ion-row>
  </ion-toolbar>  
</ion-footer> -->

<ion-header style="z-index: 102;">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
     </ion-buttons>
    <ion-title>Cooler</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background" style="z-index: 101;">
  <ion-row no-padding> 
    <ion-col col-6 class="col-6" no-padding  *ngFor="let value of auditdata;let i=index;" >
      <ion-card class="crads" (click)="NextClick(i)" *ngIf="value.status_code==0">
        <div style="width: 100%;">
          <div style="width: 50%;float: right;color: #fff;text-align: right;padding-bottom: 5px;">{{ value.posm_status }}</div>
        </div>
        <div class = "item item-avatar"> 
          <img [src]="value.posm_image_banner"> 
       </div>
       <div class ="item item-body">
         <ion-row no-padding style="padding-top: 5px;"> 
      <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
        <p class="posmaudittype">{{value.posm_audit_type }}</p> 
      </ion-col>
        <ion-col class="center-text col-4" col-4 no-padding text-right >
          <p class="col-points">{{value.points}}</p>
        </ion-col>
        </ion-row>
       </div>
      </ion-card>
      <ion-card class="crads" *ngIf="value.status_code==1">
        <div style="width: 100%;">
          <div style="width: 50%;float: right;color: #fff; text-align: right;padding-bottom: 5px;">{{ value.posm_status }}</div>
        </div>
        <div class="item item-avatar">
          <img [src]="value.posm_image_banner">
       </div>
       <div class ="item item-body">
        <ion-row no-padding style="padding-top: 5px;"> 
     <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
       <p class="posmaudittype">{{value.posm_audit_type }}</p> 
     </ion-col>
       <ion-col class="center-text col-4" col-4 no-padding text-right >
         <p class="col-points">{{value.points}}</p>
       </ion-col>
       </ion-row>
      </div>
      </ion-card>
      <ion-card class="crads" *ngIf="value.status_code==3">
        <div style="width: 100%;">
          <div style="width: 50%;float: right;color: #fff; text-align: right;padding-bottom: 5px;">{{ value.posm_status }}</div>
        </div>
        <div class="item item-avatar">
          <img [src]="value.posm_image_banner">
       </div>
       <div class ="item item-body">
        <ion-row no-padding style="padding-top: 5px;"> 
     <ion-col class="center-text col-8" col-8 no-padding text-left padding-left>
       <p class="posmaudittype">{{value.posm_audit_type }}</p> 
     </ion-col>
       <ion-col class="center-text col-4" col-4 no-padding text-right >
         <p class="col-points">{{value.points}}</p>
       </ion-col>
       </ion-row>
      </div>
      </ion-card>
    </ion-col> 
  </ion-row>
</ion-content>