page-stars {

    .content-md {
        color: #000;
        background-color: transparent !important;
    }
    .rating {
        margin-right: 24%;
    }
    
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }
    
    .rating:not(:checked) > label {
        float:right;
        width:1em;
        padding:0.1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
    }
    
    .rating:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rating > input:checked ~ label {
        color: #f70;
    }
    
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
    }
    
    
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
    }
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: initial !important;
        overflow-y: initial !important;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        padding: 0px 16px 16px 16px !important;
    }
 
}
