<!--
  Generated template for the StarsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <fieldset class="rating">
    <!-- <input type="radio" [name]="inputName" value="10" [checked]="rating===10" />
    <label  (click)='onClick(10)' [class.disabled]="disabled">10 stars</label>
  
    <input type="radio" [name]="inputName" value="9" [checked]="rating===9" />
    <label  (click)='onClick(9)' [class.disabled]="disabled">9 stars</label>
  
    <input type="radio" [name]="inputName" value="8" [checked]="rating===8" />
    <label  (click)='onClick(3)' [class.disabled]="disabled">3 stars</label>
  
    <input type="radio" [name]="inputName" value="7" [checked]="rating===7" />
    <label  (click)='onClick(7)' [class.disabled]="disabled">7 stars</label>
  
    <input type="radio" [name]="inputName" value="6" [checked]="rating===6" />
    <label  (click)='onClick(6)' [class.disabled]="disabled">6 star</label> -->
  
    <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
    <label  (click)='onClick(5)' [class.disabled]="disabled">5 star</label>
  
    <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
    <label  (click)='onClick(4)' [class.disabled]="disabled">4 star</label>
  
    <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
    <label  (click)='onClick(3)' [class.disabled]="disabled">3 star</label>
  
    <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
    <label  (click)='onClick(2)' [class.disabled]="disabled">2 star</label>
  
    <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
    <label  (click)='onClick(1)' [class.disabled]="disabled">1 star</label>
  
  </fieldset>
</ion-content>
