page-start-quiz {


    .toolbar-background {
        background-color:   #000006;
      }


.background {
    background: linear-gradient(top, rgb(10,0,1) 0%, rgb(118,13,12) 32%, rgb(118,13,12) 63%,
     rgb(20,0,9) 100%); 
     
        }

        ion-title {
            text-align: center;
            
        }
        .toolbar-title{
            color: #F4F8FB;
        }

        
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#000000;
    color: white;
    text-align: center;
    padding: 16px;
 }



 .quiz_button{
    background-color: #D51010;
    padding: 9px 51px;
    border-radius: 17px;
    color: #FFFFFF;
 }
 

        .back-button.show-back-button {
            display: block !important;
            padding-right: 21px;
            padding-left: 0px !important;
        } 
        
         .scroll-content {
            padding-bottom: 82px !important;
         }
   
}