<!--
  Generated template for the StartQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <ion-buttons left>
    <button ion-button navPop icon-only>
    
   </button>
   </ion-buttons>
     <ion-title>Draught Beer Good Practice</ion-title>
    </ion-navbar>
  </ion-header>



<ion-content class="background" fullscreen padding="10px" >
  <div style="color:white" [innerHTML]="instructions">

  </div>
  <!-- <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>
 

  <p class="phead">Serving Well to ensure Customer Satisfication</p>
  <p class="pbody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t</p>
  -->


</ion-content>
<div class="footer">
  <button class=" quiz_button" (click)="ques()">Start Quiz</button>
</div>


  

Dev server logger closed