page-ordersummary {
    .bgcolor {  
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1b0705;
        background: #1b0705;
    }
       .toolbar-background-ios {
        border-color: #1b0705;
        background: #1b0705;
    }
    .toolbar-title-md {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
       .toolbar-title-ios {  
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5px;
        font-family: medium;
    }
    .cardcart {
        width: 94.50%;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .RedeemBtn {
        background-color: #D51010 !important;
        height: 4.6rem;
        border: 1px solid #949494;
        width: 60%;
        border-radius: 11px;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: regular;
     }
     .titlecart {
        font-size: 14px !important;
        margin-top: 8px;
        color: #949494;
        font-family: medium;
        padding-right: 5px;
     }
     .supplier {
        color: #fff;
        font-size: 13px !important;
        font-family: medium;
     }
     .supplierName {
        color: #949494;
        font-size: 13px !important;
        font-family: medium;
     }
     .cartpoints {
        font-size: 14px !important;
        color: #F4F8FB;
        margin-top: 20px;
        font-family: medium;
     }
     .rowCartTotal { 
        background-color: transparent;
        padding-bottom: 0px !important;
        margin-bottom: -14px !important;
        margin-top: 5px !important;
    
     }
    .totalleft {
        color: #949494;
        font-size: 15px !important;
        font-family: regular;
     }
     .totalright {
        color: #F4F8FB;
        font-size: 15px !important;
        font-family: medium;
     }
     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
      color: #F4F8FB;
     }
       .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
      color: #F4F8FB;
     }
}