<!--
  Generated template for the OrdersummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Balance Points</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="bgcolor">

  <ion-card class="cardcart" *ngFor="let item of products;let i=index;">
      <ion-row>
      <ion-col  class="col-2" padding>
          <img src="{{ item.imgmain }}" class="selfml-13">
      </ion-col>
      <ion-col class="col-10" padding-bottom>
            <p text-wrap class="titlecart">{{ item.prod_name }} Rs.{{ item.mrp }}/-</p>
            <p>
              <span class="supplier">Supplier</span>
              <span class="supplierName">: {{ item.sku }}</span>  
            </p>
              <div class="selffullwidth selfmt-10">
                <div style="float: left; width: 50%;">
                  <p class="cartpoints">{{ CartAmount(item.qty,item.denominations) }}</p>
                </div>
                <div style="float: right; width: 50%;">
                  <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;{{ item.qty }}</p> 
                </div>
              </div>
      </ion-col>
    </ion-row>
    </ion-card> 



<!--       
      <ion-card class="cardcart">
      <ion-row>
      <ion-col  class="col-4" padding>
          <img src="assets/imgs/alen-soly.png" class="selfml-13">
      </ion-col>
      <ion-col class="col-8" padding-bottom>
            <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
            <p>
              <span class="supplier">Supplier</span>
              <span class="supplierName">: Achne Techno</span> 
            </p>
              <div class="selffullwidth selfmt-10">
                <div style="float: left; width: 50%;">
                  <p class="cartpoints">10,000</p>
                </div>
                <div style="float: right; width: 50%;">
                  <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                </div>
              </div>
      </ion-col>
    </ion-row>
    </ion-card>
    
      <ion-card class="cardcart">
      <ion-row>
      <ion-col  class="col-4" padding>
          <img src="assets/imgs/alen-soly.png" class="selfml-13">
      </ion-col>
      <ion-col class="col-8" padding-bottom>
            <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
            <p>
              <span class="supplier">Supplier</span>
              <span class="supplierName">: Achne Techno</span> 
            </p>
              <div class="selffullwidth selfmt-10">
                <div style="float: left; width: 50%;">
                  <p class="cartpoints">10,000</p>
                </div>
                <div style="float: right; width: 50%;">
                  <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                </div>
              </div>
      </ion-col>
    </ion-row>
    </ion-card>
    <ion-card class="cardcart">
      <ion-row>
      <ion-col  class="col-4" padding>
          <img src="assets/imgs/alen-soly.png" class="selfml-13">
      </ion-col>
      <ion-col class="col-8" padding-bottom>
            <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
            <p>
              <span class="supplier">Supplier</span>
              <span class="supplierName">: Achne Techno</span> 
            </p>
              <div class="selffullwidth selfmt-10">
                <div style="float: left; width: 50%;">
                  <p class="cartpoints">10,000</p>
                </div>
                <div style="float: right; width: 50%;">
                  <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                </div>
              </div>
      </ion-col>
    </ion-row>
    </ion-card>

    <ion-card class="cardcart" style="margin-bottom: 75px;">
      <ion-row>
      <ion-col  class="col-4" padding>
          <img src="assets/imgs/alen-soly.png" class="selfml-13">
      </ion-col>
      <ion-col class="col-8" padding-bottom>
            <p text-wrap class="titlecart">Allen Solly e-Gift Voucher Rs.1000/-</p>
            <p>
              <span class="supplier">Supplier</span>
              <span class="supplierName">: Achne Techno</span> 
            </p>
              <div class="selffullwidth selfmt-10">
                <div style="float: left; width: 50%;">
                  <p class="cartpoints">10,000</p>
                </div>
                <div style="float: right; width: 50%;">
                  <p class="cartpoints">Qty&nbsp;&nbsp;&nbsp;&nbsp;1</p>
                </div>
              </div>
      </ion-col>
    </ion-row>
    </ion-card>   -->


</ion-content>
<ion-footer no-padding>
  <ion-row class="rowCartTotal">  
    <!-- <ion-col class="col-9" no-margin><p no-margin text-right class="totalleft">Cart Total</p></ion-col>
    <ion-col class="col-3" no-margin><p no-margin text-left class="totalright">30,000</p></ion-col>
    <ion-col class="col-9" no-margin><p text-right class="totalleft">Balence Points</p></ion-col>
    <ion-col class="col-3" no-margin><p text-left class="totalright">20,000</p></ion-col> -->

    <ion-col class="col-9" no-margin><p no-margin text-right class="totalleft">Cart Total</p></ion-col>
    <ion-col class="col-3" no-margin><p no-margin text-left class="totalright">{{ points_to_be_redeem }}</p></ion-col>
    <ion-col class="col-9" no-margin><p text-right class="totalleft">Balence Points</p></ion-col>
    <ion-col class="col-3" no-margin><p text-left class="totalright">{{ balance_points }}</p></ion-col>
    
  </ion-row>
    <ion-row>
      <ion-col col-md-12 text-center>  
        <button ion-button (click)="redeemBtn()" class="RedeemBtn">Redeem</button>
      </ion-col>
    </ion-row>
</ion-footer>