<!--
  Generated template for the RewardcategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> 
    <ion-buttons left > 
      <button ion-button icon-only (click)="CloseBtn()" class="my-style-for-modal"> 
          <ion-icon name="arrow-back"></ion-icon>  
      </button>
    </ion-buttons>
    <ion-title text-center>Reward Store</ion-title>
    <button ion-item icon-only item-end no-padding no-margin class="btnicon" (click)="CartBtn()">
      <ion-icon name="ios-cart-outline" mode="ios" no-padding no-margin></ion-icon>
      <!-- <a class="numicon">10</a>  -->
    </button>
  </ion-navbar>
</ion-header> 
<ion-content no-padding no-margin class="bgcolor">  
  <ion-grid no-padding no-margin> 
    <div class="">
      <ion-slides autoplay="2000" loop="true" speed="100s" pager="true" no-padding >
        <ion-slide> 
          <img  src="assets/imgs/bud4trade_reward 2.jpg" />
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/bud4trade_reward 1.jpg" >
        </ion-slide>
      </ion-slides>
    </div>
    <ion-row no-padding no-margin class="allcat">
      <ion-col col-12 class="col-12" no-padding no-margin text-center>
        <p no-padding no-margin class="catheader">All Categories</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding no-margin style="background-color: #000; padding-bottom: 30px;margin-bottom: 50px;">
    <ion-row no-padding no-margin [ngClass]="{ 'selfmt-10': i !=0 }" *ngFor="let item of categorylist; let i=index;" (click)="NextBtn(i)">
      <ion-col col-12 class="col-12" no-padding no-margin style="padding-left: 8px;">
        <div class="box"> 
          <img [src]="item.imagepath" *ngIf="item.imagepath!=null" alt="{{item.category_name}}" style="width: 100%;height: 125pt;">  
          <img src="assets/imgs/noimage.png" *ngIf="item.imagepath==null" alt="{{item.category_name}}" style="width: 100%;height: 125pt;"> 
            <!-- <div class="overylay1">
              <div class="textnew">   
              <p no-padding no-margin class="catname">{{item.category_name}}</p>    
            </div> 
          </div> -->
      </div> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-padding no-margin *ngIf="TabIndex==3">
  <ion-row>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(1)">
        <ion-icon name="md-home" mode="md" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Home</span>
      </a>  
    </ion-col>
    <ion-col col-3>
        <a class="AUnSelect" (click)="TabIcon(2)">  
          <ion-icon name="md-reorder" mode="md" class="IconTabUnSelect"></ion-icon>
          <span class="SpanTextUnSelect">Coins</span>
        </a>  
    </ion-col>
    <ion-col col-3>
      <a (click)="TabIcon(3)" [ngClass]="{ 'ASelect': TabIndex ==3 }">
        <ion-icon name="md-reorder" mode="md" [ngClass]="{ 'IconTabSelect': TabIndex ==3 }" style="margin-top: 5px;"></ion-icon>
        <span [ngClass]="{ 'SpanTextSelect': TabIndex ==3 }" style="font-size: 9px;">Reward Store</span>
      </a> 
    </ion-col>
    <ion-col col-3>
      <a class="AUnSelect" (click)="TabIcon(4)">
        <ion-icon name="md-person" mode="md" class="IconTabUnSelect"></ion-icon>
        <span class="SpanTextUnSelect">Profile</span>
      </a> 
    </ion-col>
  </ion-row>
</ion-footer>
