page-rewardcategory {
    .bgcolor {
        background: url("../assets/imgs/mobbg.png"); 
    }
    .toolbar-background-md {
        border-color: #1c0806;
        background: #1c0806;
        text-align: end;
        width: 100%;
    }
        .toolbar-background-ios {
        border-color: #1c0806;
        background: #1c0806;
        text-align: end;
        width: 100%;
    }
    ion-title {
        width: 70%;
        float: left;
        padding-top: 7px !important;
    }
    .btnicon {
        color: #fff;
        background-color: #1c0806;
        width: 15%;
        float: right;
        font-size: 1.2rem;
        padding-top: 3px !important;
    }
    .btniconback{
        color: #fff;
        background-color: #1c0806;
        width: 15%;
        float: left;
        font-size: 1.5rem;
        padding-left: 10px !important;
    }
    .numicon {
        color: #fff !important;
        background-color: #2170f4;
        position: absolute;
        top: 0px;
        left: 12px;
        padding: 3px;
        border-radius: 50%;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }
    .toolbar-md {
        padding: 0px !important;
        padding-top: 4px !important;
        padding-right: 4px !important;
        padding-left: 4px !important;
        min-height: 31px;
    }
       .toolbar-ios {
        padding: 0px !important;
        padding-top: 4px !important;
        padding-right: 4px !important;
        padding-left: 4px !important;
        min-height: 31px;
    }
    .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
        border: 1px solid rgba(148, 148, 148, 0.41);
        width: 98%;
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
        text-align: center;
        width: 77%;
    } 
    .overylay1 {
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    }
    .textnew {  
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
    .overlay {  
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* position: relative; */
        z-index: 1;
      }
      .catdesc{
        font-size: 16px !important;
        color: #fff;
      }
      .catname{
        font-size: 22px !important;
        color: #FDFDFD;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-family: regular;
      }
      .back-button.show-back-button {
        display: none;
      }
    .catheader {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .toolbar-title-md {
        color: #fff !important;
        text-align: end;
        width: 89%;
        padding-top: 3px;
    }
    .toolbar-title-ios {
        color: #fff !important;
        text-align: end;
        width: 89%;
        padding-top: 3px;
    }
    .allcat {
        background-color: #000;
        color: #fff;
        padding-bottom: 12px;
        padding-top: 12px;
        margin-top: -52px;
    }
    .selfmt-24 {
        margin-top: -24px;
    }
    .back-button.show-back-button {
        display: none !important;
    }
    .bar-buttons-md {
        margin-top: -5px;
    }
    .bar-buttons-ios {
        margin-top: -5px;
    }
}
