page-youhaverecvd {
    .content-area {
        background-color: rgba(0,0,0,.5);
    }
    .heading h2 {
        margin: 0px auto;
        color: #FFF;
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .sub-heading h1 {
        margin: 0px auto;
        color: #FFF;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .box {
        background-color:#e02121;
        padding-top: 12%;
        padding-bottom: 10%;
        box-shadow: 0px 0px;
        border-radius: 10px;
    }
    .qtr-sub-heading p {
        margin: 0px auto;
        color: #FFF;
        font-size: 10px;
        font-weight: 100;
        margin-bottom: 15px;
    }
    .done {
        width: 80%; 
        height: 45px;
        background-color: #FFF;
        color:#000;
        font-size: 15px;
    }
    .button-inner {
        color: #000 !important;
    }
}
