<!--
  Generated template for the YouhaverecvdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->  
<ion-content padding class="content-area">
  <ion-card class="box" style="margin-top: 30%;">
      <ion-row class="heading">
        <h2>Congratulations!</h2>
      </ion-row>
      <ion-row class="sub-heading">
        <ion-col col-12 class="col-12" text-center style="margin: 0px !important;padding: 0px !important;"> 
            <p style="color: #FFF;font-size: 20px !important;font-weight: 500;margin: 0px !important;padding: 0px !important;">You have Received</p>
        </ion-col> 
        <ion-col col-12 class="col-12" text-center style="margin: 0px !important;padding: 0px !important;">
            <div style="width: 100%;"><div style="width: 54%;float: left;"><p style="color: #FFF; font-size: 18px !important; font-weight: 500; margin: 0px !important; padding: 0px !important; text-align: end; padding-top: -23px;">{{ points }}</p></div><div style="width: 44%;float: right;"><img src="assets/imgs/coin_2.png" style="width: 16px;height: 16px;margin-top: 4px;"></div></div>
         </ion-col>
      </ion-row>
    <ion-row class="qtr-sub-heading">
      <p>for completing the {{ CourseName }} Quiz!</p>
    </ion-row>
      <ion-row>
        <ion-col padding style="text-align: -webkit-center;">
          <button no-margin ion-button round text-capitalize full small class="done" (click)="CloseModal()">Done</button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>